[2020-02-19 18:01] jonahm-LANL opened #2 "Running simple example"
I tried running a simple example on the `parthenon-init` branch. I wrote a simple little example input file to try to match the `example/main.cpp` function:

[code]

and compiled as
[code]

Compilation went through but the code segfaults when I try to run. It would be nice if we had a minimum working example.

Alternatively, are there some tests I can attempt to run?

[2020-02-19 20:03] #2 closed, assigned to AndrewGaspar, jlippuner, jonahm-LANL

[2020-03-02 17:01] pgrete opened #9 "Documentation and communication"
In the process of looking through the current code and how to make the initial changes in include Kokkos, I noticed several useful features (e.g., the testing infrastructure or the example directory) and also different branches (e..g, the parthenon-init branch).
Unfortunately, I wasn't able to find the corresponding pieces of "documentation" that include information on what's been implemented/work

[2020-03-03 18:09] pgrete opened #16 "Linting"
In the process of setup up the CI runners I was wondering if people have strong opinions on linting?
Running the Athena++ `cpplint` configuration currently results in the output below.
Similar to the workflow discussion I prefer to have implement some kind of linting sooner than later (though I don't have strong opinions on the actual method used).
What do people think?

[code]

[2020-03-04 15:45] AndrewGaspar opened #21 "Add capability for allocating or defining application Metadata flags"

[2020-03-04 15:46] AndrewGaspar opened #22 "Start a developer guide"
See previous discussion on #9

cc @pgrete @JoshuaSBrown

[2020-03-04 16:44] pgrete opened #24 "Required packages (MPI and HDF5)"
CI found the first "issue" :D (https://gitlab.com/pgrete/parthenon/-/jobs/459451585)

@AndrewGaspar  is there a specific reason for MPI and HDF5 be mandatory?

I think these should be optional packages in Parthenon and then be required in the physics application package if desired.
If I remember our discussion at the workshop correctly, having the possibility to run the code in a minimal environme

[2020-03-04 17:30] AndrewGaspar opened #25 "Put code in namespace"
We should probably put the code in a namespace since some of the types and routines are fairly generic.

Probably namespace `parthenon`.

cc @pgrete @JoshuaSBrown

[2020-03-06 00:53] jonahm-LANL opened #28 "Output generates .visit file"
I notice that while visualizing output with visit, visit isn't smart enough to group files together into a time series. This can be solved by writing a visit file as described here:
https://visit-sphinx-github-user-manual.readthedocs.io/en/develop/gui_manual/WorkingWithFiles/Supported_File_Types.html

I can make one by hand, but really we should just add one when we do HDF output.

[2020-03-06 14:02] pgrete opened #31 "Kokkos integration"
Opening this issue to keep track of various todos related to the Kokkos integration as I expect this going to be a gradual integration rather a one PR fits all commit.

- [x] Add Kokkos as submodule incl integration
- [x] Add loop wrapper for any dimension
- [ ] Add TeamThreadRange abstraction
- [x] Add nested wrappers
- [x] Replace AthenaArrays with Kokkos Views (fixed dimensional typedefs)
- [x]

[2020-03-06 15:55] #28 closed, assigned to jonahm-LANL

[2020-03-06 20:04] jonahm-LANL opened #32 "Names inherited from `Athena`?"
I'm curious what people's thoughts are on retaining names inherited from athena. For example `athena_array`, `athdf`, `athinput`, etc. On the one hand these names aren't wrong. We have retained the input format and the output format, for example. On the other hand they may be confusing, compared to, e.g., `parthinput`.

Obviously this isn't urgent, but I wanted to ask this question and hear people

[2020-03-10 16:00] #25 closed, assigned to JoshuaSBrown

[2020-03-12 20:58] gshipman opened #45 "Open parthenon to the public"
Hi folks, any remaining issues need to be resolved (renaming, squashing commits, etc..) prior to opening up parthenon?

[2020-03-12 21:50] pgrete opened #46 "Metadata flag conversion not working with nvcc"
In the process of integrating Kokkos I stumbled across a bug when compiling for Cuda (i.e., using the `nvcc_wrapper`) where a conversion from a list to a vector for  the `Metadata::flags` seems to fail.

[code]

[2020-03-13 16:47] pgrete opened #48 "Replace ran2 with standard RNG"
It may be worth replacing the custom RNG implementation `src/utils/ran2.cpp` with one of the standard library.

[2020-03-13 16:58] jdolence opened #49 "Better associate requirements in input files with applications/drivers"
In writing the pi example, I discovered that the input file requires things like boundary conditions and tlim to be specified, which are of course irrelevant in this application.  It's good to require things be specified, but they should be tied to the actual application being developed.

[2020-03-13 18:19] jdolence opened #50 "Should we remove all the exception handling?"
The exceptions are not caught and dealt with, they just make the code die anyway.  Does anyone object to just removing all the exception handling at the driver level of the code?

[2020-03-13 18:35] jdolence opened #51 "Remove compile time constant MAX_TASKS"
Need a smarter way to deal with this issue in tasks.hpp

[2020-03-14 00:12] #9 closed, assigned to nobody

[2020-03-14 00:12] #22 closed, assigned to AndrewGaspar

[2020-03-14 00:23] #24 closed, assigned to nobody

[2020-03-16 07:34] #46 closed, assigned to nobody

[2020-03-16 07:39] pgrete opened #53 "List of people involved @all"
I just noticed that I'm still having troubles assigning people to project in my minds (despite trying to get those down with notes).
Would people mind if we add a "List of contributors/collaborators" at the bottom of the `Readme.md` with some indication of which team they are working for (we don't need to use the actual names -- different symbol would be fine).
This would also make it easier to pi

[2020-03-16 14:43] jonahm-LANL opened #54 "Deleting old branches?"
As we merge branches in, I'd like to delete merged branches. What do people think about this? I think it will help keep the repo clean.

[2020-03-18 15:23] jdolence opened #58 "Improve AMR functionality"
Should be able to refine on user-selectable variables with some generically useful criteria with adjustable tolerances.

[2020-03-18 19:44] #16 closed, assigned to nobody

[2020-03-18 22:11] jdolence opened #61 "Support restarts"
Currently restarting a simulation is broken, but is obviously required functionality.

[2020-03-18 23:55] #51 closed, assigned to nobody

[2020-03-19 21:13] jdolence opened #62 "Get rid of awful names"
Basically everything with "Better" should go.

[2020-03-20 15:00] jdolence opened #63 "invert stages and containers"
Right now, containers hold multiple stages, but instead there should be a collection of containers.

[2020-03-20 16:45] #50 closed, assigned to nobody

[2020-03-21 12:32] pgrete opened #64 "Containers/Variables/AthenaArrays design"
While working on the Kokkos integration I noticed that the Containers/Variables are derived from the AthenaArray class.
If I remember our discussion at the workshop correctly, we decided that don't need the AthenaArray class any more and will directly use Kokkos::Views as they provide the same functionality (e.g. shallow copies and slices).
In addition, all arrays would get a fixed size which make

[2020-03-21 12:41] #53 closed, assigned to nobody

[2020-03-24 13:51] pgrete opened #66 "Documentation of `interface` (Containers/Variables/...)"
During the discussion of #64 I noticed that I'm less aware of what's going on in many of the features in the `interface` folder than I'd like to.
Is there any internal documentation that you can share?
I tried to go through the code, but quite a few piece of commented out so I'm not sure if those are not there because they are unused/unfinished/defunct or sth else.

One particular piece I'm intere

[2020-03-24 16:52] Yurlungur opened #68 "Where to put default choices for `Kokkos` loop patterns?"
Currently the default loop pattern used by the `kokkos_encapsulation` code is a compile-time parameter. It would be better to make it a run-time parameter. So the question, then is where to put the default, to keep the dependency graph clean. This is a continuation of my discussion with @pgrete in MR #34.

@pgrete suggests

which seems reasonable to me. @all, any opinions?

[2020-03-25 08:19] pgrete opened #70 "Are our kernels LightWeight"?"
In order to efficiently use streams some Kokkos documentation suggest to provide a hint that kernels are lightweight, e.g.,
[code]
(https://github.com/kokkos/kokkos/blob/master/core/perf_test/PerfTest_ExecSpacePartitioning.cpp) which has an effect on the use of constant memory.

It's not a priori clear that our kernels (all/some/none) will be lightweight.
This issues is meant to keep track of this

[2020-03-25 13:43] pgrete opened #71 "Template specialization for problem generators?"
We (Athena Physics) would like to be able to be able to compile a single executable that includes all kind of integrators and problem types implemented.
Therefore, it'd be great if we could add template specialization to the MeshBlock functions such as ProblemGenerator.
Is that sth that would be useful for other applications, too, or would this go against some design decisions you made?

ping @jdo

[2020-03-25 15:50] pgrete opened #72 "SegFault for vectors in `Containers`"
[code]

after adding
[code]

replacing `Metadata::vector` with `Metadata::cell` works fine.

[2020-03-25 18:28] JoshuaSBrown opened #73 "Separate mesh amr component into distinct class"
Currently, mesh is split into two files mesh.cpp and mesh_loadbalancing. I would like to propose going ahead and creating a separate class for mesh_loadbalancing but wanted to get feedback before heading down this route?

[2020-03-25 23:20] Yurlungur opened #74 "Documentation for variable behaviours and metadata flags"
As discussed in #37. This needs to be done.

[2020-03-26 15:08] gshipman commented on #45
We are a public repo.

[2020-03-26 15:08] #45 closed

[2020-03-26 17:32] Yurlungur commented on #45
🥂

[2020-03-26 18:18] #21 closed

[2020-03-26 18:42] junghans commented on #45
Please switch the CI to public as well.

[2020-03-26 19:30] Yurlungur commented on #45
@pgrete ?

[2020-03-27 17:14] pgrete commented on #45
Done.

[2020-03-30 08:36] pgrete opened #79 "Real time commnication/chat"
During last week's call we briefly touched the idea of having an additional real time communication channel next to the bi-weekly calls.
As of now I started hanging out in the Parthenon General room on the matrix.org network: [#parthenon-general:matrix.org](https://matrix.to/#/!GXqMswuhdDaMueAtLj:matrix.org?via=matrix.org)

You don't need a desktop app and can just use the `riot.im` client in a br

[2020-03-30 20:34] jlippuner commented on #79
Great idea!

[2020-03-31 18:54] Yurlungur opened #81 "ability to disable exceptions"
While experimenting with performance and vectorization in #65, I discovered that many loops aren't getting vectorized because of exception handling. If I try to disable exception handling, the compiler yells at me. We need a way to disable all exception handling in the code. `trhow`, `try`, and `catch` need to be disableable globally.

[2020-03-31 18:57] dholladay00 commented on #81
This sounds fairly heavy, I've been curious about replacing the `nothrow` stuff in the ndarray accessors with `noexcept`. Could you see how that affects vectorization?

[2020-03-31 19:15] Yurlungur commented on #81
Thanks, @dholladay00 that does help. I'm still seeing some failed vectorizations inside `Kokkos` internals, though. And we can't really fix that unless we disable exception handling at the compiler level.

[2020-03-31 19:18] Yurlungur commented on #81
That said, it looks like the loops we actually care about are vectorized. So maybe it's not worth investigating further.

[2020-03-31 19:19] jlippuner commented on #48
What about using `std::mt19937_64`? It's one of the most commonly used PRNG (see https://en.wikipedia.org/wiki/Mersenne_Twister), has a period of `2^19937 -1 ~ 10^6000`, and in my benchmark* it is slightly (8%) faster than the current `ran2`. `std::minstd_rand` is 38% faster than `ran2`, but from what I understand, it produces lower-quality random numbers and its period is only `2^31-1 ~ 10^9`, wh

[2020-03-31 19:36] jlippuner commented on #48
Excellent question. One drawback of the Mersenne Twister is that if you run multiple instances with different seeds, they are not sufficiently independent. So the solution is to generate different parameter sets for the MT. A long time ago, I played around with this: http://www.math.sci.hiroshima-u.ac.jp/~m-mat/MT/MTGP/ It's an implementation of the Mersenne Twister specifically for GPUs that ship

[2020-03-31 19:38] dholladay00 commented on #48
Why not use Kokkos’s random number generators?

[2020-03-31 19:42] jlippuner commented on #48
In fact, the cuRAND library (CUDA's random number generator library) has one generator based on MTGP: https://docs.nvidia.com/cuda/curand/device-api-overview.html#device-api-overview

[2020-03-31 19:47] jlippuner commented on #48
Using Kokkos' RNG would definitely be very straight-forward. However, we'd have to live with the fact:

Also, it sounds like there would be a different RNG for each thread, which might hurt performance and available device memory quite a bit. We'd have to test it, though.

[2020-03-31 19:53] junghans commented on #48
Do you know the max. number of random numbers you need per timestep?

[2020-03-31 19:57] dholladay00 commented on #48
I know that the IMC folks have used a RNG library called random123 that can be used on GPUs and might not suffer from some of the caveats of the Kokkos RNG. Might be useful to have one of those folks chime in.

[2020-03-31 20:00] junghans commented on #48
Yes, I was about to suggest a cyclic random number generator, like `random123`, but you need to know the max. number of random numbers per cycle, e.g. timestep.

[2020-03-31 20:08] peteroupc commented on #48
An extensive discussion on random generators (but not necessarily for use in GPUs) is at nest/nest-simulator#1440.

There, I write:

Of the five random number engines supported by cuRAND, only four are supported for use on-device (MTGP, Philox, MRG32k3a, and XORWOW), and of these, MTGP requires a [non-trivial initialization process](https://docs.nvidia.com/cuda/curand/device-api-overview.html#bit-

[2020-03-31 20:55] AndrewGaspar commented on #79
Yes, I'm joining - forgot to yesterday.

[2020-04-01 17:08] AndrewGaspar commented on #81
I believe Athena did, at the very least, have the ability to disable them, so it might be worth having the option, even if it's not he default.

[2020-04-01 17:49] jdolence opened #84 "Metadata::IsSet bug"
The Metadata::IsSet member function checks the value of bits beyond the size of the bits_ vector, producing undefined behavior.

This version should work as expected, but it needs to be put in and a test added.

[code]

[2020-04-01 18:20] AndrewGaspar commented on #84
Oof, i should have written a better test!

[2020-04-01 21:51] #79 closed

[2020-04-02 18:44] pgrete commented on #81
Maybe @jmstone can share their Athena++ experience here with regard to this topic.
IIRC exception were enabled in the "outer" parts of the main loop and output handling, but vectorization of the physics kernels were not affected by that.

[2020-04-02 19:18] jmstone commented on #81
In Athena++ we only implemented exception handling in the initialization and I/O routines, precisely because it interfered with performance.  Moreover, you don't want to keep checking for exceptions every time the main integration loop is executed.  If the code makes it through the loop once, it likely will work for the rest of the iterations (although this is not guaranteed), and so it seems a wa

[2020-04-02 21:58] jdolence opened #88 "bug in bvals_cc.cpp"
In CellCenteredBoundaryVariable::SetupPersistentMPI, the lines that set cng2 and cng3 should be
[code]
but were
[code]
I've already fixed it in #75, but wanted to document.

[2020-04-02 22:02] Yurlungur opened #89 "Regression Tests"
Bugs like #88 would be prevented if we had a suite of regression tests running along with the unit tests... I'm thinking something like `calculate_pi` or the advection test @jdolence is writing.

[2020-04-02 22:02] Yurlungur commented on #89
In fact, I think we should just do all examples. in the `examples` directory.

[2020-04-02 22:03] Yurlungur commented on #89
@JoshuaSBrown if I recall, you're already working on something like this, which is why I assigned you. If you end up not working on it, feel free to remove yourself.

[2020-04-02 23:28] jdolence commented on #89
I'd say this should be a high priority.
:+1: :+1:

[2020-04-03 09:02] pgrete commented on #89
I'm also in favor of making this a high priority and think making regression test based on all the existing examples is a good idea.

[2020-04-03 09:45] #62 closed

[2020-04-06 02:24] jdolence commented on #58
Closed via #59

[2020-04-06 02:24] #58 closed

[2020-04-06 16:05] jdolence opened #90 "GPU friendly ContainerIterator"
The current iterator does not return something that is usable on the GPU.  It's not entirely clear what should be returned.  A view of views?  Some other Kokkos container?  Anyone have thoughts?

@Yurlungur @forrestglines @dholladay00 perhaps this is obvious to you?

[2020-04-06 16:47] jlippuner opened #92 "`better_athdf` missing"
The `athdfExample.py` script contains a reference to `better_athdf`:

[code]
But there is no `better_athdf` module in the public Parthenon repo. Should we remove `athdfExample.py` or should we add `better_athdf` (without the better* name) to Parthenon?

[2020-04-06 17:26] jlippuner opened #93 "Make cpplint happy"
cpplint has a lot of complaints about our style. I will fix these

[2020-04-06 19:15] forrestglines commented on #90
Definitely not a View of views, as that seems to require UVM memory and would impose unacceptable performance hits.

It might be ok to have a lightweight array of pointers to CUDA memory. Accessing data would involve first getting which array the variable lives in, then accessing the array. As the loops are currently written, this would mean twice the number of lookups. We could mitigate this by r

[2020-04-06 19:20] forrestglines commented on #90
I'm confused what the `ContainerIterator` is for. Is this to iterate over all variables in a Container? I'm concerned that an iterator itself is needed at all. Not only would the iterator need to return GPU usable data structures, but that iterator would also need to exist on the device and be light weight enough to not impose performance hits. This might be difficult to get right.

[2020-04-06 19:30] dholladay00 commented on #90
I believe this can be implemented without UVM. That being said, it's not clear that a View of Views in the way to go. If this is the only reason to avoid this, then perhaps it's still worth looking at.

[2020-04-07 05:59] pgrete commented on #93
Thanks for the the initiative here @jlippuner !
It may actually be less work than is looks like as  @jdolence potentially already addressed quite a bit in #75 so it might be worth starting from there or wait until it's merged.

[2020-04-07 06:00] pgrete commented on #92
In what ways it better_athdf "better"? ;)
Generally, I wouldn't mind getting "better" parts upstream.

[2020-04-07 06:03] pgrete commented on #90
Is the ContainerIterator ever used somehwere in a kernel?
Otherwise, this could be a high level "wrapper" that translates to nested parallelism on the extracted (Container) Variables.

[2020-04-07 06:04] pgrete commented on #90
Regarding the View of Views @forrestglines is probably referring to https://github.com/kokkos/kokkos/wiki/View#623-can-i-make-a-view-of-views

[2020-04-07 20:04] jdolence commented on #90
So the ContainerIterator was/is never meant to be used in a kernel.  It's supposed to be a high level utility that produces an iterable list of variables from a container that match a set of Metadata flags.  You can see examples of it's usage in Update.cpp.  Example in words: I want to loop over all conserved/independent variables and update them with fluxes.  How do I do that in general?  Our sol

[2020-04-07 20:20] forrestglines commented on #90
One idea I had regarding memory layout for containers with contiguous variables and non-contiguous variables owned by multiple containers: Instead of an iterator over variables we could provide an executor (like a replacement for `par_for`) that would executor a kernel over all variables in the kernel. The actual looping could be handled differently depending on the memory layout of the variables.

[2020-04-07 21:39] forrestglines commented on #90
One problem though is that this multiplies the number of kernel launches by the number of variables compared to K-Athena. We were already finding this to be a performance issue for moving forward with AMR which is why we were moving to streams.

[2020-04-07 21:41] jdolence commented on #90
Yeah that would be a no go. I think.  The current design would mean we'd have to do that.  I'm asking for us to come up with a different design that doesn't require it.  The loop of variables just becomes the outer loop in a kernel.

[2020-04-07 21:49] forrestglines commented on #90
If this were just CUDA, I would make an array of pointers for each array, but ensure that the array is in CUDA constant memory and not CUDA global memory. In Kokkos, I think that would be an array of subviews that specifically lives in constant memory. I'm not sure right now how to do that with Kokkos or if it's possible.

[2020-04-08 21:41] forrestglines commented on #90
These are my current thoughts, opinions, and ideas on the issue collected into one place.

## Performance Constraints
If our goal is to match performance with K-Athena, then there are a couple implementation designs which could hinder performance.
- **No Additional Kernel Launches** Iterating over variables outside the kernel increases the number kernel launches and the associated overhead.
- **No

[2020-04-09 01:40] AndrewGaspar opened #94 "Fix casing of file names in src/interface"
Most of them are CamelCase, but the rest of the files are snake_case.

[2020-04-09 05:32] jdolence commented on #94
If you're looking for thoughts here, I'd just say we should be consistent everywhere.  I think most of the code uses snake_case, so maybe that's the way to go.

[2020-04-09 05:50] jdolence commented on #90
Thanks @forrestglines.  I've added a test as we discussed.  You'll see that it currently launches a kernel for each variable, which is at least a (probably poorly performing) place to start.  There are a couple things worth highlighting:

* There are 6 variables that get added to the container.  Four are scalar quantities, and two are vector quantities with three components.  So the variables don'

[2020-04-09 15:35] jdolence commented on #90
anyone know anything about this?

https://github.com/kokkos/kokkos/blob/master/containers/src/Kokkos_Vector.hpp

[2020-04-09 15:39] dholladay00 commented on #90
Last I looked it did not have much compatibility with an actual `std::vector` and I didn't see much benefit of using it over a view, but perhaps things are different in 3.0.

[2020-04-09 16:42] pgrete commented on #90
Haven seen/used this so far, but this reminds me that the question discussed here is probably also a good one asking on the Kokkos Slack (or the Kokkos developers directly).
I bet they have some ideas about this as this may be a more common use case/request.

[2020-04-09 18:57] Yurlungur commented on #92
Let's pull `better_athdf` upstream, but make it "worse."

[2020-04-09 20:06] Yurlungur opened #95 "Remove StateDictionary?"
As far as I can tell, `StateDictionary` is not used, and is redundant with `StateDescriptor`. We may want to remove it.

[2020-04-09 20:30] Yurlungur commented on #90
Thanks for the detailed thoughts @forrestglines. I'm sorry I haven't participated much in this discussion, as I haven't been feeling well. One option that occurs to me, which I don't know how possible it is, would be a single view with a tiled layout that points to non-contiguous points in memory.

Really a view of views is what we want, *if* we can somehow make it performant. I think we should as

[2020-04-10 04:30] jdolence commented on #90
Just to expand on my comment about varying shapes, here's what I meant to point out.  So the variable rank arrays would suggest writing something like
[code]
Dims 1, 2, and 3 will presumably always be fixed, but Dim 4 won't be.  So how is this parallelized most effectively with Kokkos?

[2020-04-10 14:17] forrestglines commented on #90
Thanks, I'll take a look at it and use it as a starting point.

I think this might be the most important piece to change. I don't see anything yet in the current interface that would prevent us from shoving everything into one array.

How often do we need to iterate over every other variable? Most of the time (boundary comms, averaging, updating) it seems that we iterate over every variable. It mi

[2020-04-10 14:38] forrestglines commented on #90
No worries! I really don't have much experience with tiled layouts, but I think they could be useful if the variables were non-contiguous in a single View but strided evenly. So our every other variable example would work.

When it comes down to it, any kind of view of views solution necessarily means two array accesses instead of one so that it will never be as performant a single view solution.

[2020-04-10 14:42] forrestglines commented on #90
I'm thinking of internally flattening these two ranks into one like we effectively do in K-Athena. Outside of the Container these two ranks would be separated as normal, but at memory allocation and within the `for_each`, these would be merged.

[2020-04-10 17:14] #84 closed

[2020-04-13 17:28] AndrewGaspar commented on #89
Take a look at [`tst/regression`](https://github.com/PrincetonUniversity/athena-public-version/tree/master/tst/regression).

[2020-04-13 20:09] jdolence opened #98 "Add the ability to tag variables for graphics from the input file"
Also document how to actually view the graphics files.

[2020-04-13 23:08] jdolence opened #100 "Provide parthenon::prelude, perhaps with subsets"
The way Rust solves this is they have a "prelude" module for common names. So we could perhaps have something like:

[code]

And then in the user code, you could write:
[code]

You should be careful, though, to keep that `prelude` namespace fairly lean - only things that are used by essentially ever single user. You could potentially split the preludes into something like `parthenon::task::prelude

[2020-04-13 23:37] jdolence opened #101 "Add cmake option to disable building examples"
It ultimately doesn't save any lines because `example/CMakeLists.txt` would then have all these `add_subdirectory` calls anyway. Regardless, I would prefer adding `example/CMakeLists.txt` anyway. In fact, it would be good to add an option to not include the example subdirectory (for example, if consuming parthenon as a submodule).

_Originally posted by @AndrewGaspar in https://github.com/lanl/par

[2020-04-14 02:00] jdolence opened #102 "Use `Kokkos::Timer`"
We should perhaps move to using `Kokkos::Timer`. But that's for the future.

_Originally posted by @Yurlungur in https://github.com/lanl/parthenon/diffs_

[2020-04-14 16:34] pgrete commented on #89
I think it'd make sense to combine the python approach with the ctest base, i.e., let ctest handling all the configuration magic and use python to process the test results.
I could give a quick shot for a basic interface as I'm familiar with the python test suite in Athena++

[2020-04-14 17:31] jdolence commented on #95
closed via #75

[2020-04-14 17:31] #95 closed

[2020-04-14 17:31] jdolence commented on #88
closed via #75

[2020-04-14 17:31] #88 closed

[2020-04-14 17:33] jdolence commented on #66
closed via #75 and #76

[2020-04-14 17:33] #66 closed

[2020-04-14 17:33] jdolence commented on #63
closed via #75

[2020-04-14 17:33] #63 closed

[2020-04-14 17:36] jdolence commented on #64
I think this is resolved adequately for now via #75 #76 #65.

[2020-04-14 17:36] #64 closed

[2020-04-14 17:37] jdolence commented on #92
I'm doing this in #103.

[2020-04-14 21:10] jdolence commented on #72
@pgrete is this resolved?

[2020-04-14 22:32] #93 closed

[2020-04-14 22:46] jdolence commented on #94
closed via #93

[2020-04-14 22:46] #94 closed

[2020-04-15 12:59] forrestglines opened #104 "Exclusive par_for"
Just a quality of life change - should we introduce a `par_for` with exclusive end index? Name it `par_efor` or something like that? In most of the AMR and physics kernels the current inclusive `par_for` makes sense, but occasionally when we're dealing with raw arrays an exclusive `for` would be more convenient.

[2020-04-15 15:18] forrestglines commented on #90
I've added a performance test for iterating over variables in a container compared to the solution we used in Athena++. For the idealized example I test, there's a 5x slowdown with the current `Container`. The slowdown will be less severe for more complex kernels and more severe for boundary packing/unpacking functions.

[2020-04-15 15:22] jdolence commented on #90
Thanks @forrestglines!  Actually, for the kernel you're testing, I'm surprised it's not worse.  Anyway, 5x is bad enough and I'm glad we've got this test in place so we can start to work on improving things with real performance numbers to reference.

[2020-04-15 15:52] jlippuner opened #106 "unit_tests:ParArrayND fails with Intel 18"
Looking into this

[2020-04-15 15:52] jlippuner opened #107 "Examples don't work with MPI"
Looking into this

[2020-04-15 15:55] jdolence commented on #107
huh, they've been working for me.  this is master?

[2020-04-15 16:01] jlippuner commented on #107
Yes, on master. They work for me if I compile without MPI, but with MPI they just hang. Maybe it's an issue with my local MPI, but I thought that it used to work with MPI on my system.

[2020-04-15 16:07] jlippuner commented on #107
Ok, I think it's an issue with my system. Will close this once I've figured it out

[2020-04-15 16:33] jlippuner commented on #107
Alright, I fixed my MPI and the examples all work now. Sorry for the false alarm.

[2020-04-15 16:33] #107 closed

[2020-04-15 16:57] forrestglines commented on #90
For the number of kernels that I launch, 5 kernels with Containers and 1 kernel with one array, the 5x slowdown is exactly what we should have expected.

If the Kokkos team doesn't have any suggestions for performant array of views, I'm hoping that the flexibility of the Container interface will allow us to re-implement it's internals with something fast for GPUs. With any luck, we won't have to g

[2020-04-15 17:04] jdolence commented on #90
Oh fair enough.  Didn't remember that there were 5 variables and so 5 kernel launches in the test.  Ok so we're just measuring the cost of kernel launch, basically.  Once we find a means -- any means -- of launching a single kernel with variables pulled from a Container, things should start to get more interesting.

[2020-04-15 22:15] jlippuner commented on #106
I'm stumped by this. With Intel 18 I get a segfault in the `ParArrayND` test. But when I make an identical copy of that test and call it `ParArayND2`, then `ParArrayND` fails and `ParArrayND2` passes. If I use Intel 19, both tests pass (and `ParArrayND` also passes if there is no duplicate).

So I have no idea why Intel 18 won't work. Do we need to pursue this or can we just say we only support In

[2020-04-15 22:34] AndrewGaspar commented on #106
What's the failure look like? A SEGFAULT?

[2020-04-16 10:08] pgrete commented on #90
I just stumbled across this: https://github.com/google/benchmark
Based on a quick first look that may be sth worth integrating in the long, e.g., move the performance tests (Release builds) to this framework rather than the unit tests.

[2020-04-16 13:37] jlippuner commented on #106
[code]

[code]
[code]

[2020-04-16 13:39] jlippuner commented on #106
This is odd. The backtrace says the error happened in `test_unit_face_variables.cpp:104`, but the test output talks about `test_pararrays.cpp`. I'm pretty sure I got a different backtrace earlier.

[2020-04-16 15:22] dholladay00 commented on #106
That is worrying.

[2020-04-16 15:41] AndrewGaspar commented on #90
Yeah, I mentioned this on Matrix. Google Benchmark is a better solution for writing benchmarks in general because it will execute your benchmark many times in order to shake out run-to-run variability. This has the side effect, with mostly benefits but some small downsides, of also shaking out one-time initialization costs you might pay for running a loop exactly once. Think: Initializing OpenMP t

[2020-04-16 15:42] AndrewGaspar commented on #104
In general I prefer inclusive lower bound, exclusive upper bound because that's how most C loops are written. Actually, I hadn't realized that wasn't the default for par_for already. :P

[2020-04-16 15:52] forrestglines commented on #90
I'm wondering how well Google Benchmark interfaces with GPU testing. You would need to make sure that Google Benchmark does not force host-device synchronization after every kernel run, or else that latency will contaminate the kernel timing. I'm not sure if that's even possible with the adaptive approach they use, unless the timing resets after iteration of their adaptive sampling.

[2020-04-16 17:54] AndrewGaspar commented on #90
I believe that's the case. I'd need to look at it some more, to be sure, but I think they pick an iteration count and run that number of times. So you could at least mask latency over that stretch of executions. But you'd need someway to fence at the end of the iteration stretch.

[2020-04-16 21:11] Yurlungur commented on #106
Hmm interesting. I can't even get it to compile with intel 18 on Darwin. The following works for me on a cascade-lake node on Darwin:
[code]
But `Kokkos_Core.cpp` fails to compile if I use the following instead:
[code]
What configuration are you using, @jlippuner?

[2020-04-16 21:14] Yurlungur commented on #104
I think this is a good idea. The reason it's inclusive upper bound is because we inherited that convention from `Athena++`. That's not a bad thing, inclusive and exclusive are just conventions after all. But I don't see a reason not to include an explicitly exclusive one.

[2020-04-16 21:14] jlippuner commented on #106
Yes, I also found that it won't compile with `gcc/9.3.0` and `intel/18.0.3`. I had to use `gcc/7.3.0` with intel 18 (gcc 8 didn't work either).

[2020-04-16 21:29] Yurlungur commented on #90
Makes sense to me. (As you probably noticed. I was out of action all week anyway...)

How do we shove everything into a single array, with the interface that allows individual packages to add their own physics variables to state? Especially since the variables are different rank and shape, the high-dimensional array that owns all of them would be ragged. This raggedness is why I keep mentioning ar

[2020-04-16 21:29] jlippuner opened #109 "Input file format and parser"
Do we want to keep and maintain our own input file format and associated parser? I feel we shouldn't reinvent the wheel and go with some well-known, widely used structured file format, like YAML or JSON. Any thoughts?

What are the must-have and would-be-nice-to-have features of the input file?

[2020-04-16 21:31] Yurlungur commented on #106
Ah right you are. Okay, I can reproduce... sort of. It seems to be non-deterministic. I observe different backtraces from run to run.

[2020-04-16 21:35] Yurlungur commented on #106
@jlippuner `ParArrayND` is a very thin wrapper around a `Kokkos::View`. Perhaps we should try and isolate this to a `Kokkos`-only segfault (which I think is possible) and then ask the `Kokkos` devs for help?

[2020-04-16 21:41] Yurlungur commented on #109
I think our input files are a lot more readable than a JSON or YAML file. Our files are basically already a funnily formatted subset of YAML. But the funny formatting buys you a lot. It reduces visual noise and makes the files easier to read. @jmstone may also have some insight into why the input parser was designed the way it was.

One comment if we go a YAML or JSON route. We need to be careful

[2020-04-16 21:45] jdolence commented on #109
I'd second sticking with what we've got.  I rather like the simplicity/readability of the current input files and the parser code really isn't too bad (I just spent some time in there to enable multiline parameter lists).

[2020-04-16 21:53] jlippuner commented on #106
Yeah, if you can get a reproducer with just plain `Kokkos::View` that would be great. I tried to make a simple reproducers (by just removing things from the tests), but then it started working...

[2020-04-16 21:58] Yurlungur commented on #106
weird... Yes, I'll poke at it more when I get the chance. Hopefully today.

[2020-04-16 22:33] jlippuner commented on #109
I think YAML would have exactly the same number of lines as the current input file format. The number of characters would be almost identical. JSON would indeed be more verbose, though.

[2020-04-16 22:37] Yurlungur commented on #109
@jlippuner do you have a preferred C++ YAML parser? How significant of a dependency would it be to add?

[2020-04-17 01:41] forrestglines commented on #90
I did a rough proof of concept View of views performance test in #105. Performance tested but not validated for correctness. It suffers from some loss of parallelization in the 4th dimension in order to handle `ParArrayND`s that do not use the 4th rank. Each thread makes two accesses to global memory to get to data, the first access being heavier as it needs to get a whole `ParArrayND`.

With 16^3

[2020-04-17 01:57] forrestglines commented on #90
Just considering cell-centered variables, the last three dimensions share the same xyz shape. You use a 4th rank array to hold all variables. If variables are vectors or tensors of higher rank, than you squash those extra dimensions along the 4th rank.

We did this in K-Athena by having a 4 dimension array where the first two rows where density and pressure and the next three were velocity.

That

[2020-04-17 07:27] pgrete commented on #90
If I remember our discussion correctly, then allocating variables on the fly is not really a use case (variables are defined during initialization and then allocated later. similarly in case of copying a container for another stage of the iterator the allocation would only happen once).
Thus, I could see how allocating a large View covering all Variables of a single type could work given that we a

[2020-04-17 13:22] jmstone commented on #109
Thanks for mentioning me on this issue, Jonah, so I could comment.  I have strong opinions about this topic.  I would *very* much like to keep the current input file format.  It dates back to ~2002 when we were writing Athena.  We specifically looked at YAML, XML, and other formats and decided our own design was cleaner, easier to use, and provided all the functionality we needed.  Peter Teuben th

[2020-04-17 14:38] JoshuaSBrown commented on #109
@jmstone makes some very good points, if we are going to add support for a different file parser, it might make sense to add it as an addition as opposed to a replacement. I feel that there is definitely an argument for allowing the input file to be parsed using an existing format such as .yaml or json. Particularly when post processing the data, if there is a need to read in the input file, impor

[2020-04-17 15:03] jmstone commented on #109
In the almost 20y we've been using this format, we've never had a need to parse the input files for post-processing.  Even if you do, our format is so simple it is easy to adopt the reader in any post-processing script.  So using externally-supported formats to make post-processing easier has never been a problem.  All of the information needed for post-processing is embedded in the *output* forma

[2020-04-17 16:07] jdolence commented on #90
I'm seeing some interesting results on CPUs too, actually.  For example,
[code]
suggesting the naive way can actually be more performant than the raw 4-D array.  This ratio does seem to depend on the problem size -- perhaps some caching effect or something.  Anyway, thought I'd mention to remind us all we should also pay attention to CPU performance.

[2020-04-17 16:18] forrestglines commented on #90
That's concerning, I'd expect almost no difference between the solutions for CPUs. To me that would suggest that either the looping pattern, the data layout, or the vectorization is not working as expected.

[2020-04-17 17:44] Yurlungur commented on #109
This is definitely something we should preserve going forward, by the way. I think it's pretty important to marry simulation parameters to the output data. If they online live in the input file... well, input files get edited and lost. It's easier to keep track of things if it's all tied together.

[2020-04-17 17:47] jdolence commented on #109
:thumbsup::thumbsup:, one for the each of ya

[2020-04-17 17:55] Yurlungur opened #111 "Documenting common builds"
The conversation on MR #96 got me thinking that we should really document the recipes for building our code on common machines. I'm thinking another markdown file in `docs` would do nicely. As we get `parthenon` running on more and more systems, the slightly different incantation per machine will become increasingly hard to remember. I would suggest we start with the power9 nodes on `Darwin` that

[2020-04-17 18:01] Yurlungur opened #112 "Getting CI for Power9 Somehow?"
Issue #96 got me thinking that it would be nice to have CI for power9 builds as well as intel and cuda builds. It seems there are a couple of paths to getting this:

1. Use @pgrete's gitlab to integrate to a power9 machine.
2. Use the gitlab instance on Darwin.

Both paths seem to have issues. I figured I'd start a thread here to discuss paths forward. Tagging @junghans @gshipman @JoshuaSBrown and

[2020-04-17 18:07] junghans commented on #112
Triggering darwin is not a good idea due to security concerns from external PRs @ktsai7 can go more in detail.

[2020-04-17 18:14] JoshuaSBrown commented on #112
I'm wondering what problems would be involved if we submitted pull request via a private mirror on gitlab...

[2020-04-17 19:10] jlippuner opened #113 "Avoid GLOBs"
Often times when I switch branches or pull new changes and then run `make` in my build directory, I get something like this:

[code]
I'm assuming that's because some file name has changed and CMake made list of files using GLOB. Can we avoid GLOBs in CMake and just list all files explicitly?

[2020-04-17 20:14] jlippuner commented on #109
Alright, it sounds like we want to keep the input file and parser as they are. Thanks for the feedback.

[2020-04-17 20:14] #109 closed

[2020-04-17 20:16] jlippuner commented on #111
Great idea! But I want to point out that @AndrewGaspar got it working on Darwin's Power 9 nodes. I just found that we need at least CMake 3.15.

[2020-04-17 20:33] ktsai7 commented on #112
There are various issues we could get into, but the fact that if an external source can trigger CI, or submit a job, on our internal resources, raises a lot of security questions such as...
Since we have data that's not open, are all the external source/server maintainers US person? or at least approved like our maintainers internally?
Also, maintainers can grant access to the registered runners o

[2020-04-17 20:43] pgrete commented on #112
Other labs have running Gitlab instances with expansive CI capabilities - also thinking around the ECP here.
Is there any chance we could link to those?

[2020-04-17 20:54] Yurlungur commented on #111
Oops yes. Sorry, @AndrewGaspar! Mis-attributed there.

[2020-04-17 21:06] AndrewGaspar commented on #113
I think the two main places it's used is for are checking file copyrights and formatting.

I really want to make it as difficult as possible to forget to add a copyright to any new file. Having it be part of CMake and using a global makes it very difficult to do this. But if you find another way to do it (via CI or whatever) then we could remove it.

[2020-04-17 21:18] Yurlungur commented on #113
I am not a cmake expert, so please forgive me if this is a naive question. If a filename has changed, presumably the  cmake cache is out of date and needs to be regenerated anyway, no? So this mismatch is actually the correct error?

[2020-04-17 21:19] #92 closed

[2020-04-17 21:19] #98 closed

[2020-04-17 21:39] AndrewGaspar commented on #113
Yeah, that is correct.

[2020-04-17 21:43] AndrewGaspar commented on #112
Could we potentially set it up to somehow run CI on Darwin only on master? That way it was reviewed and approved by one of us before it got merged. It won't stop people from breaking our Power9 builds, but we'd at least catch when the issues are introduced.

[2020-04-17 21:49] Yurlungur commented on #100
Forwarding my comment from @AndrewGaspar's MR #110.

Thoughts?

[2020-04-17 21:56] AndrewGaspar commented on #111
I'm of two minds on this - I wish that building was more streamlined for common systems. And I have no opposition to even hard-coding specializations for specific platforms as long as they're correctly scoped.

But, I don't really love having a bunch of LANL specific stuff in the code, partly because it's obscure and not testable by our non-LANL compatriots, and also because it may lead to LANL de

[2020-04-17 22:00] AndrewGaspar commented on #102
Something we should maybe consider - timing every task and inserting it into Kokkos profiling information using `Kokkos::Timer`. We would probably need to add a name of some sorts for each task.

[2020-04-17 22:00] jdolence commented on #100
It's not totally clear to me what you're asking for.  I *think* it's a documented list of what a given header includes and what a given namespace provides, so that you can refer to it to know what's been exposed.  Thing is, I'm not sure what clearer expression of that there is than the header you're including (that is basically just a listing of the headers and using statements it's importing).  I

[2020-04-17 22:05] Yurlungur commented on #111
I'd rather avoid having LANL-specific stuff in the code. In my experience, hard-coded, system-specific pieces of a build system rot quickly when a machine falls out of use. I am also nervous about putting machine-specific things into `CMake` since that could become hard to maintain.

That's why I advocated documentation. Of course, I'm open to better solutions. Some large projects I've worked with

[2020-04-17 22:07] Yurlungur commented on #100
I want one document, as opposed to multiple header files, to save me the effort of chasing through multiple header files to see what's been imported. I'm thinking just a markdown file would do fine. We could even have this be auto-generated by the build system or the CI: just have it read the prelude headers and combine them into one big file for easy reference.

[2020-04-17 22:27] jdolence commented on #100
OK, sure.  An auto-generated markdown file would be fine.  Otherwise, I worry it would end up prone to inconsistency and cause more harm than good.  I'd suggest this not hold up #110, though.

[2020-04-17 22:30] JoshuaSBrown commented on #112
Correction: I just realized I had this backwards, gitlab has runners, github does not.

[2020-04-17 22:32] Yurlungur commented on #100
I'm fine with merging in now.

[2020-04-17 22:36] JoshuaSBrown commented on #112
I'm wondering if it is possible to only trigger gitlab ci on darwin for a known user group. That way by default the ci would not be triggered, unless the user was appropriately vetted.

[2020-04-17 23:05] JoshuaSBrown commented on #112
I think you might be able to do this with protected branches.

[2020-04-17 23:32] ktsai7 commented on #112
I am not sure if this is even still related to the issue we started with, but couldn't you just add the `only` keyword in the gitlab-ci script so the ci pipelines would only get triggered for master?

[2020-04-17 23:41] Yurlungur commented on #112
@AndrewGaspar, please correct me if I'm wrong. I think the question is whether or not doing so would be acceptably secure. We have CI running (which we'd like to continue to run) on @pgrete's gitlab per commit. But I think @AndrewGaspar is suggesting we run power9 builds on master on Darwin on a schedule or something. That way we have some testing on architectures of interest and the code that get

[2020-04-18 00:07] davidorville commented on #112
I manage the Darwin ASC research testbed at LANL. Darwin sits on LANL's internal, unclassified restricted network (the Yellow Network). I'm curious to know what "labs have running Gitlab instances with expansive CI capabilities" on their restricted networks? The ECP federated solution is still a work in progress and I've been collaborating with the LANL team to test capabilities as they become ava

[2020-04-18 00:10] davidorville commented on #112
One possible path forward is to make sure anyone who would generate a commit that triggers CI has a corresponding LANL account on the Yellow Network (and an approved account on Darwin as well). There is the whole issue of mapping github users to LANL users but ECP has a mechansim that might work for that (assuming CIO buy-in). The main issue with this is that if everyone on github has a LANL accou

[2020-04-18 00:13] davidorville commented on #112
Having said all of this, I'd certainly love to find a way to solve this. If you guys are already using (or know of someone who is using) resources at SNL or LLNL in their restricted networks, that would be a good place for me to start.

[2020-04-18 00:16] davidorville commented on #112
By the way, nice to meet you all. :-)

[2020-04-18 00:26] Yurlungur commented on #112
Nice to meet you @davidorville! Thanks for the detailed information!

I'm not sure it's practical to give every contributor to this project access to darwin. Would a special branch that is only triggered by people with darwin accounts work? That way we would be vetting any code that makes it into that branch? Or a LANL-internal private github fork?

[2020-04-18 00:38] davidorville commented on #112
@Yurlungur Agreed. A special branch might be possible but I'd still need to discuss the access and user mapping with the CIO Cyber Team. An alternative approach might be to have a mirror hosted on the internal gitlab.lanl.gov server by those with LANL accounts and manage CI from there. The logistics might be tricky but if CI is managed from gitlab.lanl.gov server, no approvals are needed and you c

[2020-04-18 00:41] Yurlungur commented on #112
@davidorville I think that solution would work fine.   My sense is that the desire for Darwin is so we can make sure our code runs on architectures we care about. We already have public CI for everything else. What does everyone else think?

[2020-04-18 00:44] AndrewGaspar commented on #111
Take a look at #114 and tell me what you think.

[2020-04-18 08:17] pgrete commented on #112
This setup would be very similar to what we're currently doing.
The GitLab repo (to which I connected our runners) just mirrors this repo and automatically reports back the results via hooks.
If you setup a similar mirror on the internal LANL GitLab we'd just get another entry in the list of checkmarks for each pull request indicating whether the tests were successful or failed, but GitHub user ha

[2020-04-18 08:28] pgrete commented on #111
I'm also in favor of documenting builds.
We did sth similar for K-Athena as there are some subtle different between different machine even if they use the same architecture, see https://gitlab.com/pgrete/kathena/-/wikis/Building%20and%20running%20k%20athena

If it comes to documenting versus providing build file I vote for the former mainly for the reason to have an "easy to parse" overview on how

[2020-04-18 12:22] junghans commented on #112
The GitHub integration is only part of the gitlab Enterprise edition not the community edition, that we run on Darwin.

[2020-04-18 13:38] davidorville commented on #112
We're running 12.9.2-ee on gitlab.lanl.gov right now. It does look like GitHub Integration is a premium feature, though. We'd need to buy the Premium (Silver) option to get it. Would the basic GitLab Webhook support work at all? Alternatively, gitlab.lanl.gov only has some 1,600+ active users (and growing) so maybe someone can fund an upgrade to Premium Edition?

[2020-04-18 18:48] Yurlungur commented on #111
This is a really cool approach, @AndrewGaspar thanks for putting it together!  I'd definitely like to integrate that in.

Perhaps we should do both---include specialized code to automate when appropriate and document when to invoke what. One thing @AndrewGaspar's `cmake` approach doesn't do is, for example, tell us what modules to load, etc., which is worth documenting I think.

[2020-04-18 18:50] Yurlungur commented on #112
Do we actually need hooks and github integration? Can we simply mirror the master branch and run some tests on a schedule? That way Darwin could be used for scheduled tests and @pgrete's server could be used for commit-wise tests. I would be sad to lose what @pgrete put together, since we would then lose the ability for outside collaborators to look at the CI output.

[2020-04-20 08:37] pgrete commented on #112
That's kind of what I meant with "get another entry in the list of checkmarks", i.e., we'd keep the current tests in place (plus extension with more tests being added) and add another CI test (that includes the Power9 runs) that runs internally at LANL, which only publicly reports back success/fail, but not details.

[2020-04-20 13:41] pgrete opened #115 "With great variability comes great responsibility?"
While working on our application side I may have stumbled across an interesting "feature" that we introduced with the `ParArrayND` (please correct me if I'm wrong) and that may be worth some discussion to prevent hard to track bugs.

In the example the advected field is a simple variable (so the fourth dimension is 1)
[code]

if the forth dimension is not 1 (e.g., in case one would like to have a

[2020-04-20 14:49] jdolence commented on #115
Thanks for pointing out this potential issue @pgrete.  I'll have to think about this a bit more before I'm comfortable suggesting we change requirements.  My immediate thought after I read this was that errors like this could be caught easily with assert statements.  In this case, something sort of like
[code]
should work.  I'm not sure this is better than your suggestion, just different, so I tho

[2020-04-20 16:49] forrestglines commented on #90
After making the changes suggested by @jdolence so that I have the correct number of layout of variables, I don't quite understand the performance now.

With GPUs, on small 16^3 arrays, the naive solution is about 5 times slower than the raw arrays (expected, more kernels are launched), the view of views is only about 2% slower (understandable, kernel launch overhead should be the dominating facto

[2020-04-20 16:52] Yurlungur commented on #112
Yeah that would work. It doesn't even have to be some complex, I think, though. If github integration is a blocker, we can simply have a mirror and a schedule. Then those of us on the LANL yellow can get nasty-grams when the nightly build fails.

[2020-04-20 17:01] Yurlungur commented on #90
Thanks for doing all this, @forrestglines. If I'm reading this correctly, assuming the results don't change when we understand things better, it sounds like a view of views and the "vector of views" are both acceptably performant on the GPU and CPU respectively. We need to understand things, of course. But if that's the case, it would be very good news, since it would imply we don't have to be too

[2020-04-20 20:51] Yurlungur commented on #115
Thanks for bringing this up, @pgrete. I admit I don't quite fully understand the double free error. That said, it's clear why the code segment (and `ParArrayND`'s quiet acceptance of the array) are bugged. Some thoughts:
1. Perhaps the double free is also related to issue #106? What compiler did you use when you encountered this? (I've been meaning to get to this, but been delayed by other things

[2020-04-21 06:28] pgrete commented on #115
I suggest we put this item on the agenda for discussion tomorrow.

[2020-04-21 18:46] pgrete opened #117 "UVM doesn't work"
In preparation of Kokkosizing the remainder of the code I tried creating some reference solution based on the advection test and make sure that without any changes the UVM version give the same results as the OpenMP version.

Unfortunately, it doesn't and the advection example results in
[code]

Good news: the unit tests pass.
I'll try to track this down.

Tagging @jlippuner and @forrestglines for

[2020-04-21 22:09] Yurlungur commented on #117
@pgrete was this in the branch you're merging in with #116? It could perhaps be related to the implementation of `ParArrayND`'s `GetHostMirrorAndCopy`?

[2020-04-21 22:19] JoshuaSBrown opened #119 "Driver specific outputs?"
In the original athena++ code there was a way for users to define their own inputs which could be written to the supported file formats, that functionality has since been pulled out. Refactors in the code such as the driver class also mean that a new and improved implementation is probably warranted. There is a need for such a feature, for instance in the case of regression testing it would be ide

[2020-04-22 01:29] forrestglines commented on #90
I did some more testing in a self-contained repo to compare Kokkos and CUDA performance using a single array versus using an array of arrays structure. I tested two kernels: one kernel where an input array is doubled and written to another array across the entire grid (so a high bandwidth, high parallelization test) and another kernel where the lower z boundary of the grid is copied into a buffer

[2020-04-22 08:37] pgrete commented on #117
Never mind.
Let's say I found the bug on my end ;)

[2020-04-22 08:37] #117 closed

[2020-04-22 17:22] Yurlungur commented on #90
Thanks for doing this, @forrestglines! I agree with your assesment. Let's discuss on the call today what the API should look like so that we can fix things later if needed.

I am very out-of-date on my GPU understanding. Does the GPU automatically cache in the same way that the CPU does? I remember back int the old days, we had to do that manually.

There's a jump in relative performance, but over

[2020-04-22 18:32] dholladay00 commented on #90
Do we know the total memory required for the container (or can it be cheaply precalculated)?

[2020-04-22 19:03] Yurlungur commented on #90
The memory can be precalculated when the view of views is constructed.

[2020-04-22 19:34] forrestglines commented on #90
That's what I thought too, but looking here https://docs.nvidia.com/gameworks/content/developertools/desktop/nsight/analysis/report/cudaexperiments/kernellevel/memorystatisticsglobal.htm it looks like for read-only access to global memory, the data can be cached with texture memory, which I think lives with L2. This wasn't supported on the Kepler devices. The page makes it seem like it usually tak

[2020-04-22 19:46] Yurlungur opened #121 "Namespace input blocks with `Parthenon`"
As discussed in the call, we want to rename all parthenon specific input blocks with a prefix `Parthenon/`.

[2020-04-22 20:52] Yurlungur opened #122 "Container Iterator returns a single contiguous view if possible"
As discussed on call. I will do this once @jdolence's ContainerIterator solidifies into a single API.

[2020-04-22 20:53] Yurlungur opened #123 "ContainerIterators produce cached, unique view of views if possible."
As discussed on the call. I'll implement this once the ContainerIterator @jdolence implemented solidifies.

[2020-04-22 20:53] Yurlungur commented on #123
Related to issue #90

[2020-04-22 20:53] Yurlungur commented on #122
Related to issue #90

[2020-04-27 16:47] nmsriram commented on #123
@yurlunger I'm trying to understand the need for this.  Generating the container is expected to be a pretty inexpensive operation, so would cacheing add complexity for not a lot of gain?

[2020-04-27 16:58] Yurlungur commented on #123
@nmsriram  this is something @forrestglines  brought up in the call. The concern is that there’s a cost to allocating the outer view of views which could add up on the gpu. So what needs to be cached isn’t so much the data structure itself as the memory for the outer view.

That said, I’m not actually convinced it will be that difficult to add a caving mechanism.

[2020-04-27 17:13] #100 closed

[2020-04-28 04:19] #49 closed

[2020-04-28 14:15] JoshuaSBrown opened #128 "Running mpi as root in Docker Containers is problematic"
There is a current problem with the ci where by default the docker images execute as root. This is not ideal and mpi complains. It would be nice to pursue a solution that runs the docker container as a user.

['/opt/openmpi/bin/mpiexec', '-n', '8', '/builds/pgrete/parthenon/build-debug/example/calculate_pi/pi-example', '-i', '/builds/pgrete/parthenon/tst/regression/test_suites/calculate_pi/parthin

[2020-04-28 14:20] JoshuaSBrown opened #129 "Kokkos memory error in regression tests in parthenon-cuda-short ci run"
The regression tests have already discovered an error when running kokkos. Unfortunately the debug symbols are not being resolved. This issue bears further investigation.

Here are the build flags that were used

31 $ export OMP_PROC_BIND=close
04:20
32 $ export OMP_PLACES=cores
33 $ export OMP_NUM_THREADS=1
34 $ export CMAKE_VERSION=3.10.3
35 $ export CTEST_OUTPUT_ON_FAILURE=1
36 $ export J=$(( $

[2020-04-28 16:27] JoshuaSBrown commented on #128
@junghans Do you have any ideas of how to get around running as non root user in a docker image in the ci?

[2020-04-28 17:00] JoshuaSBrown commented on #128
@pgrete I will probably need some help with this since you have access to the host machines. Where is the cuda10.0-mpi-hdf5 image coming from is this on Docker hub or is this a local image? If you built it locally maybe there is a way we can change it so that it will run by default as the host user as opposed to root.

[2020-04-28 17:43] junghans commented on #128
just add `--allow-run-as-root` to the mpiexec options or use a container what has a non root user created.

[2020-04-28 18:57] JoshuaSBrown commented on #128
@junghans I already tried that but it leads to other problems. Particularly when I run regression tests. The regression test script is unable to open any files written using the mpi root calls due to permissions issues.

[2020-04-28 18:58] JoshuaSBrown commented on #128
*****************************************************************
469 Analysing Driver Output
470 *****************************************************************
471 Summary file not accessible
472 Traceback (most recent call last):
473   File "/builds/pgrete/parthenon/tst/regression/run_test.py", line 122, in <module>
474     main(**vars(args))
475   File "/builds/pgrete/parthenon/tst/regressio

[2020-04-28 19:01] JoshuaSBrown commented on #128
I guess I could try to also escalate the permissions of the regression testing script but I think this would be going in the wrong direction. `--allow-run-as-root` is not an optimal solution, after all why does it really need to be run as root.

[2020-04-28 19:37] junghans commented on #128
`--allow-run-as-root` doesn't change the user nor the permissions, so your above error must have a different reason.

[2020-04-28 20:44] pgrete commented on #128
We didn't encounter problems using `--allow-run-as-root` in the CI for K-Athena, see https://gitlab.msu.edu/gretephi/kathena/blob/master/.gitlab-ci.yml
I budgeted time to work on Parthenon tomorrow. So if you like I can have a look at the issue (might be easier given that I have direct access to the CI machine).

[2020-04-28 20:53] JoshuaSBrown commented on #128
@pgrete that would be helpful, it's a little hard for me to figure out what is going on. I don't know why the summary file is inaccessible.

[2020-04-28 21:01] JoshuaSBrown opened #132 "Make python regression testing script more general"
Current implementation is not general enough to look at convergence criteria for slight differences in input parameters. A run method needs to be added to each test case so users have the ability to call the same executable if checking convergence criteria for slightly different inputs if needed.

[2020-04-28 21:26] jlippuner commented on #111
I agree that we should document how to build on common systems. What modules to load, what to watch out for, etc.

Have w reached a consensus on where this documentation should live? In `parthenon/docs`? On the Github wiki? Or are we worried about putting information (e.g. what modules are available) about LANL internal systems out in the open?

[2020-04-29 06:34] pgrete commented on #111
I'm happy with both options and vote for starting this sooner than later.

[2020-04-29 14:06] pgrete opened #135 "ParArray question"
Are the Slices of the `ParArray` correct for slices in the first and second dim?
https://github.com/lanl/parthenon/blob/496d8ac94ccaf1bfdbf73739cc0684bffc38f448/src/parthenon_arrays.hpp#L283

The first `Kokkos::ALL()` should also be an SLC0, doesn't it?
Similarly, both `Kokkos::ALL()` for the 1D slice.

[2020-04-29 16:49] Yurlungur commented on #135
You are correct. Thanks for the catch! I will submit a MR for a fix.

[2020-04-29 18:07] Yurlungur commented on #135
Addressed in issue #137

[2020-04-29 18:08] Yurlungur commented on #111
Since we've made the habit of putting code documentation in the codebase, I think builds belong there too. I've created a MR. #138. Please take a look. Let's make a habit of adding our build instructions there as we work.

[2020-04-29 19:58] Yurlungur commented on #135
Resolved in #137. Let me know if you find more problems, @pgrete !

[2020-04-29 19:59] #135 closed

[2020-04-30 00:05] bprather opened #141 "Containers with multiple types"
In implementing KHARMA, I've run into a couple of cases where I would like to carry around flags (implemented as integers) as part of a container, to be used or heeded as part of several tasks in a list (or even sync'd at boundaries?).  But each stage takes a Container<Real> which can only store, well, Reals.
The same issue might arise in cases where one wants Real=float, but needs a particular fi

[2020-04-30 08:13] pgrete commented on #129
We need UVM fpr Cuda until everything is Kokkosized. This is fixed in #124.

[2020-04-30 08:14] pgrete commented on #128
This is fixed in #124. Linking PR to close this issue automatically on merge.

[2020-04-30 17:30] Yurlungur opened #143 "Typecasting of `ParArrayND.Get<D>()`"
While `kokkos-izing` `Parthenon` @pgrete found some interesting behavior for `ParArrayND` which I'd like to discuss. It's not a bug, exactly, but it raises some questions about a path forward here.

## What's happening?

The basic issue is that, e.g., `ParArrayND.Get<4>();` does **not** return a `ParArray4D<Real>`  object. It returns something close but not quite there. As of now, with the current

[2020-04-30 17:30] Yurlungur commented on #115
I think this is mostly resolved, but I  enjountered something new, which I mention in #143 .

[2020-04-30 18:38] JoshuaSBrown commented on #128
@pgrete I think it might be worth keeping this issue open until we have a container that does not require root user. There are also security reasons to not run containers as the root user. Also do you know where the docker image is coming from? I do not see it listed on docker hub.

[2020-04-30 19:30] pgrete commented on #128
As far as I know docker runs as root by design (which is also the reason why it's unpopular on supercomputers in terms of user rights on host [not in the container] and using shared filesystem in the container -- some of these issues are addressed by Singularity which is now more often available on clusters).
What kind of security concerns do you have in the context of CI? The key idea of having/u

[2020-04-30 22:13] Yurlungur commented on #111
Resolved by #138

[2020-04-30 22:13] #111 closed

[2020-05-01 15:23] JoshuaSBrown commented on #128
This is not an immediate concern, as we are not using the image on our systems. But here is a link with a good discussion of the security issues running as root in a Docker container pose: https://medium.com/@mccode/processes-in-containers-should-not-run-as-root-2feae3f0df3b. If we were to ever use this image on our systems this would need to be addressed. There is a work around though. One simply

[2020-05-01 15:51] #129 closed

[2020-05-01 16:00] JoshuaSBrown commented on #113
@AndrewGaspar I think the ci would probably be a better place for this. I think calling a simple shell script might be a straightforward way of doing this.

[2020-05-01 16:58] JoshuaSBrown commented on #61
So before moving forward with this it would probably be a good idea to know what the problems with the Athena++ implementation. Is it desirable to keep a similar file format to what was available previously? Or is the issue how to integrate the restart capability in the code base seeing as the infrastructure has changed?

[2020-05-01 19:12] Yurlungur commented on #61
There are no problems with the Athena++ implementation, I think. It's desirable to keep it.

Exactly. We broke it when we wrote all the interface stuff. So all that's needed is to dig in and hook it up again. I think it's just a matter of sitting down and doing so.

[2020-05-01 19:41] JoshuaSBrown opened #148 "Should regression tests and examples be combined?"
This is the result of discussion on https://github.com/lanl/parthenon/pull/147.

In general I don't think they are the same, the examples I believe are trying to show how to use the infrastructure whereas the regression tests are showing that it works correctly. There are cases where the input decks are likely to be very different. You might want to run an example for more time steps to see the en

[2020-05-01 21:26] Yurlungur commented on #148
I agree. I don't think they're the same. It is possible, even likely, that regression tests will be a subset of the examples. But the way they're run may be very different. I would rather the example directory not be renamed.

[2020-05-01 21:47] nmsriram commented on #148
I think we should have separate regression tests and examples. It's OK to have duplication of the driver because the inputs will be vastly different.

[2020-05-03 14:27] JoshuaSBrown commented on #148
What do you mean by duplication of the driver? Do you simply mean calling the same driver twice just with different inputs? I would agree with that.

[2020-05-08 05:17] #121 closed

[2020-05-08 05:17] #123 closed

[2020-05-08 05:19] jdolence commented on #72
I'm calling this resolved since I'm not aware of continuing problems.

[2020-05-08 05:19] #72 closed

[2020-05-08 20:57] #90 closed

[2020-05-11 14:50] pgrete opened #156 "Performance regression"
While adapting the AthenaPK side to work with the current master I noted a performance regression compared to master about two weeks ago.
The performance regression occurs even in the simplest case (static grid, single meshblock).
For reference:
- old: e591c82b zone-cycles/omp_wsecond = 2.0160420384343944e+07
- new 548baeb zone-cycles/omp_wsecond = 1.1736363478388650e+07

Using a single AMD EPYC 7

[2020-05-11 17:51] JoshuaSBrown opened #158 "Split Container Iterator into two tests"
Unit tests should probably be limited to running for less than 5s, this test takes longer as it has a performance component. It would be best to probably split the test in two, a performance component and a unit testing component.

[2020-05-11 17:59] Yurlungur commented on #158
Actually this leads to a longer discussion.

I would like to move to a model where we have per-commit tests that run quickly and slower tests, including performance tests, tests in debug mode, and bigger regression tests that are run on a schedule, say nightly.

Interested in people's thoughts on that.

[2020-05-12 08:23] pgrete opened #160 "HDF5 output"
HDF5 files produced with current master cannot be processed (more precisely the xdmf file seems to be off) resulting in
[code]
when being read with Paraview (disclaimer, we're using a single `Variable` to store all physical variables.

In addition, the python plotting script also seem to be off when using AMR, e.g.,
![0002](https://user-images.githubusercontent.com/22685568/81659898-729b0f00-943a-

[2020-05-12 08:29] pgrete opened #161 "Allow to application side xdmf definitions"
While trying to read Parthenon HDF5 data with ParaView I noticed that the current interface works nicely when each physical variable is it's own `Variable`.
However, if all variables are stored in a single `Variable` (e.g., conserved) then
- the resulting xdmf file is incompatible with ParaView, see #160
- the xdmf file carries no knowledge about the nature of the variables

Regarding the latter i

[2020-05-12 09:55] pgrete commented on #160
This does seem go beyond the python script.
The following image shows the same quantity plotted with ParaView (I created a new derived scalar variable that ParaView is able to display out of the box with current master):
![Screenshot from 2020-05-12 11-53-13](https://user-images.githubusercontent.com/22685568/81670033-55207200-9447-11ea-9334-a7405182edd8.png)

[2020-05-12 11:16] pgrete commented on #160
Hold on. I may have an AMR related issue in my code.
(However, this only pertains to the plotting. Paraview with Variable vectors still doesn't work).

[2020-05-12 14:57] nmsriram commented on #160
I'll take a look at this.

[2020-05-12 15:47] nmsriram commented on #160
@pgrete can you provide me an example?
I can't make this happen with the advect example.

![advectMesh 0009](https://user-images.githubusercontent.com/1276138/81715563-9c056c00-9435-11ea-8e57-cb6ddcff5bd3.png)
![advect 0009](https://user-images.githubusercontent.com/1276138/81715588-a0ca2000-9435-11ea-8fe7-5479c72a33f4.png)

[2020-05-12 15:48] nmsriram commented on #160
Just realized I only ran in serial.  Will try parallel.

[2020-05-12 15:53] pgrete commented on #160
The output of a scalar `Variable` seems to work for me, too.
The problem in storing a vector (i.e., multiple scalar variables) in a single `Variable`, e.g., in the advection example make the "advected" quantity have "2" as the nth dimension.

[2020-05-12 16:04] nmsriram commented on #160
Checked parallel and it works as well.
I'm using the plain XDMFReader

[2020-05-12 16:06] nmsriram commented on #160
@pgrete can you provide me an example?  I used the advection example as is and with 4 as third dimension.  and it worked.  I'm using preview V5.7.0

[2020-05-12 16:07] nmsriram commented on #160
I also ran advection example in serial and parallel.

[2020-05-12 16:16] nmsriram commented on #160
@pgrete @jdolence reproduced problem and will send me something I can look at.  Stay tuned...

[2020-05-12 16:30] pgrete opened #162 "Driver Pre/PostExecute"
Open an issue to keep track of a comment in #157 where `pmesh->UserWorkAfterLoop(pinput, tm);` was reintroduced to `ParthenonManager`.
A more suitable place is like within a `Driver` based `Pre/PostExecute`.
Tagging @jmstone and @jdolence as they already discussed sth along those lines.

[2020-05-12 20:22] nmsriram commented on #160
@pgrete I downloaded and tested the code and #163 fixes this issue by splitting multi-dimensional non-vector fields into their appropriately named scalar components.

[2020-05-13 08:16] pgrete commented on #160
I can confirm this. Thanks for taking care of this so quickly.

[2020-05-13 08:16] #160 closed

[2020-05-13 13:06] pgrete opened #164 "Regression test don't differentiate between MPI and non-MPI runs"
In fact, we only ever compile for MPI though Parthenon also works without MPI.
Thus, this should be reflected in the (regression) tests and would also reduce runtime of tests.

[2020-05-13 15:21] JoshuaSBrown commented on #164
I don't completely follow, currently the default in the regression tests is to run with a single processor and with a default number of processors which is 4 if mpi is found (The default number of processors can be changed with a cmake flag, NUM_MPI_PROC_TESTING). Are you suggesting instead that if mpi is found run only once?

I guess you could do something like this if you wanted to test the regr

[2020-05-13 15:26] JoshuaSBrown commented on #89
[pi-calculator](https://github.com/lanl/parthenon/pull/165)
[advection](https://github.com/lanl/parthenon/pull/124)

[2020-05-13 15:29] JoshuaSBrown opened #166 "Moving regression and performance testing to different CI stage?"
I think it would be a good idea as we add regression tests to move them to a different stage in the ci particularly given that the performance and regression tests are time intensive. If the unit and integration testing is done before a lot of bugs can be caught quickly without eating up a lot of the compute resources in the performance and regression testing runs.

[2020-05-13 15:30] pgrete commented on #164
Yes, that is my main point (sorry I wasn't clear in first place). As you say we're currently always building with MPI but have many place in the code which take different paths depending whether one builds with or without MPI (independent of whether you run with one or n processes).
Thus, we should test all cases.
I expect this to be a straightforward addition once the implementation of the conver

[2020-05-13 15:42] Yurlungur commented on #89
Should we close this issue? Or wait until #165 is merged in?

[2020-05-13 15:44] JoshuaSBrown commented on #89
If we link it to #165 it will close automatically when it gets merged.

[2020-05-14 14:08] pgrete commented on #166
Overall I think this is a good idea. I'd probably keep one/a few short regression tests during the initial stage in order to catch errors raised by the embedded debug features.

[2020-05-14 20:15] forrestglines commented on #156
I tested these two commits and master on the advection example on one core using the Intel Skylakes on Pleiades ( Intel Xeon Gold 6148). I didn't see much difference between these two commits, but I did see a large speed up with master.

[code]

I compiled with
[code]

However, I was not able to use `-ipo` was I normally would since the Intel compiler would run out of memory, even on a dedicated n

[2020-05-15 06:52] pgrete commented on #31
Reposting some info on MPI usage @crtrott mentioned on the Slack channel to keep track:
[code]

[2020-05-15 08:47] pgrete opened #167 "Cuda builds broken on master"
While working on the regression tests #165, I discovered some Cuda bugs (illegal memory access even with UVM, see https://gitlab.com/pgrete/parthenon/-/jobs/553095969).
However, that PR is derived from an older master branch.
So I also tried to the current master branch.
While some of the old problems are fixed, new pieces are broken, e.g., accessibility to
[code]
from a device.
I'll likely try to

[2020-05-15 14:34] pgrete commented on #156
Interesting. Thanks for double checking.
I also tried on Pleiades (not providing any additional optimization flags, just using the Release `-03`) and got
[code]

While I now understand the difference between "old" and "new" (turns out this actually was a ghost as the "old" version didn't include a calculation of the z fluxes but it was a 3D problem), it still very interesting that master is that m

[2020-05-16 12:50] pgrete commented on #167
Making sure the coordinates object is captured fix it, see 07a73b44abec9c

[2020-05-16 14:43] jdolence commented on #156
I’m not interested in doing it myself per se, but I second the suggestion that we need performance regression tests.

[2020-05-18 21:30] JoshuaSBrown commented on #158
Well I'm for this, I think that @AndrewGaspar was of the thought that we could run in depth tests everytime master is updated.

[2020-05-20 07:23] pgrete commented on #119
I'm not sure I completely understand the connection between the inputs  (" to define their own inputs" ) and outputs ("written to the supported file formats"/"parameters specific to each driver were also output in the supported file formats.").
Are you referring to user defined fields (such like the `one_minus_advected` field in the advection example or referring to the input parameters?

[2020-05-20 14:34] JoshuaSBrown commented on #119
Neither, take the calculate pi example, the actual value of pi is not in a user defined field, it is simply printed at the end of the run. It would probably be ideal if it was also output in the existing supported file formats.

[2020-05-20 19:09] Yurlungur commented on #119
I'm also not sure I understand. pi is a number, not a field on the grid. Are you suggesting we add the capability to add... I guess metadata? numbers and strings and the like?

[2020-05-20 19:54] Yurlungur opened #171 "Replace `std::string` and `std::exit` in `error_checking.hpp`"
Strings become `char[]` and `std::exit` should become `Kokkos::abort()`

[2020-05-20 20:35] JoshuaSBrown commented on #119
Yes, but only if it is useful.

[2020-05-21 17:52] Yurlungur commented on #119
This would be useful, I think. But I'm not sure it belongs in the driver. We probably want the ability to register metadata as output with the IO system itself.

[2020-05-22 15:22] pgrete opened #173 "Code formatter version/problem/...?"
@AndrewGaspar why is https://github.com/lanl/parthenon/pull/165/checks?check_run_id=700073402 reporting failure?
When I run `make format` on my machine the code seems to be fine.

[2020-05-22 15:25] AndrewGaspar commented on #173
Are you using clang-format 8? Run `clang-format --version`.

[2020-05-22 16:13] pgrete commented on #173
I'm using a newer version (10.0.0). I'll keep that in mind though I'm still surprised that for a given `.clang-format` definition results are different between versions.

[2020-05-22 16:59] AndrewGaspar commented on #173
Yeah, it's unfortunate. :(

[2020-05-22 17:00] AndrewGaspar commented on #173
There should be a warning when you configure if you have a different clang-format.

[2020-05-23 08:21] pgrete opened #174 "Calling host functions/operators from function with device annotation"
There are several places in the code where host/device annotation (e.g., through `KOKKOS_INLINE_FUNCTION`) result in host called that is potentially called from a device, e.g.,
[code]
As far as I can tell this is currently not a problem because we actually never call these function from within a kernel, but this should nevertheless be addressed.
I started to simplify the IndexRange struct in #165

[2020-05-23 08:25] pgrete opened #175 "Enforce warning free compilation?"
While working on Kokkosizing the codebase I got the impression that the majority of changes we recently introduced were not tested if they compile with nvcc (which resulted in lots of compiler warnings when using nvcc and code that is potentially incompatible with GPUs).

Thus, I suggest that once(/at the latest) we have a fully working Kokkosize codebase we adapt the CI tests so that they fail if

[2020-05-26 15:01] JoshuaSBrown commented on #174
Ah, this is my fault.

[2020-05-26 15:24] #89 closed

[2020-05-26 15:24] #166 closed

[2020-05-26 15:24] #167 closed

[2020-05-27 10:25] #171 closed

[2020-05-28 14:44] Yurlungur opened #178 "ParArrayND needs to expose meshblock to use the appropriate deep copy operation"
As pointed out by @pgrete in #136

[2020-05-28 14:48] Yurlungur opened #179 "Parthenon Reductions"
I think MR #136 implies we need parthenon wrappers for `Kokkos::parallel_reduce`. This isn't urgent but this is something we should look at eventually.

[2020-06-02 16:01] pgrete opened #182 "Optimization of PLM functions"
As pointed out by @JoshuaSBrown  in #136 the PLM functions contain repetitive (and currently unused) code that could be optimized/clean up.

[2020-06-02 16:07] pgrete opened #183 "Use of `IndexRange` in buffer `par_for` and friends"
@JoshuaSBrown pointed out that the buffer packing functions currently take all indices as individual arguments.
Using `IndexRange`s would make this code cleaner and could be introduced the next time the buffer packing functions are touched.

Related question (as I missed the discussion in the original PR):
Is there a reason the indexranges are unique for the individual dimensions?
As far as I can

[2020-06-02 16:15] pgrete opened #185 "Use of `IndexRange`s in `par_for` wrappers"
As pointed out by @JoshuaSBrown the parallel for wrappers currently take a long list index arguments. Using the `IndexRange` instead would mitigate problems arising from , e.g., incorrect order.

[2020-06-03 18:06] forrestglines opened #189 "Uniform Grid Performance"
The performance of Parthenon on GPUs using small mesh blocks on a uniform grid will indicate how well AMR will perform using small meshblocks. It might also be easier to identify performance bottlenecks with a simpler uniform grid setup.

I have three questions I'd like answered:
- [ ]  How does performance scale with smaller meshblocks
- [ ] Does kernel launch overhead hinder performance with sma

[2020-06-03 18:29] forrestglines commented on #189
I tested AthenaPK's performance ( using the pgrete/kokkosize branch of Parthenon) on a 256^3 uniform grid using meshblocks ranging from 16^3 to 256^3 cube.

We also have 2 different implementations to compute fluxes in AthenaPK, one using scratch spaces with the approach in the current public version of Athena++, and another implementation without scratch spaces that follows the approach in the ol

[2020-06-03 20:04] forrestglines commented on #189
Here is the same same analysis for the 3D advection test example in Parthenon

![parthenon_perf](https://user-images.githubusercontent.com/5799640/83683711-d33de780-a5b3-11ea-91a4-8e3a6b652f3d.png)

[2020-06-03 20:34] forrestglines commented on #189
I put up the batch script, data parsing script, and plotting script up in
https://gitlab.com/forrestglines/perftest_athenapk

[2020-06-05 14:50] Yurlungur opened #191 "Expose `Kokkos::resize` for `ParArrayND`"
In his particle work, @brryan needs to resize arrays regularly. It's probably worthwhile exposing `Kokkos::resize` to enable this. without having to re-assign views of new sizes over and over again.

[2020-06-06 04:44] #162 closed

[2020-06-08 21:01] #54 closed

[2020-06-10 10:18] pgrete commented on #189
I did some further testing as part of #190 and identified a second bottleneck apart from the Buffer Pack functions (I'm currently writing a proof of concept on how we may address those and the first results are encouraging - I should have more info probably tomorrow).

The "new" issue is that there's a significant amount of memcopies between host  and device in Parthenon that we don't see in K-Ath

[2020-06-11 14:57] pgrete commented on #189
I found that there were some `DeepCopy` that didn't use an execution space in the Variable packing functions and updated that in #190
However, this did not solve the issue.
The majority of the DoT and HtoD calls above are all synchronous and, thus, result in an effective serialization of all kernels (streams are not overlapping).

[2020-06-11 18:13] Yurlungur commented on #189
This is a puzzler. Correct me if I'm wrong---unless we're using UVM, there cannot be any hidden deep copies. Is that correct? Could these be metadata copies from kernel launches?

My grepping finds the following instances of deep copy:
[code]

[code]
Not sure how useful that is.

[2020-06-11 18:20] pgrete commented on #189
I also don't suspect this to be some hidden "deep" copies.
Metadata may go in the right direction. Eventually, it's not no the GPU a priori and thus may be part of the captured objects (in K-Athena we directly worked with the Kokkos Views within the kernels so the objects were very lightweight and just contained basic data types).

[2020-06-11 18:23] Yurlungur commented on #189
One test to understand the performance impact of metadata might be to build increasingly large structs and measure the cost of kernel launches that capture them.

If this is the issue, and we need the associated metadata, we could perhaps move the metadata to device ahead of time.

[2020-06-11 18:27] Yurlungur commented on #189
Variable packs are cached. See [here](https://github.com/lanl/parthenon/blob/master/src/interface/container.hpp#L344) for the data structures. The internals are split between `container`'s prototype and implementation files.

[2020-06-11 19:37] forrestglines commented on #189
After a little debugging, I think it's due to calling `Kokkos::View.label()`, which uses a `DeepCopy`. It might be related to this issue in Kokkos: https://github.com/kokkos/kokkos/issues/2029

[2020-06-11 19:52] nmsriram commented on #189
If Kokkos is doing label transfers on the default stream, then the streams code is serialized.  At least that is my interpretation of the ['Implicit Synchronization' section 3.2.6.5.4](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#implicit-synchronization) of the Cuda C++ programming guide.

Do we know if this is the case?

[2020-06-11 19:59] Yurlungur commented on #189
If this is the problem, we could perhaps resolve it by storing labels host-side so `View.label()` never needs to be called.

Somehow I had assumed that was already what Kokkos was doing.

[2020-06-11 20:50] forrestglines commented on #189
I think we should do this, and I agree that Kokkos should already be doing it. We should store `label` inside `Variable` or inside `Metadata`, so that it's not duplicated in GPU memory with `ParArrayND`

[2020-06-11 20:52] Yurlungur commented on #189
Agreed. This was actually in `Variable` originally, but I think I actually advocated its removal when we moved to views. That was clearly a mistake on my part.

It's worth considering whether we want it in `Metadata` or in `Variable`. I'm leaning towards re-introducing it into `Variable`.

[2020-06-11 21:34] Yurlungur commented on #189
@nmsriram and I just spoke. He has a [branch](https://github.com/lanl/parthenon/tree/sriram/gpuPi/example/kokkos_pi) where he's been experimenting with performance for `calculate_pi`.

It looks like all the calls to `View.label()` happen in the pack caching, since the cache uses the variable names. We're going to attempt to write a version of @nmsriram's test that doesn't do this and see if the pe

[2020-06-12 15:51] pgrete commented on #189
Thanks for looking into this.
We just came off a call with Christian and asked if there are other not-so-obvious places for copies between host and device apart from the label and he said no.
So this should reduce the number of place we need to touch in order to address the issue.

Independently, it seems that the caching doesn't (fully) work as expected yet.
I added a print statement at the end o

[2020-06-12 15:55] Yurlungur commented on #189
Hmm... Interesting. Can you point to exactly which functions you put those in? In the container? Or in `interface/variable_packs.hpp`?

[2020-06-12 16:03] pgrete commented on #189
In the `variable_pack.hpp` right before the `return VariableFluxPack<T>(cv, f1, f2, f3, cv_size, fsize);` and `return VariablePack<T>(cv, cv_size);`, respectively.

[2020-06-12 16:07] Yurlungur commented on #189
Oof. Ok that's clearly a bug. I will dig in.

[2020-06-12 16:38] jdolence commented on #189
@pgrete are you calling `pmb->real_containers.PurgeNonBase()` as in the advection example.  One consequence of that call is that the `VariablePack` objects would need to be recreated for any intermediate state containers you're making.  Either way, I think it's time we remove that from the task list for the advection example since it's usually not what people would want to do.

[2020-06-12 16:46] pgrete commented on #189
Good point. I just ran the basic example so the PurgeNonBase was included.
I now commented it out but the pack functions are still called (though MakePack is called three times less often per cycle):
[code]

[2020-06-12 17:08] jdolence commented on #189
Yes I'm seeing that too.  Trying to diagnose.

[2020-06-12 17:31] jdolence commented on #189
Found the problem, which turned out to have nothing to do with caching.  I'll put the fix in #196.

[2020-06-12 18:54] pgrete commented on #189
Great! That already addressed a significant bit. The following output I got from merging your branch into #190 (so the latest version of #190 is the thing to use for additional test/experiments):
![Screenshot from 2020-06-12 20-32-23](https://user-images.githubusercontent.com/22685568/84536103-6c27dd80-aced-11ea-899d-0cfe82066c33.png)
All the DtoH memcpy past cycle 0 are gone.
There are still plen

[2020-06-15 14:19] JoshuaSBrown opened #197 "Const get method Container Collection class"
The container collection class is missing a const get method which would be helpful for adding const correctness.

[2020-06-15 19:39] JoshuaSBrown commented on #128
@pgrete I have created a separate repository for automating the creation of the images used by the ci. https://github.com/lanl/parthenon-buildenv/tree/master

[2020-06-15 19:49] JoshuaSBrown opened #198 "Auto detect number of required iterations to get accurate benchmark on kokkos kernel and Kokkos Kernel launch"
Catch2 does not provide the functionality to run benchmark tests that account for the overhead associated with a kernel launch. It would be idea to be able to calculate the required number of iterations to achieve consistent results. It would also be nice to have a benchmark that measures the kokkos kernel launch latency.

[2020-06-15 19:49] junghans commented on #128
@JoshuaSBrown have a look at https://github.com/votca/buildenv/blob/master/.github/workflows/continuous-integration-workflow.yml

[2020-06-15 20:22] #173 closed

[2020-06-17 18:32] pgrete commented on #189
![Screenshot from 2020-06-17 20-31-47](https://user-images.githubusercontent.com/22685568/84935871-aa504300-b0d9-11ea-84aa-bd37a72ad58e.png)

Latest profiling screenshot. I'll talk more about it during the call.

[2020-06-17 19:29] forrestglines commented on #189
@pgrete @jdolence  I've been finding these `cudaMemcpy` by just using `cuda-gdb`. I run:
[code]
Then I halt the debugger midway through (CTRL-c) and break on `cudaMemcpy`
[code]
then I travel up the stack to figure out why it needs to `cudaMemcpy`. Right now `src/parthenon_arrays.hpp:70` called from `src/interface/variable_pack.hpp:141`  is causing the `cudaMemcpy`

[2020-06-17 20:06] forrestglines commented on #189
@jdolence Turns out I was building a different version than I was debugging. Your fix to the caching eliminates the `cudaMemcpy`s.  I don't see `cudaMempy` being called except for data output, as it should. There might be another API call doing host do device transfers. I'll have to look into it some more

[2020-06-17 20:09] jdolence commented on #189
thanks for the update @forrestglines.  good to know that that issue was fixed, at least.  if anyone digs in and starts to see what's actually triggering these copies, it would be great to have it posted here so we can knock those out too.

[2020-06-17 21:24] pgrete commented on #189
I just tried figuring out where the HtoD async copies calls come from but had not luck in figuring out the right function call for the break in `cuda-gdb` (`cudaMemcpyAsync` didn't work).
Any ideas?
Also, someone the call today mentioned early that he already found the spot (or maybe I misremember).

[2020-06-18 14:07] pgrete commented on #189
Here's a new piece in the puzzle.
After yesterday's meeting I started to wonder what the actual baseline is that we're comparing to.
Given that this is the Athena++ public version CPUs I also did some testing on that (GPU is a single Volta and CPU is a single fore of a Gold 6148):
![blub-new](https://user-images.githubusercontent.com/22685568/85028596-91986980-b17b-11ea-907d-bcb6f7ff53fa.png)
That

[2020-06-18 16:15] forrestglines commented on #189
@pgrete Yesterday I used `nvprof` in summary mode (i.e. without arguments) to get a summary of API calls (although without streams). I saw that [`cudaMemcpyToSymbolAsync`](http://developer.download.nvidia.com/compute/cuda/2_3/toolkit/docs/online/group__CUDART__MEMORY_g981a3eb36f49cd65e69eb575739ba5d7.html#g981a3eb36f49cd65e69eb575739ba5d7) was high on the list of API calls, which I believe Kokkos

[2020-06-18 16:25] pgrete commented on #189
Yes, I also think that they are related to the Kokkos lambdas, but I still wonder why we don't see them in K-Athena.

[2020-06-19 08:58] pgrete opened #201 "Add info on purging of stages to doc"
Saving from #196
[code]

I think sth along this would be useful to keep in the docs.

[2020-06-19 10:47] pgrete commented on #189
I found the HtoD issue!
The problem is using a `CellVariable` within a lambda rather than a `ParArray#D`.
I extended the test case #202 to directly use a `CellVariable` a the timing is pretty bad:
[code]
and also a view on the profiling data shows that the API is overwhelmed with async HtoD calls (the 4th kernel is the one using the `CellVariables`:
![Screenshot from 2020-06-19 12-39-16](https://u

[2020-06-19 13:31] jdolence commented on #189
Oh man! Yeah, we definitely don’t want to be capturing CellVariables. Is there a way to make that a bug the compiler can catch?

[2020-06-19 14:15] jmstone commented on #189
Excellent progress!  I had a question and a comment.  Why did the uniform grid performance drop by 50% on a 256^3 mesh between the original and latest versions (red and orange/purple lines)?  The log plot hides how big a drop this is, it seems worrying to me.  Comment: I believe it was Jonah who found the neighbor find algorithm in Athena++ was taking a lot of time.  Kengo fixed this in the latest

[2020-06-19 14:18] pgrete commented on #189
I forwarded that question in the Kokkos channel. Let's see if there's an option.
Independently, I'm thinking of removing the `()` operator from the `CellVariable`s to discourage using them directly.

[2020-06-19 14:24] pgrete commented on #189
I noticed that but haven't had the time to investigate yet (as there were changes both on Parthenon and AthenaPK). It actually may be as simple as wrong proc binding between CPU core and GPU because I ran both tests on different machines at different times (as the focus was on scalability).

Good point. That should definitely be addressed. I'll leave that for a discussion in #193 though I think a

[2020-06-19 14:39] Yurlungur commented on #189
Independently, I'm thinking of removing the () operator from the CellVariables to discourage using them directly.

Interested to hear what the  Kokkos folks say.  Some alternatives I can think of:
- Remove the copy constructor or introduce a data structure that does not copy onto device.  We may want variables to  have a viable  copy constructor, so this one is a little dicey.
- Rather than removi

[2020-06-19 21:57] Yurlungur commented on #189
Given the discussion on the Kokkos Slack, I lean towards the following:
1. Remove all `KOKKOS_*` decorations from `CellVariable`
2. Remove `operator()`

That won't perfectly solve it. But it conveys the intent. Thoughts?

[2020-06-24 16:41] #32 closed

[2020-06-25 21:34] berselius opened #206 "Linting in build"
Should this be turned off if parthenon is being consumed by something else? I just updated parthenon for the app I'm building on top of it and now it's failing on a lint check in one of the examples.

[2020-06-25 21:52] brryan opened #207 "Install option for building as standalone library"
Right now my understanding is that to use parthenon in an application one must bring in the source code as e.g. a `git submodule` and then build parthenon and the application together. It could be nice to be able to add an install option to the cmake build system so one can just link in a standalone parthenon install. Three ways this could be convenient:
* A physics code built out of two parthenon

[2020-06-25 22:13] AndrewGaspar commented on #206
You can disable this by setting `PARTHENON_LINT_DEFAULT` to off from your meta-project. We should perhaps turn it off if the project is a subdirectory...

[2020-06-25 22:15] AndrewGaspar commented on #206
You can do this by doing something like:
[code]

[2020-06-25 22:17] berselius commented on #206
I looked at the CMake and ended up doing that. I do like the subdirectory idea....

[2020-06-26 19:30] pgrete commented on #206
I'm also in favor of this (and while we make that change turn the LINTING for the unit and performance tests off in our CI pipeline given that we have a separate "style" stage.
The latter is important, from my point of view, as I saw a few pipelines fail the unit tests because of the style.
Thus, it's not clear if the changes made during development actually break the code or just the formatting.

[2020-06-26 19:55] Yurlungur opened #208 "Be able to name parameter packs"
It may be useful to name parameter packs in the pack cache so packs can be retrieved by name. This makes intuitive sense for, for example, a collection we know we will be accessing regularly.

[2020-06-29 21:16] JoshuaSBrown opened #209 "Labels for different tests."
It would probably be a good idea to clarify labels for the different tests that can be run and when they should apply. I would like to propose and open to discussion what cmake/Catch2 labels should be used with a given test.

[unit] - when testing the correctness of a standalone unit of code, should not take more than 5s to run for any single test.
[performance/benchmarking] - for testing the perf

[2020-06-29 22:09] JoshuaSBrown commented on #207
Are you suggesting a precompiled shared library and or a spack implementation?

[2020-06-29 22:22] JoshuaSBrown commented on #209
[This is partly related](https://github.com/lanl/parthenon/issues/158)

[2020-06-30 18:06] Yurlungur commented on #207
I think @brryan is suggesting that the former enables the latter.

[2020-06-30 18:29] brryan commented on #207
@Yurlungur @JoshuaSBrown Yes once Parthenon can be built as a shared library, I think adding spack support should just be a ~20 line PR to the spack repository.

[2020-06-30 20:53] AndrewGaspar commented on #207
Yeah, if you have a "standard" CMake package (at least as standard you can get in a turing complete build system), adding it to Spack is trivial.

[2020-06-30 22:32] Yurlungur commented on #209
I prefer `performance` over `benchmarking`. But I agree. This is a good idea.

[2020-07-01 22:09] AndrewGaspar opened #211 "Improve FindMeshBlock performance"
See: https://github.com/PrincetonUniversity/athena-public-version/issues/32

[2020-07-01 22:21] AndrewGaspar commented on #211
@jmstone Unfortunately it doesn't appear that the current release of https://github.com/PrincetonUniversity/athena-public-version has this change.

[2020-07-02 14:42] jmstone commented on #211
Yes, it is only implemented in the development version, to which I thought people (pgrete?) had access.  If not we will update the public version shortly, or you could ask Kengo Tomida for a copy of the relevant files (I hate to share things out of the private repo without the major contributors knowledge).

[2020-07-06 18:27] pgrete commented on #189
# Summary of current issue/main findings so far:

Scaling is limited by the way the buffer are filled:
- each buffer (up to 57 in AMR) is packed *and* unpacked by an individual kernel call for each `Variable`
- with small MeshBlocks (<= 32^3) a single kernel run is just 4-5 us (about the order of a kernel launch)

The most straightforward way to address this issue is to have one (optimized) kernel

[2020-07-06 18:57] forrestglines commented on #189
A working concept? Awesome! I'll have to look into after the meeting.

Can the index ranges be computed inside the kernel from the index range of the whole data and from the number of ghost zones? That would reduce data in constant memory, but I'm not sure if it would hurt register usage. I had an example of that in one of the unit tests. I suppose I'm also the only one that would like a CUDA < 10

[2020-07-07 16:12] #101 closed

[2020-07-08 17:19] JoshuaSBrown opened #217 "Holes in test coverage"
Currently, a test for the face fields example driver is missing. Adding one would make the testing framework more robust and provide a better idea of where we are missing testing coverage.

[2020-07-08 17:26] Yurlungur commented on #217
I can try and take a look at this at some point if no one else volunteers.

[2020-07-09 17:02] AndrewGaspar commented on #211
@pgrete Could you share that patch?

[2020-07-10 07:11] pgrete commented on #211
I sent it via mail two days ago. I'm trying again now. Please let me know if it doesn't show up in your inbox.

[2020-07-10 07:19] pgrete commented on #217
Just to add what's missing I think that the reconstruction functions also are a larger block of code that is not fully covered.

[2020-07-10 15:23] JoshuaSBrown opened #219 "Setting KOKKOS_ENABLE_OpenMP=ON if OpenMP_FOUND"
It does not make sense to me that if open mp is found it is not automatically set to be used by Kokkos. I think that by default parthenon should use whatever execution space is found and automatically set them to be used by Kokkos, so if OpenMP is found it will be used unless a higher execution space is available such as CUDA GPU. The default priority should follow what is specified by Kokkos. The

[2020-07-10 17:09] JoshuaSBrown opened #220 "Split kokkos abstraction test into unit and performance component."
It makes sense to place the overlapping space instances part of the kokkos abstraction to a separate file in /tst/performance as this part of the kokkos abstraction takes a while to run and is measuring the performance. This is following from discussions with @pgrete here https://github.com/lanl/parthenon/pull/170.

[2020-07-13 14:42] forrestglines opened #221 "Buffer Packing Kernel"
After performance discussions in #189, we're fairly confident that the launch overhead from launching one kernel for each buffer of communicated ghostzones is hampering performance when using small ( less than 256^3) meshblocks. One solution would be to combine the packing and unpacking of each buffer into a single kernel for packing all buffers and a single kernel for unpacking all buffers. We ca

[2020-07-13 15:12] forrestglines commented on #221
@pgrete @jmstone Here's the issue to collaborate on the buffer packing kernels.

My unfinished kernel to do the buffer packing in CUDA is here:

https://github.com/forrestglines/buffer_packing/blob/master/tests/cuda_buffer_packing/cuda_buffer_packing.cu

I started with a version in CUDA since I wanted to be exactly sure of how the kernel was being parallelized. After getting that working, I was pl

[2020-07-13 15:20] pgrete opened #222 "Downstream testing environment"
@JoshuaSBrown do you have a working example on how to reuse the existing Parthenon testing infrastructure (especially the python based regression tests) in a downstream code?

[2020-07-13 16:39] JoshuaSBrown commented on #222
Just to clarify do you mean if you using parthenon as a submodule in another repo and you want to run the regression tests? Or do you mean how to reuse the python script to create tests?

[2020-07-13 19:27] pgrete commented on #222
I want to reuse the infrastructure (just running the test in the compiled parthenon module works out of the box).
More specifically, we'd like to run tests similar to the current regression tests i.e, tests that are analyzed by the python framework you added (which is why I pinged you).
So the question is how to tap into the existing framework, e.g., calling `setup_test` outside of the parthenon d

[2020-07-13 19:55] JoshuaSBrown commented on #222
Ok, I think I understand, I think probably the best way to more forward would be to pull all of the python scripts out of /tst/regression and place them in a separate regression-testing-infrastructure folder with the supporting cmake files. The testing infrastructure could then be in essence treated as an independent entity. Right now, the the python test case files are fairly integrated with cmak

[2020-07-13 20:10] pgrete commented on #222
Yes, that's what my questions was getting at.
I wanted to check if you'd already done sth like that your the LANL downstream codes so that we don't reinvent the wheel.
@jdolence are you reusing the test suite for your downstream code?

[2020-07-14 14:56] JoshuaSBrown opened #223 "Improving Catch2 benchmarking features with Kokkos"
Before looking into this further, I wanted to find out how much of a benefit this would be to our team. From what I have seen thus far Catch2 only has limited supported for benchmarking. It would be nice to have extra feature capabilities, for instance the ability to measure the bandwidth. However, before going down this road and looking into adding something, I wanted to know what capabilities wo

[2020-07-14 16:20] Yurlungur commented on #223
One thing that occurs to me is being able to time individual kernels we know are important would be quite useful

[2020-07-15 14:15] pgrete commented on #221
Ping @cielling @gshipman
This is where input by Nvidia folks would be great. Efficient ghost zone/guard cell/buffer packing functions are likely a solved problem.

[2020-07-15 15:39] JoshuaSBrown opened #225 "Find a way to reduce redundant labelling with cmake tests"
CMake does not provide an AND and OR logical expression when specifying labels for tests this leads to redundant labels which makes increases the complexity.

E.g.
[code]

There is a `mpi-yes`, `mpi-no`, `performance`, `regression` label already it would be ideal if we did not have to specify extra labels which require combinations of these labels as illustrated in the example.

[2020-07-15 20:21] pgrete opened #227 "CMake version incompatibilities"
Multiple people (at least @JoshuaSBrown and @pgrete ) came across build issues using newer versions of cmake (at least when `OpenMP` and `Cuda` are enabled).
Using an older version (e.g., 3.10.x or 3.11.x) work fine.

For example https://gitlab.com/theias/hpc/jmstone/athena-parthenon/parthenon-ci-mirror/-/jobs/639395311 using cmake 3.15.4 with `cmake -DCMAKE_BUILD_TYPE=Release -DKokkos_ENABLE_OPEN

[2020-07-15 20:34] JoshuaSBrown commented on #227
[code]
[code]

[2020-07-19 23:30] brryan opened #229 "Pass ParthenonManager to drivers?"
Currently `unique_ptr` components of `ParthenonManager` have their pointers retrieved and passed separately to `Driver` classes. In PR #214 this is three separate pointers from the same class. It might be better, as @Yurlungur points out, to just pass a smart pointer/reference to `ParthenonManager` to the driver itself. One potential complication is not being able to mix and match Mesh/Parameter c

[2020-07-20 13:27] pgrete commented on #221
What's the status here? IIRC we discussed on Wednesday to make a minor update here and then ask for help?

[2020-07-20 15:09] forrestglines commented on #221
@pgrete Sorry, I got caught up in other projects. My first attempt doesn't work - it was running out of shared memory at larger sizes and I can't figure out some bugs at smaller sizes. I'm taking a simpler approach that I hope to have ready today.

[2020-07-21 08:26] forrestglines commented on #221
I have an almost entirely working packing function running with Kokkos at
https://github.com/forrestglines/buffer_packing/blob/master/tests/kokkos_buffer_packing/kokkos_buffer_packing.cpp

The packing kernel works fine and matches a cpp version for all grid sizes on CPUs and grid sizes up to 64. For larger grids, Kokkos seems to be using a larger thread block size than is supported by the device -

[2020-07-21 17:59] jdolence opened #231 "Allow non-static member functions to be used as tasks"
@jmstone pointed out that developers may well want to use such functions as tasks, but the current `AddTask` functionality does not support it.

[2020-07-21 22:57] berselius opened #233 "Testing when submodule"
I just updated parthenon and am now getting the following error when building it as part of my application

[code]

I'm reading this as Parthenon trying to build some tests and getting confused by the directory structure. Or am I not configuring something correctly.

[2020-07-21 23:04] berselius commented on #233
Nevermind, I think my environment got weird somehow. This didn't happen after starting a fresh shell.

[2020-07-22 00:02] berselius commented on #233
Oh, I guess what I did was to revert to an older version of the submodule. When I try building with parthenon master, I get the above error.

[2020-07-22 14:43] JoshuaSBrown commented on #233
Ok, I think I know what the problem is. The wrong CMAKE path variable appears to be used.

[2020-07-22 14:48] JoshuaSBrown commented on #233
As a temporary fix try replacing this line

[code]

with

[code]

in file parthenon/tst/regression/CMakeLists.txt

[2020-07-22 14:49] JoshuaSBrown commented on #233
@berselius let me know if it works and thanks for bringing it to our attention.

[2020-07-22 15:35] berselius commented on #233
Looks like that did the trick - thanks!

[2020-07-22 15:35] #233 closed

[2020-07-22 19:25] pgrete commented on #221
This looks far better than what we have right now.
I think this is a good baseline to touch base with an expert at Nvidia.
@gshipman what's the best way forward to get in touch with someone?

[2020-07-22 19:59] forrestglines commented on #221
@pgrete @gshipman  I think one thing that would be helpful would be to have a full description of what the buffer packing functions need to do, even if it's only for uniform grids. I can get that done today or tomorrow, depending on my other projects. It would be best to get in contact with NVIDIA soonish.

I also haven't written the inverse kernel, the unpacking function. However, I think that wi

[2020-07-23 19:38] JoshuaSBrown opened #237 "Cuda with MPI error"
Segmentation fault: invalid permissions for mapped object at address

[code]
Appears to happen when running advection example with mpi enabled with cuda. Could also be a problem with parallel installation of hdf5, as the hdf5 test is also failing.

[code]

Configuration of hdf5 and h5py is shown below:

[code]

[2020-07-24 15:46] JoshuaSBrown opened #239 "Establish Distinction between public and private headers"
A clear distinction in missing between what in parthenon should be publicly exposed. This makes it easy to break down stream code that depends on parthenon as a library as internal changes are likely to break down stream packages.

[2020-07-24 16:11] Yurlungur commented on #239
This is clearly important and something we need to eventually clarify and stick to. Thanks for bringing it up.

That said, I'm not sure we're ready to solidify this... It's true that we're beginning to build things downstream with `parthenon`, but we haven't written enough, I think, to know what should and should not be public. And also `parthenon` itself is still changing pretty rapidly. I think

[2020-07-25 19:45] pgrete commented on #237
Could you please confirm that the OpenMPI installation has cuda support enabled (`$ ompi_info -a |grep cuda`)
Also, the very top of the error messages indicates a more general problem with MPI (`here was an error initializing an OpenFabrics device.`). Maybe that's unrelated but definitely sth the sys admin should have a look at.
Also when UCX is used, then UCX also needs to be compiled with Cuda s

[2020-07-27 16:26] JoshuaSBrown commented on #237
[code]

Looks like it is not built with cuda support.

[2020-07-27 16:29] AndrewGaspar commented on #229
I seem to recall that `ParthenonManager` was meant to be a "utility class" or something of the sort. @jdolence ?

[2020-07-27 16:29] AndrewGaspar commented on #229
And, it being a "utility class", wasn't supposed to pollute the public API of parthenon. Like, you should be able to initialize your classes a different way.

[2020-07-27 16:32] AndrewGaspar commented on #231
Looks like this should be closed now.

[2020-07-27 16:32] #231 closed

[2020-07-27 16:52] AndrewGaspar commented on #221
I can't remember if we've discussed this before: Does the use of MPI datatypes offer a potential performance optimization here - i.e. just hand MPI the original buffers without having to do any packing at all? Or is it not viable for this use case?

[2020-07-27 19:03] pgrete commented on #237
Mystery solved ;) Background is that all our communication buffers are allocated in the device memory. Thus, a Cuda-aware MPI library is required so that the library knows how to transparently handle the device data pointers pointers.

[2020-07-27 19:11] JoshuaSBrown commented on #237
Thanks for the help!

[2020-07-27 19:12] #237 closed

[2020-07-27 19:25] pgrete commented on #221
Are you thinking of `MPI_Pack` etc. here? I'm not sure  if these calls are "Cuda aware" in a performant way. Could be sth to investigate/ask the GPU experts.

[2020-07-27 19:45] pgrete commented on #221
https://pdfs.semanticscholar.org/918d/8cfc2f2a2ac26acb9d73ec5e89bf154ed474.pdf <- may be worth having a closer look. Came across it when looking for MPI_Pack and GPU support.

[2020-07-28 17:05] AndrewGaspar commented on #239
I agree with @JoshuaSBrown. My concern with waiting is that it ossifies the exported APIs.

[2020-07-28 17:30] AndrewGaspar commented on #237
@JoshuaSBrown Are you using the system-installed MPI on Darwin or are you building your own?

[2020-07-28 17:34] AndrewGaspar commented on #221
Oh, I'm referring to the `MPI_Type_*` APIs: http://www.cs.kent.edu/~farrell/cc03/lectures/mpi_datatypes-4.pdf

You presumably could construct an `MPI_Datatype` that describes the ghost cells or boundary cells for a block, which would allow you to send and receive directly from those portions of the vector, potentially obviating the need for a packing kernel at all.

[2020-07-28 18:49] JoshuaSBrown commented on #237
System installed it is working right now. https://xcp-gitlab.lanl.gov/eap-oss/parthenon/-/jobs/75979

[2020-07-28 19:08] JoshuaSBrown opened #240 "Power9 nodes configurations"
This issue is meant to start a discussion about what settings and configurations people would be interested in seeing tested on the power9 ci.

Currently, it runs with gcc/7.4.0, cuda, mpi, openmp, hdf5 on a single node.

[2020-07-28 20:08] AndrewGaspar commented on #237
Excellent!

[2020-07-28 20:19] AndrewGaspar commented on #240
Compilers:
gcc/7.4.0 is a good starting point. I'd also like to see ibm/xlc-16.1.1.7-xlf-16.1.1.7 tested at some point.

Cuda:
Just test with cuda/10.1 for now. When Kokkos supports newer cuda versions, we can expand this matrix.

For MPI, we should test with both spectrum-mpi and openmpi.

I don't see a reason, for now, not to always enable HDF5, OpenMP, and MPI, at least specifically in the cont

[2020-07-28 20:29] JoshuaSBrown commented on #240
I guess one other point worth mentioning is I have only compiled as an optimized release build. I figured it was redundant to run unit tests etc since the ci provided by A&M group already cover that.

[2020-07-29 09:12] pgrete opened #241 "Config macros to constexpr"
As pointed out by @nmsriram in #190 we could convert more of the macros in `src/config.hpp.in` to `constexpr` and move them to the Parthenon namespace.

[2020-07-29 16:06] JoshuaSBrown opened #242 "Improve Versioning of CMake, and use or at least test minimal supported versions in CI"
Several problems have recently been detected while trying to build parthenon, these could probably be prevented in the future by using stricter requirements during the cmake configuration. E.g. requiring python3 for running regression tests, and checking for the availability of modules that are needed by the python scripts, such as: h5py, matplotlib and numpy. Furthermore, the SetupTests.cmake nee

[2020-07-29 17:47] gshipman commented on #221
@pgrete we can work with Max Katz (NVIDIA) on performance analysis next week. He is very familiar with buffer packing based on our discussions with him.

[2020-07-29 18:47] forrestglines commented on #221
How complex can the striding be? It would also be different for every buffer. We would also have to be wary of how the MPI library implements it for GPUs, if it's supported at all. I'm not sure if making a separate CUDA API call for each buffer would help in our case.

[2020-07-29 18:49] forrestglines commented on #221
That would be great - I'm halfway through implementing the inverse operation for buffer packing. I'm reasonably happy performance wise for small mesh blocks with what I currently have, but it likely could be accelerated for large +64 meshblocks.

[2020-07-29 18:52] forrestglines commented on #221
I peeked through this as best I could - the interface is a little verbose, but we could work with it if we were ok with adding a dependency like this. What I couldn't tell though was how optimized this would be for small meshes. They use manual kernels for packing buffers on the GPU (since MPI_Pack is supposedly slow), but I don't know if they collect many buffers at once in a single kernel call.

[2020-07-29 19:28] JoshuaSBrown commented on #222
I believe the downstream codes we have already have their own testing infrastructure.

[2020-07-29 20:10] AndrewGaspar commented on #239
My proposal for this is:
- Create separate `include` and `internal` directories for public and private headers, respectively.
- Move every currently existing header file to `include`.
- Going forward, names should be deliberately placed in either the `include` or `internal` directory
- For names that must be published but are ultimately implementation details, they should go into the `parthenon::i

[2020-07-29 23:25] AndrewGaspar commented on #221
It can be completely arbitrary using [`MPI_Type_create_struct`](https://docs.microsoft.com/en-us/message-passing-interface/mpi-type-create-struct-function).

Would it be different for every buffer? Every block has the same shape, right? So you really only have to create the `MPI_Datatype` once.

But yes, the big question is whether the MPI implementations actually do something efficient there - I

[2020-07-29 23:32] AndrewGaspar commented on #221
I suppose it's not right to say there's only one `MPI_Datatype` - you'd have to implement one for each different halo intersection. Hm... yes it would be complicated, haha. Haven't thought this well enough to be able to defend it.

[2020-07-30 17:06] Yurlungur commented on #240
We might want unit tests because if a regression test fails, the unit tests can point to which thing is failing on that compiler. Could be useful. Not a big deal though. Regression/integration tests are a great start.

Seconded.

[2020-07-30 17:16] Yurlungur commented on #239
That seems reasonable to me. As discussed with @nmsriram yesterday, I also think we should try to deliberately make better use of forward declarations if we can, to reduce the amount of private headers that end up "published" via a tree of includes.

[2020-07-30 17:16] JoshuaSBrown commented on #240
This is a good point I can add unit testing and regression testing with debug mode enabled, the difference in platform could expose potential bugs though the currently running ci should catch most of these problems. The main push for power9 was to examine the performance differences.

Once this is merged I will focus on getting xl up and running, my attempts thus far have been stymied.

[2020-07-30 17:19] Yurlungur commented on #240
Sounds good. I wouldn't worry too much. I think what you've done so far is a great start! The other stuff is lower priority probably.

[2020-07-30 19:16] AndrewGaspar commented on #31
@pgrete Can we close this issue or separate out the sub-tasks into their own issues - seems like it might be a bit stale?

[2020-07-30 19:19] AndrewGaspar commented on #68
Do we want to discuss this some more? Otherwise perhaps we should close this issue until the need for runtime pattern selection arises.

[2020-07-30 19:23] AndrewGaspar commented on #71
Does #214 provide the necessary functionality for this?

[2020-07-30 19:25] #73 closed

[2020-07-30 19:26] AndrewGaspar commented on #73
Low priority for now, maybe we'll revisit a better design in the future

[2020-07-30 19:27] AndrewGaspar commented on #74
This was closed by #76.

[2020-07-30 19:27] #74 closed

[2020-07-30 19:30] Yurlungur commented on #68
Yes. Let's close it. This discussion has been dead for a while.

[2020-07-30 19:30] AndrewGaspar commented on #81
@Yurlungur - have those exceptions been replaced by asserts?

[2020-07-30 19:31] AndrewGaspar commented on #102
@jdolence Moving from what to `Kokkos::Timer`? Could you provide more specificity?

[2020-07-30 19:32] Yurlungur commented on #81
@AndrewGaspar I think this has been cleaned up sufficiently. Exceptions are still availabe for non performance-critical code segments and the performance critical ones have been fixed thanks to #118 by @brryan

[2020-07-30 19:32] AndrewGaspar commented on #104
I'd say, let's close this, and if somebody has occasion to add an exclusive par_for, then we can do so?

[2020-07-30 19:32] #104 closed

[2020-07-30 19:34] JoshuaSBrown commented on #81
bvals_refine.cpp
292:  throw std::runtime_error(std::string(__func__) + " is not implemented");

Checking folder cc

Checking folder fc

flux_correction_fc.cpp
47:  throw std::runtime_error(
56:  throw std::runtime_error(

config.hpp.in
54:// try/throw/catch C++ exception handling (ENABLE_EXCEPTIONS or DISABLE_EXCEPTIONS)

Checking folder coordinates

Checking folder driver

multistage.cpp
47:

[2020-07-30 19:36] AndrewGaspar commented on #113
This seems low priority, so I'm going to close it.

[2020-07-30 19:36] #113 closed

[2020-07-30 19:37] #115 closed

[2020-07-30 19:39] AndrewGaspar commented on #119
Seems like there isn't a lot of interest in this feature, so let's close it.

[2020-07-30 19:39] #119 closed

[2020-07-30 19:39] AndrewGaspar commented on #122
@Yurlungur could you elaborate on this?

[2020-07-30 19:42] AndrewGaspar commented on #132
Seems to be fixed by #165

[2020-07-30 19:42] #132 closed

[2020-07-30 19:42] Yurlungur commented on #122
The hope was to have `VariablePack` return a single contentious array if it's only packing one variable. Not sure this is important. I'd say close it for now.

[2020-07-30 19:42] #122 closed

[2020-07-30 19:44] AndrewGaspar commented on #141
I think this still should be done. We should probably remove the template from `Container` and then do run-time type checking on the attached variables, which can be of any type.

[2020-07-30 19:44] AndrewGaspar commented on #141
Is this something you're still interested in, @bprather ?

[2020-07-30 19:48] AndrewGaspar commented on #143
I learn towards just doing the explicit casts unless this is polluting the code.

[2020-07-30 19:52] AndrewGaspar commented on #148
I think at this point we've decided to keep the examples in an independent folder from the regression test code.

[2020-07-30 19:52] #148 closed

[2020-07-30 19:53] #158 closed

[2020-07-30 19:56] JoshuaSBrown commented on #164
This has been addressed from what I can see in the ci files.

[2020-07-30 19:56] #164 closed

[2020-07-30 19:58] AndrewGaspar commented on #178
@Yurlungur Could you expand?

[2020-07-30 20:00] AndrewGaspar commented on #183
@nmsriram upvoted this in #190

[2020-07-30 20:20] Yurlungur commented on #178
The idea is to expose a `ParArrayND.DeepCopy(src, meshblock);` so it uses the correct meshblock's stream. I don't think this is urgent. (And @pgrete may have just implemented it already.) Let's close for now.

[2020-07-30 20:20] #178 closed

[2020-07-30 20:22] Yurlungur commented on #102
I can answer that. In places in the code where we use the stl clock or C clock, we should move to using `Kokkos::Timer` instead.

[2020-07-30 21:02] Yurlungur commented on #143
That should work fine, I think. I'll close the issue for now. And we can reopen it if it becomes a problem.

[2020-07-31 14:26] pgrete commented on #31
Agreed. And we also don't need to create new issues. All the key pieces are effectively addressed.

[2020-07-31 14:26] #31 closed

[2020-07-31 14:30] pgrete commented on #71
I think this should work. Let's link the issue and we'll reevaluate once #214 is in/we had time to test it downstream.

[2020-07-31 14:35] pgrete commented on #68
Hmm how about we/I just go ahead and make the changes I suggested above?
I still think that it's make for a cleaner interface.

[2020-07-31 14:38] pgrete commented on #68
If you don't object I'll open a PR for this?

[2020-07-31 14:43] pgrete commented on #81
Are we concerned about the throws in Container and Variable classes?

[2020-07-31 14:51] pgrete commented on #178
Yeah, the current workaround is to use the exec space as argument in DeepCopy (however, that introduced the ugly work around for the buffer packing unit test that doesn't have a MeshBlock)

[2020-07-31 15:10] pgrete commented on #143
How about adding a note to the dev guide (https://github.com/lanl/parthenon/blob/master/docs/development.md) with a link here?

[2020-07-31 15:11] Yurlungur commented on #68
Works for me.

[2020-07-31 15:15] Yurlungur commented on #143
That's a good idea. I'll submit a MR for that.

[2020-08-03 16:03] #143 closed

[2020-08-04 08:13] pgrete opened #248 "Continuous benchmarking"
Regarding "continuous benchmarking" I spent some (don't ask...) time trying to figure out how we could go about it (specifically pinging @AndrewGaspar  and @JoshuaSBrown  but everyone else is welcome to provide input, too)

My original idea was to implement this as a two step process as (I hoped) the first one would be straightforward and the second one more involved.

- Step 1: Have CI automatica

[2020-08-04 15:42] JoshuaSBrown commented on #248
I don't have a strong opinion on this, it could get annoying if you want to see the performance changes as you work on a pull request if images start disappearing but I'm not sure it's that big of a deal. So I think getting something working and then making change as needed is the way to go. So if you get something working I won't complain.

Your saying having a link pointing to the image? If so t

[2020-08-05 09:27] pgrete commented on #248
The disappearing part is why I suggested to increase the time to 7-10 days. And if we need the images for longer for a specific PR one can always keep the artifacts for longer for a specific job through the GitLab webinterface.

The link would actually be embedded. The key issues is where the image is hosted. I'm generally not a big fan of a binary repository. Even the results in json (or some oth

[2020-08-05 15:10] JoshuaSBrown commented on #248
Do you have ideas for this already? I guess we are back to our the discussions we had about where to store the gold standard.

I like this idea.

[2020-08-05 15:13] JoshuaSBrown commented on #248
Elastic stack/ELK stack were developed for system admins for tracking large amounts of logging data. This approach might be overkill, but given that we are essentially logging the performance it is an option. It probably has more features than Ginkgo and has a very active user base, so there is that.

[2020-08-05 19:41] forrestglines commented on #221
I have a prototype of the unpacking function working.  Small mesh block speeds look like they're limited by kernel launching overhead, performance on large mesh block sizes could probably be improved.

![image](https://user-images.githubusercontent.com/5799640/89456040-4210fb80-d731-11ea-9359-f6ed6c227b56.png)

[2020-08-05 19:43] Yurlungur commented on #248
Overall no objections. Json seems fine to me. I don't love having a second repository holding all of our performance numbers, though. I worry that distributing our project accross multiple repos is a slippery slope where someday we need a script to clone all the relevant repos to get a working install.

What about putting performance numbers in the wiki? The wiki is itself a github repo, so we sho

[2020-08-05 23:44] JoshuaSBrown commented on #239
Well, I will start this process by moving all headers to a public includes folder. Will probably wait until after this has been merged though. https://github.com/lanl/parthenon/pull/238

[2020-08-07 15:20] JoshuaSBrown opened #253 "Mesh Constructor Refactor"
The mesh constructor has grown to a size that makes it hard to follow. This constructor needs to be broken up into smaller more readable chunks.

[2020-08-07 15:31] Yurlungur commented on #253
While I agree the mesh constructor is hard to follow, I'm not sure breaking it up into readable chunks will help. I already find the mesh infrastructure hard to read because the logic jumps around so much through sub-pieces of functionality. The refactor really needs to disentangle the mesh infrastructure.

[2020-08-07 19:09] pgrete commented on #248
I agree that we should keep everything in one place that is required to successfully build and run Parthenon.
For exactly this reason, I think the performance data should actually be in a separate place as it's not required for running or the correctness etc. itself and, thus, could be seen as a separate project.

That's an interesting idea -- I like it. Feels similarly abusing like using releases

[2020-08-08 09:21] pgrete opened #254 "Unexpected behavior for coverage tests"
The default `CODE_COVERAGE` option is off, still the test with coverage are created by default (tested on Summit with cmake 3.14.1)
[code]

The behavior I expected would be that there are no coverage tests when `CODE_COVERAGE=OFF`.

The second unexpected behavior pertains to the labels.
Of the 31 tests above the "coverage" labels are assigned as follows:
[code]
This is unexpected as in the case of

[2020-08-08 09:40] pgrete opened #255 "HDF5 tests fail due to hardcoded paths"
If the bin directory is located outside of the Parthenon root directory, the hdf5 tests fail as
- the `utils` is not found (not in default PYTHONPATH)
- the path to the hdf5 diff script is hardcoded

[2020-08-08 10:49] pgrete opened #256 "Incorrect default C++ standard on first configure"
Our current method to pick the C++ 14 standard does (at least with CMake 3.14.2) not work as expected, e.g.,
[code]
only if the command is executed again it's set to 14
[code]

[2020-08-08 11:39] pgrete opened #257 "MPI test infrastructure"
While trying to get the mpi tests running on Summit I noticed that the current testing environment is having a hard time with using non standard wrappers (e.g., `jsrun` on Summit or `ibrun` on TACC's longhorn).
While the test framework in principle allows for passing additional required arguments (such as `--smpiargs="-gpu"` or `-g 4`) it's currently not handled by the default setup.
Thus, we need

[2020-08-08 12:34] pgrete opened #258 "Cuda 11 build fails"
Config:
[code]

Build:
[code]

[2020-08-10 13:09] pgrete commented on #258
I was also able to reproduce on an x86 machine with Cuda 11.

[2020-08-10 14:49] JoshuaSBrown commented on #254
That is definately not the intended behavior. I will take a look, do you know what flags you built with or are you seeing that for all builds?

[2020-08-10 14:51] JoshuaSBrown commented on #255
Do you have a solution for this? I did not know how else to include a python module that was in a separate folder hierarchy?

[2020-08-10 14:53] JoshuaSBrown commented on #256
@pgrete you are really on a role, nice job finding all these quirks.

[2020-08-10 14:54] JoshuaSBrown commented on #257
Do you have the output for the command that was attempted but failed?

[2020-08-10 16:21] Yurlungur commented on #255
The python scripts that run the test knows the path of itself, right. Can it not use that to find where the `utils` module is?

[2020-08-10 20:28] JoshuaSBrown commented on #255
@pgrete why are you wanting to move the bin outside of the parthenon root directory? Are you trying to pull it out of the repository? Just trying to understand.

[2020-08-10 22:01] Yurlungur opened #260 "Add `const` accessors where appropriate"
@JoshuaSBrown noticed that many accessors in `Container` could be `const` and suggested adding them. I agree, that's probably worth doing, or at least discussing. But I don't think it's a high priority. Adding an issue to keep track.

[2020-08-10 23:02] JoshuaSBrown commented on #258
I'm not sure Kokkos yet supports Cuda 11.

[2020-08-11 18:58] pgrete commented on #258
Current Kokkos develop tests Cuda 11 with C++17 so this is why I think this "bug" is on us. May also just be a change in the cmake config.

[2020-08-11 19:03] pgrete commented on #257
It's less about the command that fails, but the overall infrastructure.
For example, on Summit the batch nodes also have GPUs so the code actually runs even though it is not executed on a compute node, see https://github.com/lanl/parthenon/blob/develop/docs/building.md#cuda-with-mpi

So the "funny" part is in order to run the serial tests on Summit you need to run ctest with `jsrun` so that the se

[2020-08-11 19:06] pgrete commented on #255
Yes, that's the intended fix. The hdf5 diff python tool is already using a method to insert a path to find the right module.

[2020-08-11 19:08] pgrete commented on #255
Testing on Summit forced me to do this ;)
The home directories are not writable from compute nodes. Thus, in order to run the test and store the results/logs the build directory including the test directory had to be on the scratch filesystem.

[2020-08-11 21:54] JoshuaSBrown commented on #254
So I think there has been some confusion. The coverage label is applied to almost all unit tests, the label does not indicate that the code coverage has been built with the test. As in compiler flags have been set. This is a bit challenging to address because Catch2 sets the labels in the .cpp source files, so there is no way using cmake, that I know of to alter the labels.

What I think you want,

[2020-08-13 15:55] #71 closed

[2020-08-16 17:52] jdolence opened #264 "Case sensitive input parsing"
Right now, the input file parsing is case sensitive.  There are reasonable arguments in favor of this, but it can be a little error prone.  For example, with `<Parthenon/mesh>` instead of `<parthenon/mesh>`, the code aborts because required mesh parameters aren't found.  I just wasted more time than I'd like to admit debugging a problem that turned out to be an incarnation of this basic issue.

I

[2020-08-16 22:42] Yurlungur commented on #264
I can see a reason for parameter names being case sensitive. I can imagine someone wanting to name a parameter in CamelCase, for example.

However, even if we leave parameter names case sensitive, I think block names should not be.

[2020-08-16 22:54] jdolence commented on #264
@Yurlungur there wouldn't be anything stopping someone from using CamelCase.  The trouble would come in if they used CamelCase and camelCase to indicate different parameters because both of these, internal to Parthenon, would become camelcase.  But, maybe I haven't understood your comment fully.

[2020-08-16 22:56] Yurlungur commented on #264
@jdolence hmm that's true. Ignore that objection then.

The other case I can see this mattering (although maybe you shouldn't be doing this) is with parameters or physical constants. G vs. g for Newton's constant and the acceleration due to gravity (or the metric) for example.

[2020-08-16 23:03] jdolence commented on #264
Oh man...G and g.  Yeah that's not inconceivable, though I agree you shouldn't do that.  Perhaps the thing to do there is to make that a runtime error.  If parthenon caught and reported this as an error with a useful message would that cover this case adequately?

[2020-08-16 23:04] Yurlungur commented on #264
Yeah, I like that. Don't quietly accept it, loudly complain.

[2020-08-17 12:36] jmstone commented on #264
There would be no compatibility issues with Athena++ input files.  Currently input block names are always all-lowercase (although sometimes users add parameter names that use capitals).  Still I don't think will be a serious problem.

One "feature" of the parameter input class that causes me lots of problems is that if you misspell a parameter name, it will read and store the value without complai

[2020-08-17 14:56] JoshuaSBrown commented on #240
What about combinations of processors: how many gpu's vs mpi proc vs threads?

[2020-08-17 15:36] AndrewGaspar commented on #258
Ah, yes, looks like it is now. Good to know.

[2020-08-17 15:41] AndrewGaspar commented on #257
My workflow on Sierra has been to do an interactive allocation first and then run ctest in the interactive allocation. That _seems_ to work with `mpiexec`. Have you tried `mpiexec` within `jsrun ctest`?

[2020-08-17 16:13] Yurlungur commented on #264
@jmstone does @jdolence's `CheckDesired` and `CheckRequired` machinery help with this? I.e., an individual application can declare certain variables it wants to check for their presence? This would allow you to check for mis-spellings for those parameters at least.

[2020-08-17 16:37] AndrewGaspar commented on #254
In a shared header file, something like:
[code]

Then, e.g.:
[code]

[2020-08-17 17:13] AndrewGaspar opened #265 "Add additional developer dependencies (e.g. numplotlib) to README"

[2020-08-17 21:06] JoshuaSBrown commented on #265
I think it's matplotlib, or is that something different?

[2020-08-17 21:11] AndrewGaspar commented on #240
The hard thing about specifying GPU/proc/thread combinations is that it's somewhat workload dependent. That said, we can probably make safe recommendations - you should have as many ranks as GPUs and never assign more than one GPU to a single rank.

[2020-08-17 21:14] AndrewGaspar commented on #264
~An "easy" fix would be to issue a warning on unused inputs. We could track which inputs are actually read. Then once "initialization" completes, print out the variables that weren't used. That would presumably help people catch their mistake.~

EDIT: Nevermind, I just realized we can't do this because we have a hard fail when certain parameters aren't found.

If somebody _is_ feeling particularly

[2020-08-17 21:21] AndrewGaspar commented on #265
Oh, you're right, I just had the name wrong.

[2020-08-17 21:32] #254 closed, assigned to nobody

[2020-08-17 22:02] JoshuaSBrown commented on #240
Oh so mpi_proc == num_gpu_devices

[2020-08-17 22:16] AndrewGaspar commented on #240
Yeah.

[2020-08-18 12:44] jmstone commented on #264
Yes, CheckDesired etc. can help in some cases.  However, you don't want to issue warnings for parameters that are not *required*, since in most runs they are not set.  The problem comes in the rare cases where you do try to set them, but then accidentally misspell them and the code runs without warning.  How I tell the code when and when I do not want it to check for a parameter, and which paramet

[2020-08-18 14:44] #265 closed, assigned to nobody

[2020-08-18 17:04] nmsriram commented on #264
I strongly believe that all block names and parameters should be case agnostic.  We should not allow **ANY** instances where two entities are distinguished only by case.   If folks want to put in CamelCase or lowerCamelCase in input files to make it more human readable, that is not precluded by this argument.

[2020-08-18 17:54] JoshuaSBrown commented on #264
I would have to agree with @nmsriram on his point about "not allowing any instances where two entities are distinguished only by case", despite his love for PERL.

[2020-08-19 14:36] pgrete commented on #257
I have not tried to run with anything other than `jsrun`.
In general, I try to only use the officially supported/recommended launch command as I've been burned in the past by not doing it (e.g., some environment variables were missing or thread/process pinning resulting in hard to reproduce and/or undesired behaviour with respect to performance [or picking the right GPU on a multi GPU system etc.]

[2020-08-19 15:17] JoshuaSBrown commented on #227
Minimum version of cmake currently supported is now 3.12.

[2020-08-19 16:42] JoshuaSBrown opened #270 "Improve regresion testing infrastructure and compatibility with Kokkos devices"
It would be idea to be able to copy and paste output from the python tests to rerun them, currently the regression tests output all the arguments passed in but they are all encapsulated in [] brackets. Secondly, there is no way to pass in --kokkos-ndevices= flag which is needed to run the tests with more than a single kokkos device.

[2020-08-19 23:37] Yurlungur opened #272 "Fluxes only allocated if `Metadata::FillGhost` is set"
@pgrete found an interesting feature. At some point the allocation of fluxes moved behind an `if (Metadata::FillGhosts)` statement. This is potentially incorrect. Fluxes are required for independent variables, even if said variables don't need ghost zones. These two should be decoupled.

[2020-08-20 14:52] AndrewGaspar commented on #227
The problem here is that the paths are somehow getting constructed as absolute paths, but starting, weirdly, at the checkout directory. Not sure how that could happen.

[2020-08-20 16:45] JoshuaSBrown opened #273 "Test correct build/export of parthenon as a library"
Following @junghans comments, the examples can be used as a test. This is in reference to [238](https://github.com/lanl/parthenon/pull/238). This is to ensure that parthenon can be used as a third party library and that it's dependencies are correctly configured.

Add an `examples` folder with the pi example and a `CMakeLists.txt` like:
[code]
This `CMakeLists.txt` will work for internal as well a

[2020-08-20 18:13] AndrewGaspar commented on #273
Something I've done in another project is to make it so that you can test both paths in the same example project. Something like:

[code]

We should also add a library alias for parthenon so that the interface looks the same for the subdirectory case and the library case:
[code]

[2020-08-20 19:46] Yurlungur opened #274 "Reduce python 3 required version"
The Darwin Python module uses Python 3.5.6. Can we please reduce the required Python version to that? I'm confident all required capabilities will be present. Pinging @JoshuaSBrown

[2020-08-20 19:52] JoshuaSBrown commented on #274
If you test it and it works I don't care 👍

[2020-08-20 19:54] Yurlungur commented on #274
I'll try it out.

[2020-08-20 21:31] Yurlungur opened #275 "Provide hints for `find_package`?"
Today I discovered the nasty "feature" that `Anaconda Python` installs its own version of `hdf5` serial. So when I tried to compile `parthenon` regression tests with `hdf5` and `openmpi` and `python`, `cmake` slurped up my anaconda hdf5 instead of my system hdf5.

My eventual solution for this was to remove anaconda from my path and give `cmake` a hint for where python lives:
[code]
Is there a bet

[2020-08-20 21:32] Yurlungur commented on #275
@brryan suggested that perhaps `find_package` is unsafe and can be made safer?

[2020-08-20 21:44] brryan commented on #275
My understanding is something like going from
[code]
to
[code]
would give the person compiling parthenon greater precision in providing their dependencies

[2020-08-21 13:03] #256 closed, assigned to nobody

[2020-08-21 22:22] Yurlungur opened #278 "An issue with the CI?"
I've noticed the CI seems to be failing kind of regularly and then passes upon restart. I think this might be coming from the `overlapping space instances` test from `test_kokkos_abstraction`. Do we know what's going on there? Is something going on with the CI server again?

@pgrete @JoshuaSBrown @forrestglines

[2020-08-21 22:27] pgrete commented on #278
I think it's a resource with sharing the GPU and having multiple runners.
The overlapping space instances literally assume an ideal environment (e.g., unique allocation of a GPU) so that things actually can overlap.
If there's another test running and using the GPU at the same time, those kernels are also submitted to the same GPU and thus we don't see the overlapping we'd like to have.
Unfortunat

[2020-08-21 22:30] Yurlungur commented on #278
Could we perhaps significantly loosen the bounds on the overlapping space instances test? let it pass unless things are catastrophically slow?

That could be a cmake setting even (though that's probably overkill). It's pretty annoying to have to click "rerun" for every other CI run

[2020-08-21 22:38] pgrete commented on #278
I agree. I'm actually wondering if it'd make sense to reorganize the test suite given the current rapid development.
My suggestion is to have a "quick" suite of test that runs in <10 min total and checks basic things (but a complete set) and then run a more complete suite (similar to what we have right now) every night on develop as well as manually triggered before hitting merge for "larger" PRs.

[2020-08-21 22:46] Yurlungur commented on #278
Yes, that sounds like a very good idea to me.

Perhaps we could just disable performance tests for the "quick" test and only do them on nightly builds?

[2020-08-21 23:54] Yurlungur commented on #272
This seems fairly tightly integrated with assumptions in `Variable`. It might be a good idea to just document this behavior rather than disentangle it for now.

[2020-08-24 14:52] JoshuaSBrown commented on #278
I'm fine with this, when merging to develop, but we should have nightly test enabled before going in this direction.

This bears looking into, there should be ways of limiting access to a shared resource so you don't have this problem. Most linux shells will have the ability to lock resources. But yes in the case of only having access to a single gpu this would slow down the ci.

[2020-08-24 16:46] Yurlungur commented on #278
100% agreed.

[2020-08-24 23:31] JoshuaSBrown commented on #275
Ya, I think you are hitting on some of the annoying features of cmakes find_package command. This is something I like about spack, if it detects more than one matching package it will print them to the screen. Maybe we could do something similar. The other idea would be to check through all the available python packages and pick the one that satisfies the most requirements.

[2020-08-25 01:24] #274 closed, assigned to Yurlungur

[2020-08-25 01:45] Yurlungur commented on #278
I've just gone ahead and added a nightly CI run to `develop` . Hope you don't mind me messing with the CI, @pgrete . We can delete it if needed.

I'm also working on a repartition of the tests as I suggested above. My simple, stupid solution is just only do performance and regression tests on the nightly. I'm testing it and will submit a MR soon.

[2020-08-25 16:11] #272 closed, assigned to Yurlungur

[2020-08-25 18:57] brryan commented on #275
@JoshuaSBrown I like the idea of being more verbose about what libraries are found/chosen. Is this possible in a `find_package` context, though? My understanding is that that call will stop searching as soon as it finds something.

I am still enthusiastic about optional cmake flags that bypass cmake's internal decision engine and just enforce an all-or-nothing approach to user-designated libraries

[2020-08-26 23:26] JoshuaSBrown commented on #273
I don't understand, how would this fit in our current configuration setup? Won't the parthenon target already be defined?

[2020-08-27 18:05] AndrewGaspar commented on #273
You'd have to configure the examples as the top level directory. You can do something like this to determine if the example is being included as a subdirectory and avoid this whole path. Something like:
[code]

So then you can still build examples as part of the normal top-level CMake configuration, but then also use them to test including Parthenon as a subdirectory or as an external package. Of

[2020-08-27 18:10] AndrewGaspar commented on #275
I think this has been discussed before - CMake has a built-in solution. For any `find_package(Foo ...)`, defining either environment or cmake variable `Foo_ROOT=/path/to/foo/root/dir` takes top priority. See https://cmake.org/cmake/help/latest/command/find_package.html

No reason to define any Parthenon specific variables.

[2020-08-27 18:23] AndrewGaspar commented on #275
When you configure, you should see a printout telling you where CMake found a package. Unfortunately, they don't keep searching, and I don't think find packages are generally architected to support this - they imperatively start defining all sorts of global state, so they don't really have a mode of "please look around for some other HDF5s but don't actually do anything with them".

[2020-08-27 18:27] JoshuaSBrown commented on #273
If this is in the top level directory it makes more sense, but shouldn't this

[code]

be

[code]

Sorry, I'm still a little confused.

[2020-08-27 19:12] junghans commented on #273
In my example, I had
[code]
which is basically doing the same as @AndrewGaspar suggested, if the target is already there (meaning we are building the example as a part of the bigger project) do nothing, else find the parthenon (meaning create the target).

[2020-08-27 19:22] AndrewGaspar commented on #273
Yeah, that should work, too. Keep in mind you need to make sure the examples are included after the source directory in this case, but that shouldn't be too big of a deal.

[2020-08-27 19:22] AndrewGaspar commented on #273
We talked on the phone, and I think I cleared up the confusion about what I'm asking for.

[2020-08-27 20:09] Yurlungur commented on #275
It's worth noting, I think, that going towards machine-specific configuration will help with this some, since the magic combination will be documented by the user in their personal file in their home directory or whatever.

[2020-08-27 21:06] brryan opened #286 "Case insensitive package naming"
In a similar vein to #264, one can run into surprisingly sneaky errors when variously calling a package name with different capitalizations. Such mistakes can generate relatively obscure compiler errors, e.g. I just lost some time from
[code]
Similar issues may also be lurking in other places where we use strings to set/get stuff.

[2020-08-28 15:59] #278 closed, assigned to nobody

[2020-08-28 20:43] pgrete commented on #275
I agree (with the machine files allowing to address this issue transparently), see, e.g., https://github.com/lanl/parthenon/blob/2a2e64e6acfa20ee533f377cfd91037859e2d465/cmake/machinecfg/CI.cmake#L23

[2020-08-31 18:09] JoshuaSBrown opened #288 "Diagram For Task Documentation"
I could use feedback on how accurate this is. I would like to add a diagram to help illustrate how the different abstraction layers work.

<img width="688" alt="TaskDiagram" src="https://user-images.githubusercontent.com/4664476/91751925-c7e26400-eb82-11ea-859f-2550cba8e0ad.png">

[2020-08-31 20:46] JoshuaSBrown commented on #273
Would we want to run these examples, or would it be enough to simply compile them? Running them as tests will take a bit more configuration because of the test infrastructure involved.

[2020-09-01 21:17] #242 closed

[2020-09-02 17:01] Yurlungur opened #295 "All sizes <=1 should be unitialized dimensions"
In reviewing MR #294 I got very confused by the fact that `IndexShape` uses size=0 to specify unused dimensions, while secretly this is size 1 in the underlying array shape. I think the easiest way to bring these two ideas into alignment is to simply tell `IndexShape` that all sizes <=1 are unused dimensions.

Not a functional change, but it makes things more intuitive for old Athen++ hands.

[2020-09-02 17:20] brryan commented on #295
I'm not very familiar with this part of the code but just a quick question: if this change goes in will I still be able to get e.g. the cell width in the j direction if I have a one-zone simulation volume? It would be nice to still have those quantities for particles.

[2020-09-02 17:22] Yurlungur commented on #295
The cell width in the `j` direction would be 1. Or do you want 1 zone with ghosts? You might need to do a 2-zone problem for that.

[2020-09-02 17:23] brryan commented on #295
Sorry I mean the `Real`-valued physical width, so I can for example distribute particles uniformly in space inside the zone.

[2020-09-02 17:25] Yurlungur commented on #295
Oh! Yes, that's still available. The `dx` values are set by `(xmax - xmin)/nx`. So if `nx2=1` the cell witdth is just `x2max-x2min`.

[2020-09-02 17:29] brryan commented on #295
OK great, thanks!

[2020-09-03 15:10] AndrewGaspar opened #297 "Attempt to detect and warn if run launched without cuda aware MPI"
Off the top of my head, I don't remember what the environment variable is, but Spectrum MPI at least sets a specific environment variable to indicate that CUDA aware MPI is enabled. We should check for this when building for CUDA and issue a warning if it's missing. This will help people track down that they're missing the `-gpu` flag faster.

[2020-09-08 16:28] AndrewGaspar commented on #273
I think it's fine to just build them.

[2020-09-09 17:12] gshipman opened #301 "Scalability analysis"
A place to discuss scalability

[2020-09-09 17:13] gshipman commented on #301
Running on master with @pgrete input deck. We are seeing the following performance on RZAnsel:

<img width="361" alt="image" src="https://user-images.githubusercontent.com/665019/92631077-1338f880-f28e-11ea-915c-dd25980c697c.png">

Run script:

[code]

Input deck:
[code]

[2020-09-12 00:55] Yurlungur commented on #61
Can we close this? Or not yet?

[2020-09-12 00:57] Yurlungur commented on #81
@pgrete we should replace them with `PARTHENON_THROWS` or `PARTHENON_FAIL`, depending on whether they live on the GPU.

[2020-09-12 00:57] Yurlungur commented on #211
I am attempting to address this in my PR #303

[2020-09-16 21:33] Yurlungur opened #305 "Move data that isn't per-meshblock into the mesh."
There are several variables that live in `MeshBlock` that more rightly should live in `Mesh`. Moving them will simplify logic that currently accesses the first meshblock in the mesh block list. This is a reminder to move them when possible.

[2020-09-17 00:01] Yurlungur opened #306 "Back pointers to meshblocks should be shared pointers."
Since MR #303 makes the meshblock list own shared pointers, we can now take advantage of this with our back pointers, as @AndrewGaspar points out.

[2020-09-17 00:02] #211 closed

[2020-09-17 16:13] AndrewGaspar commented on #306
They should be weak pointers. If they're shared pointers, that will cause circular shared pointers and you'll leak memory.

[2020-09-17 17:18] Yurlungur commented on #306
yes sorry that's what I meant.

[2020-09-17 22:13] Yurlungur commented on #306
Upon reflection, this is more challenging than I thought it would be. In particular, the meshblock sets back-pointers to it itself. I.e.,
[code]
I think cleaning up the back pointers is worth doing, but it's not a simple find-replace like I thought. So I'm putting it off for now.

[2020-09-17 22:39] AndrewGaspar commented on #306
Yeah, you'd have to derive `MeshBlock` from [`std::enabled_shared_from_this`](https://en.cppreference.com/w/cpp/memory/enable_shared_from_this).

[2020-09-17 22:41] Yurlungur commented on #306
Oh that's cool. I wasn't aware of that capability. I'll revisit this in a bit using that.

[2020-09-21 16:42] Yurlungur opened #309 "`cmake` linting is not the same as the linting in the CI"
If I type `make lint` in a build directory, I get different output than if I call `cpplint` directly. Not sure what's going on here.

[2020-09-22 12:15] pgrete commented on #309
In what way are they different? Are the make version and directly called version picking up the same config (`CPPLINT.cfg`)?

[2020-09-22 16:37] Yurlungur commented on #309
That's a thought. I think the glob may also be different because `cpplint` with `make lint` didn't catch an error in `meshblock.hpp` that CI caught.

[2020-09-22 17:50] #258 closed, assigned to nobody

[2020-09-23 17:57] gshipman commented on #301
GPUs | 3rd cycle | avg of 10 cycles
-- | -- | --
1 | 1.72E+07 | 1.71E+07
2 | 3.35E+07 | 3.32E+07
4 | 6.73E+07 | 6.70E+07
8 | 1.41E+08 | 1.25E+07
16 | 2.79E+08 | 3.04E+07
32 | 5.74E+08 | 5.00E+07
64 | 1.20E+09 | 2.11E+07
128 | 2.40E+09 | 2.39E+09
256 | 4.83E+09 | 4.74E+09
512 | 6.59E+09 | 9.32E+09
1024 | 1.90E+10 | 1.86E+10
2048 | 3.51E+10 | 3.50E+10
4096 | 7.02E+10 | 6.77E+10
8192 | 1.36E+11 | 1.3

[2020-09-23 18:45] AndrewGaspar commented on #309
There actually isn't a glob - it currently requires the file to be listed on the target in cmake. Yeah, if you add new header files, you have to add it in src/CMakeLists.txt for it to get picked up.

I don't know, I'm open to this changing - we could definitely add a glob, and maybe remove the per source targets (currently we only run lints if a file has changed, which has a marginal incremental b

[2020-09-23 18:53] Yurlungur commented on #309
I think I've probably missed adding a new header to the list, so that's what I ran into.

I think I'd prefer a glob as that would automatically catch everything. I like being able to type `make lint` as opposed to invoking it with python. That's easier to remember. It is a little annoying that the build won't complete while I'm experimenting and not really interested in style, but I agree it's nic

[2020-09-24 16:56] gshipman commented on #301
<img width="449" alt="image" src="https://user-images.githubusercontent.com/665019/94175916-93498b80-fe54-11ea-8b56-715e969d85eb.png">

[2020-09-26 00:07] #306 closed, assigned to Yurlungur

[2020-09-30 14:10] nmsriram commented on #61
#311 fixes this partially.  Serial restarts work, parallel restarts work on same number of processes or fewer.

Still fixing:
 - Parallel restarts with more than the original number of processors
 - LANL physics code shows machine-precision level differences

[2020-09-30 23:17] JoshuaSBrown opened #312 "Bug in mpi restart regression test/infrastructure"
There is a bug somewhere it is either in parthenon or in the testing infrastructure. I have located it to occurring after calling \_\_import\_\_ in the python test_case file. Any time the mpi restart test is called using subprocess.run(".."), os.system("...") or any other subprocess command it is like the test simply dies and the python script throws an error but I have been unable to get output f

[2020-10-05 22:25] #288 closed, assigned to Yurlungur, JoshuaSBrown, jdolence

[2020-10-06 14:57] #179 closed

[2020-10-06 17:22] brryan opened #315 "Ability to return `const ParArrayNDs` that can be copied to host"
In #126 we want to be able to return a `ParticleVariable` only as `const` because this data is managed internally by the `Swarm` class. However, this requires touching other parts of the code -- `GetHostMirrorAndCopy()`, for example, is not a `const` method.

[2020-10-07 15:00] brryan opened #316 "Shared pointer reference counting"
@JoshuaSBrown raised an issue with passing shared pointers as references, e.g. `Real EstimateTimestep(std::shared_ptr<Container<Real>> &rc)`, in #126. This is going to be a broader change than what's in that PR so I'm creating an issue instead.

[2020-10-07 15:58] AndrewGaspar commented on #316
Our code is definitely addicted to passing around `shared_ptr`s when they aren't needed. Indeed, I actually think it's harmful because the look of it to the consumer is to say "hey, go ahead and take a reference to this shared_ptr, no problem!", when in fact, I don't think that taking a reference on the shared_ptr to the `Container` is all that helpful, since it doesn't own a reference to the unde

[2020-10-08 19:50] JoshuaSBrown opened #318 "Support for File Formats"
I would like to start a discussion based on our conversation about support for different file formats and how to approach this moving forwards.

There was the suggestion I believe by @nmsriram that we should avoid supporting any file formats outside of hdf5 because it will be a maintenance burden.

The counter argument provided by @jmstone was that hdf5 can sometimes prove difficult to configure a

[2020-10-09 19:59] Yurlungur opened #319 "Inner loop pattern tags not portable"
I recently ran into an issue with `par_for_inner` default loop pattern. The issue is that the `inner_*_tag` variables are global and thus don't have host-device scope so dispatch can fail on lower optimization levels. Essentially, generically this fails:
[code]
but this succeeds:
[code]
This also succeeds
[code]
as does this
[code]
We currently do the former and we need to change to one of the lat

[2020-10-09 20:07] Yurlungur commented on #318
I like the idea of a plugin interface quite a lot.

[2020-10-09 20:08] Yurlungur commented on #319
Tagging @pgrete and @forrestglines since they designed the tag system.

[2020-10-09 21:00] AndrewGaspar commented on #312
I repro. Let me take a look.

[2020-10-09 22:33] AndrewGaspar commented on #312
So I did a test running `env` from my shell, and then env from test_case.py just before running the test. The green is the new variables - mostly MPI related. I wonder where those are coming from?

![image](https://user-images.githubusercontent.com/2292643/95636718-0c4c0400-0a4d-11eb-8709-08692a2e8ac3.png)

[2020-10-09 22:40] AndrewGaspar commented on #312
It's important to note that even things like `mpiexec hostname` don't work, so it's something related to mpi launch.

[2020-10-09 22:56] AndrewGaspar commented on #312
Yeah, so I can confirm that the `__import__(self.__test_module` bit is where it starts to fail - prior to that call, mpiexec blah works fine, and then after it fails.

[2020-10-09 22:57] AndrewGaspar commented on #312
environment doesn't change around that call, though, so the environment differences may be unrelated.

[2020-10-09 23:02] AndrewGaspar commented on #312
Here's an interesting data point - it doesn't fail before running the advection driver if I comment out `import h5py` in restart.py

Obviously it fails later when restart.py tries to use h5py.

[2020-10-12 14:43] JoshuaSBrown commented on #312
@AndrewGaspar thanks for taking a look.

[2020-10-12 15:39] JoshuaSBrown commented on #312
The mpi regression performance tests also fails. This test started failing after the first restart pr was merged.

[2020-10-12 15:54] forrestglines commented on #319
I can see how that would fail and why it compiles fine for higher opt levels. We never address the tag object within the kernel, we just use the type to control which version of the inner loop get compiled.

This looks like it works:
[code]

so we could just add `__device__` to the tags and it should compile.

[2020-10-12 16:13] Yurlungur commented on #319
The one reason I lean against that solution is that it uses a CUDA, not Kokkos feature and will not be portable. My preferred solution, I think, is to make the tag objects constexpr, which seems to work for me at least in a simple test.

[2020-10-12 16:59] forrestglines commented on #319
I agree, `constexpr` would be better.

I can't get this error to appear while compiling with `-O0` with `gcc`. However, if the `constexpr` fix works in the small example, it should work to just add `constexpr` to the two `inner_loop_pattern` structs. It compiles at least in my build.

[2020-10-12 17:51] jonahm-LANL commented on #319
Cool. I'll submit a PR then.

---
Dr. Jonah Miller
Scientist
Pronouns: He/Him
Center for Theoretical Astrophysics
Computational Physics and Methods, CCS-2
Los Alamos National Laboratory
Office: 505-665-8387
Cell: 505-551-4274
jonahm@lanl.gov
www.thephysicsmill.com
________________________________
From: forrestglines <notifications@github.com>
Sent: Monday, October 12, 2020 11:00:13 AM
To: lanl/par

[2020-10-12 18:20] AndrewGaspar commented on #312
Tracking it into h5py now... starts failing after line 26. down the rabbit hole we go...

![image](https://user-images.githubusercontent.com/2292643/95778384-41429b80-0c85-11eb-9818-561a577e6f8c.png)

[2020-10-12 18:34] AndrewGaspar commented on #312
I'm no python export, but I don't see an `_errors.py` file or `_errors/__init__.py` file. I guess I can try stepping until it reaches code?

[2020-10-12 18:37] AndrewGaspar commented on #312
oh, it's because it's a native shared library. hrrmmmmmmmmm this is going to make my life hard.

[2020-10-12 18:38] Yurlungur commented on #312
If the bug is in h5py, there may not be an easy fix.

We can perhaps fix this by moving the `h5py` import into just the region needed? I think there's a way to isolate scope and side effects for imports.

We could even call the plotting code in a python subprocess to fully isolate.

[2020-10-12 18:54] AndrewGaspar commented on #312
It _appears_ as if loading the `_errors` module causes `MPI_Init` to be called, and that's what is causing this issue. Yeah, maybe if we somehow unloaded `h5py` after we were done with it, that would clean up MPI...

[2020-10-12 18:57] AndrewGaspar commented on #312
there's a [`reload`](https://docs.python.org/2.7/library/functions.html#reload) function, but that's not really what I want.

[2020-10-12 18:57] AndrewGaspar commented on #312
i'll see if I can try a subprocess.

[2020-10-12 19:27] AndrewGaspar commented on #312
I'm not sure how I want to do this that doesn't make the code disgusting. :P

[2020-10-12 19:39] Yurlungur commented on #312
My thinking with subprocess was that we could make the plotting script it's own executable, which the test infrastructure calls via `subprocess`.

Alternatively, I don't know if it will fully protect us, but there's [`nose isolate`](https://nose.readthedocs.io/en/latest/plugins/isolate.html)

[2020-10-12 19:47] AndrewGaspar commented on #312
This seems to be working for me:

[code]

[2020-10-12 19:47] AndrewGaspar commented on #312
This is specifically for the restart.py test.

[2020-10-12 19:49] Yurlungur commented on #312
Whoof. That's gross. But I think it's a good solution.

[2020-10-12 19:50] AndrewGaspar commented on #312
I hate it.

[2020-10-12 21:39] Yurlungur commented on #315
I'll take a look at this when I get the chance. It might be as simple as adding `const` to `GetHostMirrorAndCopy`.

[2020-10-12 23:35] Yurlungur commented on #319
It's worth noting that I only encountered this when importing `parthenon` as a submodule of our internal code. I'm not sure why that's the case, but... 🤷

[2020-10-13 16:06] #319 closed, assigned to nobody

[2020-10-13 18:02] #312 closed, assigned to nobody

[2020-10-13 20:36] JoshuaSBrown commented on #305
[code]

I'm guessing these are some of them.

[2020-10-13 20:37] Yurlungur commented on #305
They sure are. I'm also thinking of things like `domain`, which is generic for all meshblocks since they're all the same shape.

[2020-10-13 22:07] AndrewGaspar opened #322 "Dense on Block Fields - Initial Thoughts"
**EDIT:** This is a bit unedited - I'll get back to it.

Some of my initial thoughts on Dense-on-Block in preparation for @jdolence's meeting on it.

# Current State of "Sparsity" in Parthenon

This is just a quick review of what "sparse" variable features Parthenon currently offers.

## `SparseVariable`

`SparseVariable` is an existing variable type in Parthenon. In this case, "sparse" refers to

[2020-10-14 16:08] AndrewGaspar commented on #305
Something I want to make sure we think about here is this:
1) Absolutely - state should live at the level of the object hierarchy where it makes sense
2) We need to also consider programmability. Tasks receive exactly a `Container` - currently we require a lot of keystrokes to acquire basic information about that object. Basically lots of pointer chasing to get to the object that holds the state w

[2020-10-15 16:03] #270 closed, assigned to JoshuaSBrown

[2020-10-16 14:56] pgrete opened #323 "MPI results incorrect?"
It looks like results (in the 3D regression test) differ for runs with different number of MPI procs.
[code]
2D seems to be fine.

[2020-10-16 15:01] pgrete commented on #318
I actually think some additional interfaces should live in Parthenon.
In the end I don't expect there to be any major maintenance burden.
The codes I've been working on so far basically never changed the output definitions used (independent of the file format) and I would also strongly argue for a *very* stable output format.

[2020-10-16 16:50] pgrete commented on #316
It'd be great if we could address this with the upcoming change in interface we discussed on Tuesday, @jdolence
Likely you already discussed that at a different place (I can't find it right away), but it'd be great to have some kind of general style guide for passing around argument, e.g, const refs for immutable objects and raw pointers for object that should change.

[2020-10-17 10:20] #323 closed, assigned to nobody

[2020-10-19 17:28] JoshuaSBrown opened #326 "Add Machine Config file for Darwin"
Add config file that reproduces the ci on power9 nodes.

[2020-10-19 17:29] JoshuaSBrown opened #327 "Update Kokkos submodule version"
The kokkos submodule version needs to be updated to major version that has better cuda support.

[2020-10-19 23:00] AndrewGaspar commented on #326
hold off on this until we have project space.

[2020-10-21 18:55] pgrete commented on #301
![amr-scaling](https://user-images.githubusercontent.com/22685568/96769692-bf1e4980-13df-11eb-8267-56b9aaba077d.png)

[2020-10-22 17:39] JoshuaSBrown opened #329 "Another nasty bug in H5py"
Bug in regression test, the restart regression test.
[code]

Problem was noticed, when testing ci infrastructure.

[2020-10-23 20:03] nmsriram commented on #61
#311 fixes this issue completely.

[2020-10-23 20:08] pgrete opened #334 "Regression suite does not track memory movement"

[2020-10-26 16:49] JoshuaSBrown opened #337 "Add parthenon_path to python TestCase parameters structure"
The root parthenon path is used by several of the regression tests, it would be good to provide this automatically so that everyone is not being required to redefine it.

[2020-10-26 17:35] Yurlungur opened #338 "Signal NaNs"
It may be wise to start "polluting" or "infecting" initialized variables with `signal_nan` so we can easily catch uninitialized memory. Prompted by @nmsriram doing something similar in the restart bugfix #311

[2020-10-27 08:48] #334 closed, assigned to pgrete

[2020-10-28 20:55] Yurlungur commented on #61
Closing the issue.

[2020-10-28 20:55] #61 closed

[2020-10-28 23:24] JoshuaSBrown commented on #329
So it turns out this was not fixed, @pgrete changing the data type from single to float64 on our power9 causes this issue. It looks like this is the root of the problem. I guess a good question is why are the hdf5 files being written as floats on power9. @nmsriram do you have any insight into why this would happen?

[2020-10-28 23:30] JoshuaSBrown commented on #329
https://github.com/h5py/h5py/issues/819

[2020-10-28 23:49] Yurlungur commented on #329
Is the issue in `h5py` or in the restarts?

[2020-10-29 01:50] JoshuaSBrown commented on #329
It's not just the restart files that are failing.

[2020-10-29 01:53] JoshuaSBrown commented on #329
I haven't checked the other tests will investigate more tomorrow. I have found though that when I read in the values using single the restart file pass. So something weird is happening with the h5py reader on power9.

[2020-10-29 07:48] pgrete commented on #329
How much of a difference are we talking about?
I expected some differences when comparing double results to double results from different machine (given our setup implying bitwise identical results), which is what I was trying to get at when saying to adjust the diff threshold.
Changing the comparison from double to float is effectively adjusting the diff threshold, but I prefer that we compare th

[2020-10-29 14:45] JoshuaSBrown commented on #329
I think you're misunderstanding me, I mean the hdf5 parser seg faults, not that the test fails.

[2020-10-29 14:49] pgrete commented on #329
Oh, yes, I misunderstood that. Thanks for clarifying.
Have you already tried on a different Power9 machine? (to isolate whether this is a more general problem with that architecture or the combination of the software stack on Darwin)

[2020-10-29 15:01] JoshuaSBrown commented on #329
It is less sensitive to the which power9 node. I've run it on several different ones and observed this error.

What's weird is when I run it my self through an interactive node I don't have any problem, but when I run with the ci it fails. So I'm wondering if it's related to the specific install of hdf5/pyhdf5.

[2020-10-29 15:44] JoshuaSBrown commented on #329
I noticed that on the interactive nodes I'm using h5py 2.10.0 whereas on the ci it was using 2.9.0. Testing now to see if this is the problem.

[2020-10-29 19:07] JoshuaSBrown commented on #329
I can confirm that the ci is now passing with h5py 2.10.

[2020-10-29 19:07] #329 closed, assigned to nobody

[2020-10-29 19:08] #337 closed, assigned to JoshuaSBrown

[2020-10-30 17:16] JoshuaSBrown opened #344 "Always false logic."
I'm in the process of sanitizing parthenon. @jdolence I noticed the defaulted bool is always going to be false, is this the intended behavior - just an incomplete implementation or can I remove the if statement?

[code]

[2020-10-30 17:19] JoshuaSBrown opened #345 "Unused xmin value in mesh"
I'm in the process of sanitizing Parthenon and noticed that xmin is not used but it is declared in the mesh.cpp file. @nmsriram can I remove this?

[code]

[2020-11-02 17:41] #326 closed, assigned to JoshuaSBrown

[2020-11-03 16:19] AndrewGaspar commented on #275
My impression is this issue can be closed - please re-open if you disagree.

[2020-11-03 16:19] #275 closed, assigned to nobody

[2020-11-03 16:21] AndrewGaspar commented on #229
If this is done, this needs to be optional. The EAP integration of Parthenon does NOT use `ParthenonManager`, and it imposes requirements that EAP does not need. Therefore, please ensure that passing `ParthenonManager` is optional.

@brryan - is this still important to you?

[2020-11-03 16:29] brryan commented on #229
@AndrewGaspar Since `ApplicationInput` is passed separately to e.g. `Mesh`, I don't see any reason on my end that `ParthenonManager` should be required.

[2020-11-03 16:55] AndrewGaspar opened #348 "Set-up project space on RZAnsel and add machine config"
TODO: I'm figuring out what the path to the EAP project space is on RZAnsel - stay tuned.

Just start out by putting the project space in your own home directory and we can move it to the project space when we hve it.

Project space setup: https://xcp-gitlab.lanl.gov/eap-oss/parthenon-project

You'll need to:
- [ ] Add new environments in parthenon-project/environments for rzansel
  - probably can

[2020-11-03 16:56] JoshuaSBrown commented on #348
Sounds good.

[2020-11-03 17:15] pgrete opened #349 "Unify common function for blocks and mesh"
Currently, there's functionally duplicated code, e.g., calculating the FluxDivergence, depending on whether the kernel loops only over Variable(Packs) or over MeshBlockPacks.
Ideally, there'd only be a single interface and a single kernel implementation.

[2020-11-03 18:15] #112 closed

[2020-11-03 20:06] JoshuaSBrown opened #351 "Enable CI Darwin trigger status to show up in PR"
Currently, when you open a pr there is no link to the gitlab mirror that has to be manually triggered to run the ci on darwin. This can be addressed with the below link hopefully.

https://docs.gitlab.com/ee/user/project/integrations/github.html

[2020-11-03 21:35] junghans commented on #112
Actually Travis CI has power nodes these days, see https://blog.travis-ci.com/2019-11-12-multi-cpu-architecture-ibm-power-ibm-z

[2020-11-03 21:39] jdolence commented on #344
oops I think that's just my sloppiness.  I think it should read:
[code]
Does that code make more sense?

[2020-11-03 21:40] JoshuaSBrown commented on #344
Do you want to submit a small pr to fix this, otherwise I can?

[2020-11-03 22:38] jdolence commented on #344
It would be great if you could do it.  Not sure when I'd get to it.  Thanks!

[2020-11-03 22:49] JoshuaSBrown commented on #348
Is there a specific compiler that we want to go with or is gcc fine?

[2020-11-04 20:18] nmsriram commented on #345
I believe so.
Please don't remove the write in restart.cpp since that will be useful for viz at some point when I write the xdmf file.

[2020-11-04 21:58] cielling commented on #301
This was _not_ done on a single node, correct?

[2020-11-05 13:09] #344 closed, assigned to jdolence

[2020-11-05 20:08] AndrewGaspar commented on #348
OH, use gcc.

[2020-11-05 22:06] JoshuaSBrown opened #354 "Semantics of useing interior and exterior to define boundaries"
I find the use of interior and exterior to define boundaries confusing, I would propose to change these were appropriate to something more along the lines of front/back, anterior/posterior, fore/aft. Particularly when talking with regard to ghost zones describing the interior of a meshblock makes me think we are referring to the meshblock without the ghost zones, not as it is being used to describ

[2020-11-06 02:02] Yurlungur commented on #354
This discussion came from #332 .

I am fine with making this change, but only after some discussion, because these names show up everywhere. There may also be some desire to keep the same names for continuity with Athena++. @jmstone and @pgrete may be able to comment.

Of your suggestions, @JoshuaSBrown I think I like fore/aft best.

[2020-11-06 02:03] Yurlungur commented on #354
It's worth pointing out that `inner/outer` is not far from standard parlance for numerical simulations. People often talk about inner and outer boundary conditions to refer to, e.g., the inner radius and outer radius of a spherical shell.

[2020-11-06 02:23] Yurlungur opened #356 "`AddTask` does not support overloaded functions"
The following function overload
[code]
causes a bizarre template error
[code]
I believe the way we pass in variatic arguments is somehow causing the overload to be unresolved, even when it shouldn't be. I'm not sure if there's a fix. My workaround for now is to simply remove the overload and be explicit.

@jdolence do you have thoughts?

[2020-11-06 02:23] Yurlungur opened #357 "`AddTask` does not work with function overloads"
The following function overload
[code]
causes a bizarre template error
[code]
I believe the way we pass in variatic arguments is somehow causing the overload to be unresolved, even when it shouldn't be. I'm not sure if there's a fix. My workaround for now is to simply remove the overload and be explicit.

@jdolence do you have thoughts?

[2020-11-06 02:27] Yurlungur commented on #357
Update: the following also fails.
[code]

[2020-11-06 04:42] jdolence commented on #354
`inner` and `outer` might be a little confusing.  I've always preferred `low` and `high` or `lo` and `hi`.  Not sure what the implications might be, so I agree we should hear from others before changing this.

[2020-11-06 04:54] jdolence commented on #357
eww.  `std::bind` might help here, but it's not immediately obvious to me how to hide this from the downstream developer.  I think the usage would have to be to pass the result of a `std::bind` call that explicitly selects the desired overload.  I'll try to think of something that would have a better interface, but it might just not be possible.  I think we have to tell the compiler which overload

[2020-11-06 16:58] Yurlungur commented on #357
There's probably a way to hide this using named wrappers for the overloads, or anonymous functions. But that's also pretty gross.

[2020-11-12 15:22] nmsriram opened #360 "Face variables are not output to graphics or restart files"
The infrastructure currently does not output face variables to either graphics or restart files.  There are a couple things to beware of when going down this path:

- Face variables have three components: x-faces, y-faces, and z-faces.  These three have different extents and so need to be disambiguated in the output file.  My current inclination is to use `_x1`, `_x2`, and `_x2` for the three comp

[2020-11-12 19:27] JoshuaSBrown opened #361 "Rerun of Advection Convergence test fails"
The output directory of advection convergence tests needs to be cleaned before it is rerun, otherwise the test will fail.

"advection_convergence test seems to not clean up advection-errors.dat file.  As a result running the test twice in a row causes it to fail."

[2020-11-12 21:19] JoshuaSBrown opened #363 "Error with compiling Swarm Container"
It seems the swarm_container is missing a default constructor and won't compile with xl.

[code]

[2020-11-12 21:19] JoshuaSBrown commented on #363
This was compiled on RZansel with xl@16.1.1 + cuda.

[2020-11-12 21:20] JoshuaSBrown commented on #363
@brryan @Yurlungur

[2020-11-12 21:20] Yurlungur commented on #363
this looks like an issue with the `stdlib`.

[2020-11-13 21:44] Yurlungur opened #366 "Refactor of `BoundaryValues`"
Currently the `BoundaryValues` object owns all `Varaible`s owned by a `MeshBlock`. This means that when it performs prolongation/restriction operations, those are performed for all variables with ghost zones on all stages/`MeshBlockData` instances. This is obviously a lot of extra work being performed.

We need to refactor `BoundaryValues` to better reflect that not all `Variables` should be opera

[2020-11-13 21:54] Yurlungur opened #367 "Pass time into `BoundaryConditions`"
User-defined boundary conditions should support time-dependence. At this point they do not. This should be straightforward to enable, but I would like to wait until we have a use case to test the capability against.

[2020-11-18 21:20] Yurlungur opened #370 "copy constructor for `MeshBlockPack` and `VariablePack` should be host only"
As discussed on the call

[2020-11-19 15:48] #327 closed, assigned to AndrewGaspar

[2020-11-19 20:45] JoshuaSBrown opened #371 "Sanitize Codacy"
Sanitize parthenon so we can enable codacy without a bunch of warnings.

[2020-11-19 21:00] JoshuaSBrown opened #372 "Abstract/Standardize Parthenon supported HPC CMake Machine Config functionality"
As more Machine Config files are added it makes sense to abstract out the common functionality.

[2020-11-19 21:40] Yurlungur commented on #372
I'm not sure I agree with that, as all machine files do is record settings we pass to `cmake` at configure time. Can you give an example of functionality you would like to abstract?

[2020-11-19 21:41] JoshuaSBrown commented on #372
Take a look at the Darwin config file, I'm working on the config file for RZAnsel and have used a lot of the same logic. Standardizing the names of similar variables would also be a good idea.

[2020-11-19 21:44] Yurlungur commented on #372
Oh I see. Yes, because you're trying to be extremely general, that file is a rats nest. The machine config files I use personally I much smaller.

I would ask that the raw machine config files continue to work, even if some extra functionality is provided somewhere. It's very convenient for me to, e.g., throw together a file for my laptop or my personal setup on some HPC system.

[2020-11-19 21:47] JoshuaSBrown commented on #372
Ya, I'm not talking about how the logic is handled in pathenon/CMakeLists.txt but simply packaging some of the more useful logic into functions. Perhaps it could be placed in parthenon/cmake/MachineConfig.cmake.

[2020-11-19 21:49] Yurlungur commented on #372
Oh I see. Yeah, that makes sense to me.

[2020-11-20 12:51] pgrete opened #374 "Accessing a non existent package does not throw error but segfault"
[code]
e.g.
[code]

[2020-11-20 19:05] Yurlungur opened #375 "Reduce number of `ParArray1D`s in the VariablePack"
Currently `VariablePack` has several `ParArray1D`s that interfere with optimization. We should think of ways around this. One option might be to add further class specializations such as a `VectorVariablePack` or something. Raised by @forrestglines in #332

[2020-11-20 19:11] Yurlungur opened #376 "Do the remaining work to thread the new boundary machinery through the `MeshData` and `MeshBlockData` machinery"
Needed as an enhancement of #332 to include MRs #358 and #359 :
- Currently the boundary machinery accepts only `MeshBockData`, not `MeshData`. This should be rectified at some point.
- Prolongation and Restriction need to be `pack_in_one`-ified.

[2020-11-23 15:47] #349 closed, assigned to nobody

[2020-11-23 17:54] cielling commented on #301
Edit: These plots are OUT OF DATE! See here for up to date plots:
[buffer-in-one-tau_summaries.ipynb](https://github.com/lanl/parthenon/blob/cielling/scaling_analysis_ipynbs/weakscaling/buffer-in-one-tau_summaries.ipynb)
[buffer-in-one-weakscaling.ipynb](https://github.com/lanl/parthenon/blob/cielling/scaling_analysis_ipynbs/weakscaling/buffer-in-one-weakscaling.ipynb)
--------

![zonecyclesperwse

[2020-11-23 17:58] cielling commented on #301
Edit: These plots are OUT OF DATE! See here for up to date plots:
[buffer-in-one-tau_summaries.ipynb](https://github.com/lanl/parthenon/blob/cielling/scaling_analysis_ipynbs/weakscaling/buffer-in-one-tau_summaries.ipynb)
[buffer-in-one-weakscaling.ipynb](https://github.com/lanl/parthenon/blob/cielling/scaling_analysis_ipynbs/weakscaling/buffer-in-one-weakscaling.ipynb)
--------

![Kokkos_totals_li

[2020-11-23 18:52] pgrete commented on #301
@cielling thanks for sharing the plots. Especially the first one is very interesting.
I'll update my buffer-in-one branch tomorrow and then we should see a dramatic improvement in the packing timings (>30x).
Also the changes #378 may make it easier to get a complete picture of Parthenon. IIRC tau can process the Kokkos profiling regions.

[2020-11-23 20:38] cielling commented on #301
Edit: These plots are OUT OF DATE! See here for up to date plots:
[buffer-in-one-tau_summaries.ipynb](https://github.com/lanl/parthenon/blob/cielling/scaling_analysis_ipynbs/weakscaling/buffer-in-one-tau_summaries.ipynb)
[buffer-in-one-weakscaling.ipynb](https://github.com/lanl/parthenon/blob/cielling/scaling_analysis_ipynbs/weakscaling/buffer-in-one-weakscaling.ipynb)
--------
Two more plots from

[2020-11-24 20:30] JoshuaSBrown opened #379 "Add verbose output on ctest fail"
Since updating darwin config forgot to add verbose output on fail.

[2020-11-25 17:41] #356 closed, assigned to jdolence

[2020-11-25 17:49] jdolence commented on #357
OK, so the options here appear to be:

1. Don't use overloads
2. Explicitly select the overload you want by making a `static_cast`
3. Using std::bind
4. Wrapping the function in a lambda at the AddTask call site
5. Breaking the overloads into namespaces, which is similar to (1)
6. Use templating instead of overloading, which still requires being explicit at the call site, but is a little less awfu

[2020-11-25 18:01] Yurlungur commented on #357
I think that basically covers it. Probably which of those options is appropriate depends on the situation.

[2020-11-27 20:48] pgrete opened #380 "Single precision not tested"
While we have an option for single precision calculations, we do not include tests.
Moreover, we should make sure that for single precision runs all collective operations are performed in double precision.

[2020-11-30 19:46] JoshuaSBrown opened #384 "Bug somewhere related to mpi function calls."
CMake build with RelWithDebInfo fails, building with just Debug passes, build with release mode passes. This is for the test: regression_mpi_test:output_hdf5.

[code]

[2020-11-30 20:36] pgrete commented on #248
Adding some additional thoughts here following recent discussion and the (more pressing) need to have an easy "continuous benchmarking" infrastructure.
As a first step, to make data collection easier #378 added a lot more regions to the codebase so that we get more fine grained output based on the Kokkos profiling machinery.
Following that, I asked the Kokkos team about more straightforward option

[2020-11-30 20:42] pgrete commented on #384
Oh interesting, so this first happens at a later time?
And is it reproducible (at the same timestep)?
And if I recall correctly, cycle 214 would have been the last cycle in that test, so this may be related to only triggered at the end of a sim.

[2020-11-30 20:45] JoshuaSBrown commented on #384
Yes, always on the same cycle. @pgrete that is a good observation. I'm still looking into it.

[2020-11-30 20:56] pgrete commented on #384
Did this show up after #352 ? I could imagine that the new, more safe machinery now catches sth that silently passed previously (as it happens during finalization).

[2020-11-30 21:20] JoshuaSBrown commented on #384
It looks like it has been failing since #332 but was failing with a timeout instead. Which was merged after #352 .

[2020-11-30 22:44] JoshuaSBrown commented on #384
Error is triggered on call to, `v->mpiStatus = v->vbvar->ReceiveBoundaryBuffers();`

[code]

[2020-11-30 22:56] JoshuaSBrown commented on #384
Though it doesn't always fail, even when the test is simply rerun.

[2020-11-30 23:08] JoshuaSBrown commented on #384
Failing on this line in bvals_var. In the bvals_vars function ReceiveBoundaryBuffers().
[code]

[2020-11-30 23:33] JoshuaSBrown commented on #384
@jonahm-LANL do u have any ideas?

[2020-12-01 22:00] Yurlungur commented on #384
Odd. I can't imagine why `MPI_Iprobe` would fail. Why didn't the CI catch this before? I ran the full test suite before merging that in...

I wonder if this is an MPI bug. Are we currently building with OpenMPI? I wonder what happens if we build with MPICH

[2020-12-01 22:07] JoshuaSBrown commented on #384
Yes, we are building with OpenMPI, that's a good idea, I'll see what mpich does, I think your right, this looks like an mpi bug, for some reason when I build from scratch in my home directory there are no problems. So it vary well could be related to the dependency stack.

[2020-12-01 22:09] JoshuaSBrown commented on #384
The ci has been catching it, but it hasn't been consistent hence we spent some time checking to make sure it wasn't something related to how the ci was setup before investigating further. I just wanted to get some ideas before going down a rabbit hole.

[2020-12-01 22:12] Yurlungur commented on #384
Was the test disabled from the full suite?

[2020-12-01 22:15] JoshuaSBrown commented on #384
No, all of the tests have been running on darwin since it was enabled. Notice that the ci that @pgrete has been running has not encountered this error and it's running these tests too. Another point worth noting is that the results from ci do not automatically show up on a github pr yet, that feature has not yet been enabled.

[2020-12-01 22:42] Yurlungur commented on #384
Oh I see. I misunderstood. Yeah, when I merged, I only used @pgrete's CI output.

[2020-12-02 20:52] JoshuaSBrown commented on #248
It looks like the documentation for timemory is better than Caliper in regards to kokkos support. I'm in favor with starting with this framework.

[2020-12-02 21:19] JoshuaSBrown commented on #248
@pgrete what are your scripts going to do, and what kind of format are they going to be outputting as. Are you trying to generate files that can go directly in a repo that GINKO can parse (json format) or are you referring to scripts that are meant for running specific tests on certain architectures that you mentioned in our call?

[2020-12-02 21:29] JoshuaSBrown commented on #248
Also if we are going to be storing the raw data then we probably aught to agree on a format. As in how are we storing the data. In a single file. How often should we be adding data. Only if the performance metrics change by certain amount or every time a merge is made to develop.

[2020-12-02 21:34] JoshuaSBrown commented on #248
Possible information that we would want to add:

## Meta Data
* Date performance metrics were run
* Commit
* PR number
* Architecture
* All dependencies used with versions
* Build configuration options
## Test Specific Meta Data
* Test name
* Number of GPUs used
* Number of MPI procs
## Performance Metrics
* Timings and performance metrics associated with test (memory, cycles etc as is appropriate

[2020-12-02 21:42] JoshuaSBrown commented on #248
Repository for hosting [performance metrics](https://github.com/lanl/parthenon_performance_metrics)

[2020-12-03 00:34] Yurlungur commented on #248
@JoshuaSBrown is it possible to put the performance metrics into the wiki instead of a separate repo?

[2020-12-03 15:39] JoshuaSBrown commented on #248
Yes, that's right we did decide to do that.

[2020-12-03 21:19] pgrete commented on #248
I put a first sample script here #388
I think the next steps would be to
- [ ] Change the profiling tools to produce json output
- [ ] Then put all json output from a job in a single json file and augment with additional information (along what @JoshuaSBrown was suggesting above)
  - [ ] Ideally, we would save *all* parameters that ended up being used in that file, i.e., the one in the parthinput

[2020-12-10 20:32] AndrewGaspar commented on #384
The backtrace seems to indicate that it's the following line with the call to `MPI_Test` that's failing, with a segfault originating out of cuMemcpyAsync. My thought is that we're just dropping a buffer too early. But still figuring out how to debug for that... potentially a tool like cuda-memcheck, or perhaps just plain valgrind.

[2020-12-10 20:53] AndrewGaspar commented on #384
valgrind is always irritating running with openmpi because apparently openmpi just has uses uninitialized values all over the place. Must not be an issue, but still!

[2020-12-15 16:46] pgrete opened #396 "`Metadata::Requires` does not check other flags"
A pointed out by @jdolence in #386 `Metadata::Requires` currently does not check if other flags agree, e.g., the shape of the vector, and, thus, may result in problems/unintended behavior.

[2020-12-15 19:16] Yurlungur commented on #396
Related: same problem with `overridable`.

[2020-12-15 20:27] Yurlungur opened #397 "Rename `StateDescriptor`"
In #386 , @pgrete pointed out that the name `StateDescriptor` may not be the best name, as this class is used to register what physics packages do. Perhaps the class should be renamed.

[2020-12-15 23:35] JoshuaSBrown commented on #248
https://github.com/lanl/parthenon/pull/395 authenticated github application for pushing files etc to repository.

[2020-12-17 22:22] cielling commented on #301
Here are some plots of the profiles I got from Tau for the runs with nGPUs = 4 (1 node), 8 (2 nodes), and 32 (8 nodes). The runs were done with the `pgrete/buffer-in-one` branch (commit de6349d), and I had the environment variables `TAU_TRACE`, `TAU_PROFILE`, `TAU_TRACK_MESSAGE`, and `TAU_COMM_MATRIX` set.

It does seem that MPI communication is to blame for the drop in scaling at 8 GPUs.

![trace

[2020-12-17 22:24] cielling commented on #301
And here are plots of the communication matrix for those runs that Tau gave me. These ones show the number of calls and the total volume of bytes sent (also available in Tau were mean, std. dev., and max size of the messages sent). I'm not sure how insightful these are as-is.

![comm_matrix](https://user-images.githubusercontent.com/4451435/102550781-a3e85700-407b-11eb-84d0-96dabf00d21c.jpg)

[2020-12-17 22:42] jlippuner opened #398 "Detect absence of `python`"
I have `python2` and `python3` but not `python`, which results in a lot of build errors. We should deal with this. At least warn if there is no `python` and better yet detect what versions are available and choose one that exists.