[2020-12-17 23:19] JoshuaSBrown commented on #398
I thought only python3 was supported and that should be called directly. Where are you getting erorrs?

[2020-12-17 23:32] JoshuaSBrown commented on #398
The run_test.py script in the regression folder has a shebang specifying python3, all the other test modules are imported from that file so I'm surprised that it would create a problem.

[2020-12-18 18:26] pgrete commented on #398
Is this potentially happening in the linting step?
I see that
`tst/style/cpplint.py:#!/usr/bin/env python` tries to directly all call `python`

[2020-12-18 19:01] cielling commented on #301
More plots here:
[buffer-in-one-tau_summaries.ipynb](https://github.com/lanl/parthenon/blob/cielling/scaling_analysis_ipynbs/weakscaling/buffer-in-one-tau_summaries.ipynb)
[buffer-in-one-weakscaling.ipynb](https://github.com/lanl/parthenon/blob/cielling/scaling_analysis_ipynbs/weakscaling/buffer-in-one-weakscaling.ipynb)

[2020-12-19 11:57] pgrete commented on #301
Thanks for sharing! This looks very interesting.
I'd be curious to compare the results using the Kokkos tools for the regions for the same configuration.
I'm wondering if the MPI tau results are potentially misleading (in terms of where the time is actually spent) or if there's something unexpected going on in the MPI library.
IIRC MPI_Start is nonblocking and therefore should effectively not show

[2020-12-21 20:50] #361 closed, assigned to JoshuaSBrown

[2020-12-22 19:11] jlippuner commented on #398
Yeah, I think it's at the linting step. We should add a check in CMake to make sure we have `python3` or `python` (and it's version 3 if that's all that's supported) and then adjust `cpplint.py` accordingly.

[2020-12-22 19:16] jlippuner opened #399 "Detect wrong package name"
I ran into the issue where I changed the name (label) of a package in one place, but not in other places. This resulted in the code just hanging without any error message.

I think we should disallow the use of the `operator[]` for the packages Dictionary, so that we always have to explicitly get a package (using `at()`) or add one (using `insert()`) and we won't have a situation where we want to

[2020-12-22 22:05] Yurlungur commented on #399
We could also make `Packages_t` a think wrapper around the dictionary with a bounds-checking `operator[]`.

[2020-12-23 00:11] cielling commented on #301
I can look into that.

[2020-12-29 11:40] pgrete opened #401 "Initial timestep not calculated for `MeshData` based functions"
For apps using `MeshData`based `EstimateTimestep` functions (rather than `MeshBlockData` based) the initial timestep is not calculated.

[2021-01-06 18:45] JoshuaSBrown opened #405 "void PHDF5Output::genXDMF using nx1 nx2 and nx3"
I think this is problematic but wanted to check. The function getXDMF is using nx1 nx2 and nx3 without guaranteeing they have been initialized. Do these need to be initialized similar to how WriteOutputFile function is initializing them. @AndrewGaspar @jdolence

[2021-01-06 21:08] pgrete opened #408 "Timestep function are outdated"
As mentioned by @JoshuaSBrown in #402 some old machinery (e.g., around "`AllowedDt`") does not match it's current use in practice.
Some small refactoring should increase code clarity.

[2021-01-06 21:49] #401 closed, assigned to pgrete

[2021-01-07 09:57] pgrete opened #409 "Split `pman.ParthenonInit`?"
@jdolence @Yurlungur (specifically pinging you because of your downstream app):

What do you think about splitting `ParthenonInit` into a) pure initialization of Kokkos/MPI/Cuda and command line parsing and b) initialization of the packages/Mesh/etc?

I'm bringing this up as I was thinking about how to allow runtime configurable problem generator etc.
Currently,
[code]
need to be set before Parthe

[2021-01-07 16:12] JoshuaSBrown commented on #372
@AndrewGaspar I'm changing the title because I think this is more general than just LANL's HPC configs.

[2021-01-07 17:52] Yurlungur commented on #409
I think this is a good idea. Actually, @clellsolomon suggested a similar splitting some time ago. We currently select our problem generators with some cmake magic. Changing the parthenon manager to enable selecting at runtime would be a major improvement.

[2021-01-07 17:59] jdolence commented on #409
I think I even have a PR... #385

Something is broken in that that I never tracked down and I'm not sure it does exactly what you want, but it might be a place to start.

[2021-01-08 21:51] JoshuaSBrown commented on #379
This has been fixed.

[2021-01-08 21:51] #379 closed, assigned to JoshuaSBrown

[2021-01-13 20:30] AndrewGaspar opened #414 "Release 0.4"

[2021-01-13 22:54] JoshuaSBrown commented on #414
Ya, what do I need to do for this?

[2021-01-18 16:39] pgrete commented on #414
If I haven't forgotten anything the key pieces would be
- Open a new PR with
  - the version number updated in `CMakeCache.txt`
  - updated changelog (add version number and date to the "current" heading and create a new "current" heading with the same subheadings as before)
- Merge that PR into develop
- Merge develop into main
- Create a new official release (https://github.com/lanl/parthenon/re

[2021-01-18 17:09] pgrete opened #415 "AMR performance 1/N: Single large comm buffers versus 100+ small ones"
My current interpretation of profiling data on GPU suggests that (especially during load balance and mesh refinement) quite a bit of time is spent in allocating and deallocating comm buffers.
Current each buffer is is a separate Kokkos view, i.e., there are >100 (tiny) buffers for each MeshBlock.
This could be circumvented by using a single buffer with separate offsets.

[2021-01-18 17:13] pgrete opened #416 "AMR performance 2/N: number of ghost zones versus multi-stage communication"
My current interpretation of profiling data on GPU suggests that a significant fraction of a timestep is spent in infrastructure parts (specifically waiting for MPI comm to be done).
Currently, the "standard" integrator communicate ghost zones in each stage.
It may be worth experimenting where how the number of ghost zones affect performance versus MeshBlock size and stages.
In other words, for a

[2021-01-18 17:16] pgrete opened #417 "AMR performance 3/N: Prolongation/restriction still uses a kernel per buffer approach"
My current interpretation of profiling data on GPU suggests that a significant amount of time is spent during prolongation and restriction.
The current implementation still follows the original one where we have one kernel handling one buffer.
However, the runtime of the kernel is <= the kernel launch time (of, say, 5 us). Thus, a large chunk of time is spent in launching kernels rather than compu

[2021-01-18 17:25] pgrete opened #418 "AMR performance 4/N: Reorder buffer routine by "distance""
My current interpretation of profiling data on GPU suggests that a significant fraction of a timestep is spent in infrastructure parts (specifically waiting for MPI comm to be done).
Thus, buffer filling could be reordered, so that the current approach (in #359 )
1. Collect data (indices and data pointers) for all buffers
2. Fill all buffers (where buffers for neighboring MeshBlocks on the same ra

[2021-01-18 17:28] pgrete opened #419 "AMR performance 5/N: Optimal pack size"
In order to increase the potential for overlapping communication and computation we should experiment with the optimal partition size as each partition is independent (at least for the filling and sending buffer parts).
I also expect that the optimal partition size depends on the MeshBlock size.

[2021-01-18 17:30] pgrete opened #420 "AMR performance 6/N: Optimal execution policy for buffer filling kernels"
The buffer filling (and extraction) kernels in #359 have not been tested for optimal performance.
It'd be interesting to know which execution policy for best depending on architecture and MeshBlockSize.

[2021-01-18 17:33] pgrete opened #421 "AMR performance 7/N: Simplying communication routines"
There exist some call in the logic of our communication routine that I don't fully follow (and which may be leftover from some initial design ideas).
For example, the `resetBoundary()` function for each `Variable` resets the `var_cc` data pointer.
I'm not sure, this is still required and if the overall communication logic could not be simplified.

@jdolence I've been tagging you here as discussed

[2021-01-18 20:14] pgrete commented on #421
Looks like @Yurlungur may also have some good input on this issue.
Just found this comment in `variable.cpp` while trying to figure out what the difference between `bvars` and `bvars_main_int` is and if this is still need in Parthenon (or a remnant of the GRMHD code in Athena++)
[code]

[2021-01-19 15:51] JoshuaSBrown commented on #414
Thanks @pgrete

[2021-01-19 15:56] JoshuaSBrown commented on #414
Should I also create a version tag?

[2021-01-19 22:19] AndrewGaspar commented on #414
Yes, after merging.

[2021-01-19 22:21] AndrewGaspar commented on #414
When you do the tag, a release will be added to the "Releases" tab automatically. You'll need to update that release with the changelog contents. Conversely, I think when you do a release, it will also create a tag. So whichever way is easiest is fine.

[2021-01-19 22:49] Yurlungur commented on #415
Or kokkos subviews?

[2021-01-19 22:52] Yurlungur commented on #421
Yes. Let me refresh my memory on how this works. There's some optimization here that needs to be done.

[2021-01-20 17:09] Yurlungur opened #423 "Package names not unique"
@clellsolomon discovered that one can create a package with two different "names" via something like:
[code]
Unfortunately, there appears to be a hidden assumption within the code that "Name1" and "Name2" are the same... at least in the package dependencies machinery I wrote in #386 . I see fixing this as having two parts:

 - [ ] Remove this implicit assumption in the code added in #386
 - [ ] Re

[2021-01-20 23:25] pgrete commented on #415
Correct, that could also be an option to explore. I think the key piece is to get rid of all the tiny mallocs.

[2021-01-20 23:37] pgrete commented on #421
Three more riddles ;)
### 1 `coarse_s`
Why does `  ParArrayND<T> coarse_s; // used for sending coarse boundary calculation`, see variable.cpp
[code]
have this shape?
This looks like it's covering the entire MeshBlock. Is this required? I'm not sure I fully follow.

### 2 `bvars_main_int`
Are ` bvars` and  `bvars_main_int` (see `bvals.hpp`)
[code]
both still required in Parthenon or are they some r

[2021-01-20 23:54] Yurlungur commented on #421
Ok well I can answer some of these without refreshing my memory. (I will get to the other stuff soon I promise. I was sick last week and I'm behind.)

It is indeed covering the entire meshblock, at half resolution. It doesn't need to, of course. This wastes memory. But it's the implementation carried over from `Athena++`, and it's a single buffer, with the same topology of index space as the fine

[2021-01-21 00:02] Yurlungur commented on #415
I'd argue starting with subviews is the way to go, as it's probably simpler logic. And if it stops being a bottleneck, then we can stop worrying about it, even if it isn't perfect.

[2021-01-21 15:52] #414 closed, assigned to JoshuaSBrown

[2021-01-21 18:27] pgrete opened #427 "AMR performance 8/N: Combine "Variable" communication buffer"
Raised in #359

Currently each `Variable` uses their own communication buffers and handles.
Thus, there's a (significant[?] depending on N) overhead when  N `Variables`are uses versus one `Variable` vector of size N.
Given that the shape of each `Variable` and communication pattern is identical, they could be combined.
However, that'd likely require a major refactoring in the code and we should fi

[2021-01-25 19:26] #423 closed, assigned to Yurlungur

[2021-01-26 17:47] #398 closed, assigned to jlippuner

[2021-01-27 20:43] AndrewGaspar opened #429 "Re-implement static mesh refinement"
cc @pgrete @Yurlungur @jdolence

[2021-01-27 21:18] pgrete opened #430 ""FirstDerivative" AMR refinement ignores `Variable` vectors"
The current implementation accesses a `ParArrayND` with `q(k,j,i)` to evaluate the first derivative.
Thus, if the `ParArrayND` is a `Variable` containing a state vector only the first element is taken into account.

[2021-01-27 21:19] pgrete commented on #430
Also, the function ignores coordinates (which is fine for now but needs an update when we introduces different coordinate systems again)

[2021-01-28 22:04] jlippuner commented on #399
This was fixed by #425

[2021-01-28 22:04] #399 closed, assigned to nobody

[2021-01-28 22:09] jlippuner opened #431 "PostExecute() or PostExecute(DriverStatus)?"
@jdolence @AndrewGaspar You were the last to touch lines 53 and 82 in `driver.hpp`. The `Driver` class contains `virtual void PreExecute();` but the `EvolutionDriver` (derived from `Driver`) has `void PostExecute(DriverStatus status);`. This results in lots of compiler warnings like this:

[code]

Is `PostExecute` in `EvolutionDriver` supposed to override the `Driver`'s `PostExecution`? If not, it

[2021-01-29 21:28] Yurlungur commented on #430
The fix for now is probably just do a loop over the outer indices?

[2021-02-01 22:16] JoshuaSBrown opened #433 "Bug in Regression tests"
I believe there are two issues causing problems, one jsrun uses different parameters to specify the number of ranks, they are not all accounted by test_case.py the python regression testing framework.
This however does not account for the tests that have been failing on darwin since the buffer-in-one pr was merged.

https://github.com/lanl/parthenon/pull/359

[2021-02-01 23:41] JoshuaSBrown commented on #433
Been failing since commit c4dfc1eef028027cd625538cf3b571862a4858fb

[2021-02-01 23:42] JoshuaSBrown commented on #433
This is the test that fails:
[code]

[2021-02-01 23:43] JoshuaSBrown commented on #433
The commit before c4dfc1e passes f47690fcaaeac65da6b6e4a85842e8cee36e16bb

[2021-02-01 23:46] JoshuaSBrown commented on #433
Which is really weird because c4dfc1e adds files but doesn't call on any of it's logic.

[2021-02-01 23:58] JoshuaSBrown commented on #433
Looking back at the history it seems that the same test has been failing on and off before it became consistent. The earliest failure I can find starts with commit 8eb18ace, which is completely unrelated. So something is off in the logic of the mpi/cuda calls that is triggering this that is sensitive to the system environment.

[2021-02-02 16:17] JoshuaSBrown commented on #433
[code]

[2021-02-02 16:21] JoshuaSBrown commented on #433
Here it is again with more verbose output:

[code]

[2021-02-02 16:26] pgrete commented on #433
My first bet would be that cuda aware MPI is not enabled/supported/working correctly (MPI tries to access a buffer in GPU memory which it doesn't know how to access).

[2021-02-02 16:29] JoshuaSBrown commented on #433
Ya, I was just looking into that, it's possible that the mpi version was switched when the spack modules were updated.

[2021-02-02 16:36] JoshuaSBrown commented on #433
From what I can tell it is cuda aware:

[code]

[2021-02-02 16:39] pgrete commented on #433
Yes, but sometimes additional arguments are required (see, e.g., the `-gpu` argument on Summit). Might be worth double checking with the admin and/or try a small MPI test problem.

[2021-02-02 16:48] JoshuaSBrown commented on #433
[code]

[2021-02-02 16:49] JoshuaSBrown commented on #433
I will try compiling a small program that outputs a call to:
[code]

And see what it does, but I have a feeling it is going to be consistent.

[2021-02-02 17:08] pgrete commented on #433
Do the other parts of the advection performance test work?
The line you posted above results in ~4000 blocks per device and mpi process, which is significant.

[2021-02-02 17:15] JoshuaSBrown commented on #433
Yes

[2021-02-02 17:50] pgrete commented on #433
Do you have a different MPI library available?  I just doubled checked the exact command you run on a different cluster and there it works fine.
I'd get in contact with the sys admins.

[2021-02-02 18:02] JoshuaSBrown commented on #433
I'm going to first check if it is a resource limitation. It looks like we have mpich, don't know if it's cuda aware but ya I'll give it a shot.

[2021-02-02 18:12] JoshuaSBrown commented on #433
Allocating a node with 4 gpus and only using two does not help.

[2021-02-02 18:20] JoshuaSBrown commented on #433
Running with debug symbols does not help anything.
The same test run with a single rank and single gpu works.
Increasing the the meshblock cells to 64 from 16 cells works, this is pointing to a resource limit.

[2021-02-02 18:26] JoshuaSBrown commented on #433
My conclusion is that we are missing safeguards from preventing resource exhaustion particularly on the device memory space. Will see if I can run some tools to verify this is what is going on.

[2021-02-02 19:43] pgrete commented on #433
I'd be surprised if it's that, because when running out of memory this error is usually thrown directly during allocation and not during an MPI call on that address.
If this remains the only machine with issues for one specific case, I'm wondering if it's worth going down the rabbit hole.
I'd probably first try a different library and/or contact support before throwing heavier tooling machinery at

[2021-02-02 19:55] JoshuaSBrown commented on #433
It is the same error I get on RZAnsel, so I'm pretty sure it is not machine specific.

[2021-02-02 20:32] pgrete commented on #433
RZAnsel should have spectrum mpi, doesn't it?  And is also very close in design to Summit and TACC's Longhorn.
Would you mind posting a full log of how you compile and run on RZAnsel?
I still bet that there's something odd going on with respect to the environment.
I just confirmed that I don't see this issue on Longhorn (Power9 with 4x V100) and also that the memory consumption should not be an is

[2021-02-02 21:31] #431 closed, assigned to nobody

[2021-02-03 16:03] JoshuaSBrown commented on #433
It looks like I misspoke the error on RZAnasel was resolved by adjusting for jsrun parameters in the python script, my apologies. At this point the error is specific to Darwin. I will try switching mpi vendors and versions to see if that resolves the problem.

[2021-02-05 19:30] Yurlungur opened #442 "Blast wave scaling test"
## Problem setup

As descriged in the Athena test suite

https://www.astro.princeton.edu/~jstone/Athena/tests/blast/blast.html

and in

Zachary, Malagoli, A., & Colella,P., SIAM J. Sci. Comp., 15, 263 (1994); Balsara, D., & Spicer, D., JCP 149, 270 (1999); Londrillo, P. & Del Zanna, L., ApJ 530, 508 (2000).

### Summary:

- `rho = 1`
- `u = r > 0.1 ? 0.1*(3./2.) : 100.*0.1*(3./2.)`
- 0 velocity
-

[2021-02-05 20:17] Yurlungur commented on #442
Refinement is 1st derivative of density, as set up by parthenon.

Not sure how long to run for. Suggestions welcome.

[2021-02-09 22:51] #433 closed, assigned to pgrete

[2021-02-10 19:40] pgrete commented on #442
Here's the version that matches Athena++ setup (used in the paper), i.e.,
- 128^3 root grid with 16^3 MeshBlocks
- refinement on pressure gradient
- run till t=0.1
- note, that the `ramp` parameter is important to get the result reported in the paper. I'll ramp up the overpressure from r=0 to r=0.01

[code]

And here's the corresponding input file for AthenaPK
[code]

[2021-02-10 19:48] kjeverson opened #445 "Gold_Standard regression test issues"
I am unable to download/untar the gold_standard regression tests properly.

[code]

[2021-02-10 19:51] pgrete commented on #442
And here are some numbers:
On 4x dual socket AMD EPYC 7H12 (i.e., 512 MPI ranks):
- Athena++ 16^3 AMR: walltime 472 seconds at 2.38e8 zone-cycles/s
- AthenaPK 16^3 AMR: walltime 692 seconds at 1.63e8 zone-cycles/s
- AthenaPK 512^3 uni: walltime 3400 seconds at 4.22e8 zone-cycles/s

On 2x Power9 with 4x V100 each (i,.e., using 8x V100 total)
- AthenaPK 512^3 uni: walltime 854 seconds at 16.8e8 zone

[2021-02-10 20:01] JoshuaSBrown commented on #445
What command did you enter?

This works for me:

[code]

[2021-02-10 20:04] kjeverson commented on #445
I entered that exact command, but I also set the `-D REGRESSION_GOLD_STANDARD_SYNC=OFF`, otherwise I never get a matching hash

[2021-02-10 20:04] Yurlungur commented on #442
What is the `pgen`? Is it in the one in the Athena++ public version?

[2021-02-10 20:22] JoshuaSBrown commented on #445
What is your checksum on the file?

[code]

[2021-02-10 20:30] kjeverson commented on #445
`MD5(parthenon_regression_gold_v3.tgz)= d41d8cd98f00b204e9800998ecf8427e`

[2021-02-10 20:32] JoshuaSBrown commented on #445
It looks like you had a problem with the download. Can you try downloading again. https://github.com/lanl/parthenon/releases/tag/regression-gold-v3

[2021-02-10 22:49] kjeverson commented on #445
That worked. Thanks!

[2021-02-10 22:49] #445 closed, assigned to nobody

[2021-02-11 14:48] jrmadsen commented on #248
So I ran across this while looking at the [kokkos-tools issue](https://github.com/kokkos/kokkos-tools/pull/113), not sure if y'all already decided on a path forward but from scanning the comments here, the toolkit API of timemory is basically designed for this exact sort of thing (as opposed to the pre-built kokkos-tools impl mentioned previous).
The library has a kokkos-tools implementation but t

[2021-02-11 14:58] jrmadsen commented on #248
If y'all do indeed want to use the toolkit API, let me know if y'all want to set up a mini-hackathon or something. Unfortunately, I rolled out this thing out right around Feb 2020... covid basically cancelled any potential post-ISC tutorials so I haven't generated good toolkit guides.

[2021-02-16 13:01] pgrete opened #446 "Global fence in `DeviceAllocate`"
`DeviceAllocate`, see [PR440](https://github.com/lanl/parthenon/pull/440), uses a global `Kokkos::fence()`.
Once we introduce streams/multithreading, this should be updated to only fence the the associated device.

[2021-02-16 17:22] JoshuaSBrown opened #447 "Proliferation of friend classes in Boundary values"
I noticed that there are a lot of friend classes used in the boundary values logic. Something needs to be redesigned to avoid this logic turning into a hairball of tightly coupled classes that are interdependent.

[2021-02-16 20:10] AndrewGaspar opened #448 "Add MPI Communication Tagging Bounds Checking"
We just got bit by this issue with the "advection_performance" test running on 4 ranks (yeah, I know, we're not supposed to do that) on Trinitite using cray-mpich: https://github.com/lanl/SNAP/issues/6

Our current communication tags are structured as:
[code]

So 5 bits (range [0,31]) for physics ID, 6 bits (range [0,63]) for buffer ID, and 21 bits (range [0,2097151]) for the block ID. So we shoul

[2021-02-16 20:45] AndrewGaspar opened #449 "Consider Alternative MPI Communication Tagging Strategies"
We just got bit by this issue with the "advection_performance" test running on 4 ranks (yeah, I know, we're not supposed to do that) on Trinitite using cray-mpich: https://github.com/lanl/SNAP/issues/6

Our current communication tags are structured as:
[code]

So 5 bits (range [0,31]) for physics ID, 6 bits (range [0,63]) for buffer ID, and 21 bits (range [0,2097151]) for the block ID. So we shoul

[2021-02-17 21:13] pgrete commented on #448
Interesting, that could explain the issue that @JoshuaSBrown saw (#384), doesn't it?
I'm currently also hitting a tag issue with Intel MPI 19 and vanilla Athena++, which also seems to be linked to the lower number of tags supported.
Pinging @jmstone for reference.

[2021-02-17 21:18] pgrete commented on #448
One more point. The block ids are the global ids, aren't they? So it's a 2 million block total limit (ideally) and 1024 (on cray) and not a per rank limit.
This would make this way more serious.

[2021-02-17 21:32] pgrete commented on #449
Also pinging @jmstone here regarding the use of the physics id piece in Athena++

[2021-02-17 21:45] pgrete commented on #449
With respect to mitigation, how about removing the physics ID entirely and use different communicators for different physics?
I'm still concerned if the tag limit that we are guaranteed to work with is limited to 32k (especially for global block ids), similarly even for the larger, non-standard tag limit of 2^21-1, it would limit the total number of blocks to 32k (using 6 bits for the buffer id),

[2021-02-17 21:51] pgrete commented on #449
Also tagging @felker as he actually left a note on that in Athena++ :smile:
[code]

[2021-02-17 22:00] jmstone commented on #448
MPI tags are constructed from local IDs, so the limit is per rank, not total for the job.  Not sure how to get around this except to use different communicators for different physics, as Philipp suggested.  Since communication of different buffers with different variables (physics) occurs simultaneously, then you have to have someway to create unique tags.

[2021-02-17 22:30] felker commented on #449
I remember talking to Jeff Hammond about this topic and his [BigMPI](https://github.com/jeffhammond/BigMPI) project after going down this MPI rabbit hole via Athena++.

Cray MPICH is of course the oddball here with such a small `MPI_TAG_UB`, but I thought @jeffhammond mentioned that this limit was being increased. But the minimum imposed by the MPI standard will never change.

@tomidakn @jmstone a

[2021-02-17 22:48] pgrete commented on #449
According to TACC support "Intel restricted the max value of a tag to 1048576 in impi 19 versions", which would make this potentially an issue beyond Cray MPICH.

[2021-02-17 23:03] pgrete commented on #448
Right, local ids, I missed that the point-to-point communication between ranks is guaranteed to be unique using local ids.
I don't expect we'll have 32k+ blocks per node anytime soon, so separating the physics could be a safe option for now.

So it seems that the issue I mentioned above  is not related to the tags used for buffers, but only for MPI IO (where somewhere down in the callstack the log

[2021-02-17 23:12] jmstone commented on #448
MPI tags are constructed from local IDs, so the limit is per rank, not total for the job.  Not sure how to get around this except to use different communicators for different physics, as Philipp suggested.  Since communication of different buffers with different variables (physics) occurs simultaneously, then you have to have someway to create unique tags.

[2021-02-17 23:14] jmstone commented on #448
Yes, the problem with MPI-IO has also been encountered with other groups running Athena++ on Frontera.  However, Athena++ does not create tags for MPI-IO, as there are no explicit sends or receives.  This is some internal tag being created in the MPI-IO library.  So I really don't know how to fix that.

[2021-02-18 03:17] jeffhammond commented on #449
https://cug.org/5-publications/proceedings_attendee_lists/CUG09CD/S09_Proceedings/pages/authors/01-5Monday/3C-Pagel/pagel-paper.pdf explains why Cray has the limit it does.

You need to figure out how to use tag bits more efficiently. It's not practical to assume more than MPI_TAG_UB.  In my experience, applications than need more than 32Ki tag bits are using a bad design.

[2021-02-22 18:41] pgrete opened #454 "Backpropagation of CMake variables"
When trying to use the regression test infrastructure downstream I noticed that our `setup_test_parallel` did not work as the test for `MPI_FOUND` failed (despite MPI being properly recognized and configured by Parthenon (and downstream)).
Adding `find_package(MPI COMPONENTS CXX)` right before `setup_test_parallel` fixed this suggesting that whatever is found in Parthenon is not propagated up.

[2021-02-22 22:40] jlippuner opened #455 "Remove mention of `DerivedOwnership` from doc"
`DerivedOwnership` seems to have been removed (by @Yurlungur?), but the documentation (`docs/interface/state.md`) still mentions it.

[2021-02-22 23:44] Yurlungur commented on #455
Good call. Yes that should be removed.

[2021-02-23 00:25] INNeira commented on #455
Hi everyone. I'm new in github, this issue in particular will be my first if i can solve. Can i fix this? Thanks!

[2021-02-23 16:32] Yurlungur commented on #455
Hi @INNeira welcome! Yes, please do. :)

[2021-02-24 16:38] jlippuner opened #457 "Fix CI for PRs from forked repos"
It appears that the CI hangs for PRs from forked repos (see #456, for example). This needs to be addressed. Either by fixing it or adding a capability to override the CI and merge anyway.

[2021-02-24 18:53] #455 closed, assigned to nobody

[2021-02-24 20:31] pgrete commented on #457
I did some further reading and it looks like this is a long standing issue: https://gitlab.com/gitlab-org/gitlab/-/issues/5667 (mostly originally not addressed because of security concerns, e.g., leaking of secrets).
While it is in process of being addressed, it didn't make it in the past two years.
I suggest that (for now) we don't invest effort in a workaround and handle PRs from forks manually

[2021-02-25 16:22] jlippuner commented on #457
Thanks for looking into this. It is a bit more work than 4 commands on the command line because one has to then open a new PR and explain on the old PR why we can't merge it and that the contribution was moved to a new PR.

I saw two issues with the PR from a fork:
1) The GitHub action "Check Formatting / Check C++ Formatting (push)" did not run. This is independent of GitLab, so there should be a

[2021-02-25 17:38] JoshuaSBrown opened #460 "Parameter input class needs const correct Get methods"
It would be nice if the parameter input class had a get method that was not able to change the state, this would make it more clear as to where the input parameters allowed and should be edited.

[2021-02-25 18:15] Yurlungur commented on #460
I don't quite understand. We have one of those. `GetOrAdd*` changes state. `Get*` doesn't, right?

[2021-02-25 18:24] JoshuaSBrown commented on #460
Ya, but the Get methods are missing the const keyword, that needs to be added.

[2021-02-25 18:27] JoshuaSBrown commented on #460
E.g.

We have:

[code]

We need:

[code]

[2021-02-25 18:27] JoshuaSBrown commented on #460
These methods could all probably be made into templates anyway.

[2021-02-25 21:04] Yurlungur commented on #460
Ah, I see. Adding `const` for those methods might just work. Changing them to templates sounds like a bigger rewrite.

[2021-02-27 10:07] pgrete opened #462 "Default output basename"
While adding a small quality of life improvement #461 I also came across another item.
Currently the default output filename is set by `      op.file_basename = pin->GetOrAddString("parthenon/job", "problem_id", "parthenon");`
This mean any downstream code needs to have a `parthenon/job` block (or all outputs will have the `parthenon` basename.
I suggest to move this option to a different place an

[2021-02-27 10:44] pgrete commented on #457
I haven't used GitHub actions yet but it [seems](https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/) that there should be an option. Who currently has the power over the GitHub actions? IIRC Andrew set those up originally.

Similarly, I think that some the owners of the repo should be able to merge without all checks passed (should also be in the repo o

[2021-03-01 17:30] #409 closed, assigned to nobody

[2021-03-04 16:06] JoshuaSBrown opened #464 "Calculate Pi Example Failing in CI in develop"
https://re-git.lanl.gov/eap-oss/parthenon/-/jobs/101096

[code]

[2021-03-04 17:05] #464 closed, assigned to nobody

[2021-03-04 19:13] Yurlungur commented on #462
Hmm... I'm not sure I have a strong preference between these options. I guess I have a slight dislike putting it in `parthenon/mesh`.

[2021-03-04 19:14] jdolence commented on #462
just as another option, we could specify a basename per output block...something like
[code]

[2021-03-04 19:39] JoshuaSBrown commented on #462
I like this idea.

[2021-03-04 19:50] JoshuaSBrown opened #466 "Tiling when using Kokkos MDRange and others"
It will be worth finding reasonable defaults once the code base matures a bit more for the tiling parameter that can be specified alongside the different Kokkos policies. Using the defaults can lead to significant performance degradation.

[2021-03-04 21:09] Yurlungur commented on #466
And this may be hardware or meshblock size dependent.

[2021-03-04 21:11] Yurlungur commented on #462
I like that idea too. But in that case we should just drop the "out1" "out2" etc

[2021-03-05 03:27] jdolence commented on #462
the out1 etc. could be the default basename if none is provided

[2021-03-08 16:51] JoshuaSBrown opened #470 "Profiling of IO with Darshan"
This was run on RZAnasel, in this case the current restart file implementation was used. I changed the dt of the output so that was outputting every interaction so we could better see how it compares to other operations. This data is for 4 mpi procs with 4 gpus.

[brown338_advection-example_id68881_3-8-31318-13285664948311116455_36.darshan.pdf](https://github.com/lanl/parthenon/files/6102883/brown

[2021-03-08 16:54] JoshuaSBrown commented on #470
I'm guessing it would be advantageous to see what this looks like on a much larger scale. Also this was setup to output in the home directory which is NFS mounted, I will need to rerun this looking at how it behaves with a parallel file system.

[2021-03-08 19:45] JoshuaSBrown opened #471 "Consecutive calls to cmake -S. -B build are failing on Darwin in some instances"
[code]

Seems to be a problem with finding mpi the second time around.

[2021-03-09 18:56] Yurlungur commented on #471
That's odd. I wonder if there's an `include` guard or something that shouldn't be there?

[2021-03-09 20:01] Yurlungur commented on #470
This is a great start! We definitely need to see how it changes with scale though

[2021-03-10 20:25] dholladay00 commented on #470
Great work @JoshuaSBrown! I agree with @Yurlungur, definitely need to see what happens at scale.

[2021-03-17 15:18] forrestglines opened #474 "Make HDF5 Outputs readable by yt"
For our astrophysics work with Parthenon, we'll need to be able to load Parthenon outputs with `yt` `ttps://github.com/yt-project/yt. Most of that work will be in developing a `yt` frontend for Parthenon, using the Athena++ frontend as a starting point, but it will likely require adding a few things to the Parthenon HDF5 data output. I believe we'll need to add:
- A 1D dataset with the AMR level o

[2021-03-17 16:01] JoshuaSBrown commented on #474
I don't think so, I'm in the process of looking at the performance of the HDF5 io. Moving forward it may make sense to move to parallel MPI io instead of using the hdf5, but that has yet to be decided. If these attributes are going to be printed with every restart file it may make sense to make them optional to prevent unnecessary io overhead, others probably have more feedback.

[2021-03-17 16:46] Yurlungur commented on #474
I think this would be great to have.

[2021-03-17 17:25] forrestglines commented on #474
If I need to reimplement the `yt` frontend for a better data format in the future, I'm fine with doing that.

The total additional data will be very minimal, a couple bytes per meshblock. Hopefully that won't add a performance cost, but I'll watch out for it and potentially make the additional data for yt optional but always written for AthenaPK.

[2021-03-17 22:38] Yurlungur commented on #474
One thing to keep in mind, which we can worry about later, once we have a yt reader, is coordinate systems. I recall yt has pretty rich machinery for handling this, but we'd have to hook into it when the time comes.

[2021-03-18 15:38] JoshuaSBrown commented on #470
Here are some more preliminary results. Using the restart example. The restart example was altered so that a restart file was output at every iteration so we can see how the IO cost corresponds to the rest of the infrastructure.

Stats for RZAnsel using 1 node 4 mpi proc 4 gpus
Restart written to: HOME directory on every step
<img width="478" alt="Screen Shot 2021-03-18 at 9 25 43 AM" src="https:/

[2021-03-25 16:02] forrestglines commented on #474
I have a working prototype for `yt` outputs in #478  and a `yt` frontend at https://github.com/forrestglines/yt/tree/athenapk-frontend. Parts of my prototype need to be rolled into hooks for downstream codes and moved to AthenaPK.

I had to add a couple attributes and datasets. I'd like your opinion on whether we should write these by default, have a flag to toggle them on and off, or only include

[2021-03-25 16:05] forrestglines commented on #474
Also, first output from `yt` with static mesh refinement. The lines show the meshblocks

![image](https://user-images.githubusercontent.com/5799640/112504559-493d5600-8d62-11eb-98fc-6f4013fb8c47.png)

[2021-03-25 17:22] Yurlungur commented on #474
Nice work @forrestglines ! This looks great! I like all the new attributes/datasets. I also like the idea of hooks for downstream codes to add their own information.

[2021-03-25 17:23] Yurlungur commented on #474
One thing to be careful of is the yt reader should be robust to missing inputs from downstream codes. i.e., if AthenaPK and Riot both write to yt, the adiabatic index will be almost certainly missing from riot.

[2021-03-25 17:42] Yurlungur commented on #470
Even for 2 nodes, that's already quite bad. This is perhaps something we should devote time to in the near future. I think the sequential writes are probably the big bottleneck. We should look at parallelizing that.

[2021-03-25 17:58] forrestglines commented on #474
I agree, especially about the adiabatic index. After all, adiabatic index only makes sense for some equations of state.

One piece concerning compatibility though is that the `yt` reader will expect very specific names for density, momenta, etc. These are used internally by `yt` to compute derived fields, so it will break if they can't find them. Right now my `yt` frontend expects the same names t

[2021-03-25 22:30] Yurlungur commented on #474
Hm... Could we perhaps define a name map in the metdata specified by downstream code, which tells yt which variable is which?

[2021-04-01 16:14] JoshuaSBrown commented on #470
![SNOW_writerate_restart](https://user-images.githubusercontent.com/4664476/113323329-113e9180-92d3-11eb-9144-79bfd9482a8f.png)
![SNOW_totalwrite_restart](https://user-images.githubusercontent.com/4664476/113323340-14d21880-92d3-11eb-8614-aa28d13d4daf.png)

[2021-04-01 16:16] JoshuaSBrown commented on #470
These systems are still to small to get a strong indication of how the io is performing. What is shown is the io for writing restart files at every step using a weak scaling.

[2021-04-05 21:46] Yurlungur commented on #470
@JoshuaSBrown what's the difference between the top and bottom plots here?

[2021-04-05 21:47] JoshuaSBrown commented on #470
The first one is a rate the second one is the total amount. After our meeting, I realized I should have turned off amr. The reason the numbers are all over the place is likely because of amr, it's the same problem @gshipman was hitting I believe.

[2021-04-05 22:23] Yurlungur commented on #470
Hmm I see... Nevertheless, the bitrate seems fairly constant. I would imagine it should be rising linearly with processors. So the fact that it isn't is troubling.

[2021-04-05 22:25] JoshuaSBrown commented on #470
Ya, that came up in the meeting, weak scaling we should see an linear increase.

[2021-04-05 22:26] Yurlungur commented on #470
Ah, ok. Sorry I'm playing catchup. :)

[2021-04-06 00:14] dholladay00 commented on #470
@JoshuaSBrown, how did the runs over the weekend go? Did using lustre show any difference in I/O speeds?

[2021-04-06 04:26] JoshuaSBrown commented on #470
![Grizzly_writerate_output](https://user-images.githubusercontent.com/4664476/113658574-886e7f80-965d-11eb-950b-ad7a939b6a3c.png)
![Grizzly_total_output](https://user-images.githubusercontent.com/4664476/113658585-8ad0d980-965d-11eb-841e-6c8f43f49c61.png)

1. Here we can start to see the weak scaling better. Total MiB scales linearly except around 16 mpi proc there is something odd going on.
2. Th

[2021-04-07 15:27] forrestglines opened #484 "InitUserMeshData provides no access to `Mesh`"
The user hook for problem generation `InitUserMeshData` provides no access to `Mesh` or any physics packages. In the Athena++ implementation, `InitUserMeshData` was a member function of `Mesh` and so had acess to private data members.

I think we could just add a `std::shared_ptr<Mesh> mesh` to the arguments of `InitUserMeshdata` to provide sufficient access to `Mesh`. However, we would have to ch

[2021-04-07 16:29] pgrete commented on #484
Pinging @Yurlungur @jdolence @brryan @nmsriram for feedback regarding downstream implications.

[2021-04-07 21:24] Yurlungur commented on #484
Wait---why would problem generators need to be modified? I don't think we currently use `InitUserMeshData` downstream. We just initialize everything we would need in the problem generator itself.

[2021-04-08 15:04] JoshuaSBrown commented on #470
I thought I responded to this, oops. Ya, I'm pretty sure the batch submission crashed a few minutes after I logged on, but here are some fresh numbers.

![Grizzly_total_loglog](https://user-images.githubusercontent.com/4664476/114051264-2a52bf80-984a-11eb-8554-5553ee9ae2f7.png)

![Grizzly_writerate_log](https://user-images.githubusercontent.com/4664476/114050936-ea8bd800-9849-11eb-89b5-c4ff610a66a

[2021-04-08 18:10] JoshuaSBrown commented on #471
I think I found the problem with this. I believe it is only happening on Darwin when the project space is being used because nvcc path is being added to the PATH env variable, so if you login again and try to run the build it will fail because it can't find the nvcc. The error message is misleading.

[2021-04-08 18:15] JoshuaSBrown commented on #471
Ok, I can confirm this is the problem, this is Darwin specific cuda/11.0 needs to be loaded.

[2021-04-09 16:19] forrestglines commented on #484
We often initialize all the additional multiphysics - for my problem different astrophysical feedback mechanisms, cooling, etc. - in the problem generator in `InitUserMeshData`. It's also usually the best place to call the user hooks like `EnrollUserExplicitSourceFunction`.  The (Athena++ docs)[https://github.com/PrincetonUniversity/athena-public-version/wiki/Problem-Generators] describe those use

[2021-04-09 18:13] Yurlungur commented on #484
I see. Ok. I think your suggested change might be useful for us down the road, but currently we don't use `InitUserMeshData`. We just stick things in scratch variables or `param`s.

[2021-04-11 11:03] pgrete commented on #419
For uniform grid calc with K-Athena we found that the GPU perf starts to saturate around 128^3.
This may motivate a baseline test (when does performance start to saturate for a given set of physics), which then is used as a target pack size.

[2021-04-15 14:45] JoshuaSBrown opened #489 "Tests on darwin now failing"
[code]

[2021-04-15 15:58] pgrete commented on #489
Same on the CI machine. This is a plain Kokkos error and I want to discuss during the call what we about it (e.g., should we add hardware depended safety checks or change the test case).

[2021-04-16 18:24] JoshuaSBrown commented on #489
Still causing failure, looks like some other thresholds in the performance testing need to be updated:
[code]

[2021-04-18 09:44] pgrete commented on #489
Could you try rerunning that test?
This test is very sensitive to concurrency, so if, for example, another job was running at the same time using GPU resources this is likely to fail.

[2021-04-20 17:05] JoshuaSBrown commented on #489
The tests are running on their own node, So I think it is unlikely that what you are suggesting is the cause. With a rerun I'm getting similar results.

[code]

[2021-04-20 17:10] JoshuaSBrown commented on #489
It looks like the ci is not building with release let me try that, it is probably the cause.

[2021-04-20 17:51] JoshuaSBrown commented on #489
Setting to release does not appear to help.

[2021-04-20 18:06] JoshuaSBrown commented on #489
I can confirm that reverting the changes from pr https://github.com/lanl/parthenon/pull/487

leads to the expected behavior. That pr is causing a performance regression on the power9 architecture at least for these tests.

This is what I get when I revert those changes.
[code]

[2021-04-20 18:16] JoshuaSBrown commented on #489
As stated before there was no guarantee that the tiling we are now using would lead to idea performance on every architecture, I suspect that this is related to how the tiles are mapping to the hardware.

[2021-04-20 18:17] #471 closed, assigned to nobody

[2021-04-20 20:31] forrestglines opened #491 "Fix bugs when outputing nonexistent variables"
Previously, Parthenon allowed attempting to output variables that don't exist from the parameter file. This behavior is acceptable, although we should add a warning.

However, recent changes to the HDF5 metadata introduced bugs and broke this functionality.

[2021-04-20 21:41] pgrete commented on #489
Is this a host or device build that fails?

[2021-04-20 22:03] JoshuaSBrown commented on #489
Everything is built from the host side, if that's what you mean? But those tests should be running on Volta GPUs.

[2021-04-21 17:06] brryan opened #495 "Non-blocking, non-hanging `TaskRegion`s"
Right now if you add an empty `TaskRegion` to a `TaskCollection` (sometimes there are good reasons for it, but it can also be a bug if you forget to reference the return argument from `AddRegion`, e.g. `TaskRegion my_mistakenly_copy_constructed_region = tc.AddRegion(1)`) the task logic hangs during execution.

Also, it would be useful to have non-blocking `TaskRegion`s. Some operations like global

[2021-04-21 19:48] pgrete commented on #489
I meant whether the test is being executed on a CPU or on a GPU.
I'm asking as there are OpenMP warnings in the log output and the test is not really setup to test performance (i.e., pass) when executed on CPUs.

[2021-04-21 21:05] JoshuaSBrown commented on #489
This is from the build configuration:

[code]
So I would not think so, I can check using nvidia-smi, though.

[2021-04-22 01:17] felker commented on #449
@jeffhammond what alternatives for encoding metadata that identifies the appropriate recv buffer would you suggest, in general?

[2021-04-22 20:01] pgrete commented on #489
I now had a second look at the timings you shared.
Looks like that the new configuration is now so fast that we actually hit the latency limit (e.g., launching 8 kernels with ~5us launch overhead -> approx 4e-5s just launching kernels -- compared to the reported runtimes of 8.7166e-05 and 6.6171e-05, respectively).
Also, this exposes exactly the problem that the discovered last year and which prom

[2021-04-22 20:11] pgrete commented on #495
Yes, that's sth we should catch/throw a warning or similar.

IIRC we specifically decided that individual `TaskRegions` in themself are synchronous for exactly that reason (like to to do global reductions).
What's your specific use case for non-blocking `TaskRegions`?
Couldn't you just use non-blocking tasks in an existing region?

[2021-04-23 17:24] Yurlungur commented on #489
I vote we just remove the short kernel test.

[2021-04-23 17:51] forrestglines opened #499 "Parthenon-yt fixes"
This is more a place holder to fixes annoyances I've found as I've used `yt` for Parthenon data. I'll likely add to this list of issues as I find more problems. The goal will be to resolve them well before the `yt-4.0` release in June so that a Parthenon frontend is included in the new `yt` release.

Issues:
- [ ] Using "/" in the `Params` dataset to separate package and parameter is the least con

[2021-04-26 07:19] pgrete commented on #466
Closing as this has been addressed in #487
Feel free to reopen if performance is still not as expected.

[2021-04-26 07:19] #466 closed, assigned to nobody

[2021-04-26 15:18] JoshuaSBrown commented on #489
I'll see if turning off the host execution space fixes the problem. If not I'll take your suggestion @Yurlungur. It would be nice have performance regression tests for those smaller cases but that can also wait for a separate pr.

[2021-04-26 17:57] pgrete commented on #489
Now the both tests also occasionally fails on the standard CI...
[code]

I now adjusted the threshold in #500 so that is more or less a test of whether SpaceInstances (that are currently nowhere used in Parthenon) work (and don't incur a significant overhead) and not any more kernel specific timings (as I mentioned above the original goal of that test has been addressed with MeshBlockPacks and buf

[2021-04-27 16:10] Yurlungur opened #503 "Improve advection test to handle multiple variables more"
As @pgrete suggested, we should advect 3 variables in different directions and check things align

As @jlippuner pointed out, the names for multiple variables are the same as for sparse variables, which might be confusing.

[2021-04-27 16:20] Yurlungur commented on #503
Also change the initial profile to an enum instead of an int

[2021-04-27 16:45] Yurlungur commented on #106
Is this still true? @jlippuner ?

[2021-04-27 16:58] pgrete commented on #484
Closed via #498 and addressed downstream in packages.

[2021-04-27 17:00] #484 closed, assigned to nobody

[2021-04-27 21:06] Yurlungur opened #506 "Memory leak introduced by `one-buffer`"
In current develop, we now have the capability to advect multiple variables of arbitrary vector size. Unfortunately we find some strange memory results:

Using the following input deck for the advection example
[code]

we find the memory utilization to be about 8GB. If we set `num_vars = 2` and leave `vec_size = 1`, we get about 16GB memory utilized. If we set `num_vars = 1` and `vec_size = 2`, we

[2021-04-28 20:34] Yurlungur commented on #506
This isn't actually a  memory leak. @maxpkatz helped us figure it out and will provide more details.

The issue can't be "resolved" since it's not a bug, but bears consideration in the future.

[2021-04-28 21:10] maximumcats commented on #506
For this example, we are allocating buffers of ~700 kB, ~2.2 MB, and then ~450 kB in sequence many times. This results in a fairly high level of unused physical memory on the GPU due to the internal implementation of cudaMalloc. Large allocations occur in 2 MB chunks in the current CUDA implementation, although this is subject to change in future CUDA driver versions, and cannot be controlled by t

[2021-04-29 15:26] JoshuaSBrown commented on #470
![Grizzly_writerate_log](https://user-images.githubusercontent.com/4664476/116576628-f6107300-a8cc-11eb-8fa5-b9a2a6b0eb32.png)

[2021-04-29 22:17] felker commented on #449
The need to encode so many bits of destination block and buffer metadata in the MPI Tag is a consequence of the original Athena++ MeshBlock parallelism design. During the halo exchanges, there could be many point-to-point messages between two ranks posted at the same time, i.e. (from what I recall) there is no strict ordering from which the block/buffer info can be implicitly derived. Although the

[2021-04-29 22:29] jeffhammond commented on #449
Remember that the limit on communicators is per process, not global.  Every process can create a communicator that includes all of its neighbors and that counts as one communicator against the limit of 8000+.

Edit: it might require O(1) communicators, i.e. max(number of neighbors) in the worst case.  Ideally, you will figure out how to create batches of nonoverlapping cliques for your calls to [`

[2021-04-29 22:57] jmstone commented on #449
It might be possible to add the metadata that encodes the MeshBlock gid, buffer, and variables for which the corresponding data is intended directly to the message itself instead of trying to encode it in the tag.  Just a thought.

[2021-04-29 23:23] felker commented on #449
@jeffhammond thanks for the insight! It would require a fairly invasive set of changes to the current code, but will be a good option if the reduction of the physics ID is insufficient long term.

@jmstone but then the `MPI_Recv_init()` calls would not know which MeshBlock and neighbor recv buffer to use until the message is recv'd.

[2021-05-10 15:12] JoshuaSBrown opened #512 "Make logging level in performance app customizable"
In response to comment by @jlippuner here, https://github.com/lanl/parthenon/pull/510.

[2021-05-11 08:27] pgrete opened #513 "Runtime MPI-IO parameters"
Current some MPI-IO parameters are hardcoded, e.g., in `src/outputs/parthenon_hdf5.cpp `

[code]

However, optimal values are likely (file)system and simulation dependent (especially when run at scale), i.e., to be determined by profiling for a specific setup.
Moreover, these values can be controlled through the environment, e.g., by ROMIO hints.
Thus, it'd be desirable to only overwrite if they a

[2021-05-11 15:18] pgrete opened #515 "Potential inconsistency when reading writing hdf strings"
We recently encountered an interesting bug.

A regression test (run in the context of #511 ) consistently failed with
[code]

We were able to isolate the issue that showed up on Python 3.8.x but not on Python 3.7.x after realizing that the default `h5py` version shipped in those environments made a major jump, e.g.,
[code]
versus
[code]

The bug showed up because the name comparison to identify a

[2021-05-11 15:35] jlippuner commented on #515
This is an annoying issue indeed. I'm not sure it's really a bug, though. From what I understand, it's a change in the `h5py` API that now spits out byte arrays instead of strings for string attributes, i.e. it's not a change in the HDF5 file itself that is being read and I don't think the HDF5 file could control how `h5py` chooses to represent the string attributes. As far as I know, there is onl

[2021-05-11 18:32] jlippuner opened #516 "Do some HDF5 output data packing on device to reduce device-to-host transfers"
See @Yurlungur's comments at https://github.com/lanl/parthenon/pull/486#discussion_r628534229 and https://github.com/lanl/parthenon/pull/486#discussion_r628546615

[2021-05-11 23:01] Yurlungur commented on #515
Ah, I think I've encountered this in the past! And solved it the same way you did! My leaning is to just add the `astype` call into the hdf5 python reader and move on

[2021-05-14 15:03] forrestglines opened #521 "ComponentNames out of order"
The HDF5 overhaul has led to the arrays `NumComponents` and `ComponentNames` in the output being out of order compared to `OutputDatasetNames`.

I'm not sure how things should function with sparse variables in the output, but there should be enough information in `NumComponents`, `ComponentNames`, and `OutputDatasetNames` to build a dictionary of dictionaries such as `{"DatasetName":{"ComponentNam

[2021-05-17 15:52] forrestglines opened #523 "Internal Compiler Error GCC 7.3.0"
Compiling with GCC 7.3.0 leads to this compiler error
[code]
This might be related to this bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=882855 which was encountered in a different context in Kokkos: https://github.com/kokkos/kokkos-kernels/issues/349.

These are the  offending lines in `parthenon_hdf5.cpp`
[code]
I've tried adding parenthesis, computing the offset on a separate line, cha

[2021-05-17 16:13] Yurlungur commented on #523
The simplest solution might be to require gcc versions 7.4.0+. Why do you need 7.3.0?

[2021-05-18 23:04] JoshuaSBrown commented on #523
Is nx1 defined with auto you might try to explicitly list the type, it might be a type deduction problem.

[2021-05-18 23:19] JoshuaSBrown commented on #491
Do you know where we are in this? Is this because of the GetOrAdd Methods?

[2021-05-19 19:43] JoshuaSBrown opened #525 "Gitlab - Github synchronization issue when rebase is used."
Here https://re-git.lanl.gov/eap-oss/parthenon/-/jobs/114124, a result of pr https://github.com/lanl/parthenon/pull/524, a rebase was done, the branch on gitlab needed to be deleted so that the branch could be updated appropriately. However, there seems to be an issue with the gitlab runner it appears to be using the old branch even though it was deleted.

[2021-05-20 07:43] #525 closed, assigned to nobody

[2021-05-20 16:51] JoshuaSBrown opened #528 "MPI Tests from Scheduled CI not plotting correctly"
https://github.com/lanl/parthenon/wiki/develop_develop, looks like the data is not being correctly parsed and plotted.

[2021-05-20 17:27] pgrete opened #529 "Particles deposition functions"
While going through the particle PRs (#497 #472 #404) I noticed that a particle deposition mechanism currently lives in the examples.
At some point in the future, I'd be great to separate those out and also extend to higher order deposition mechanism so that they are more generally available than in the examples.
Ping @brryan @Yurlungur  (in case you're already working on sth like that downstream)

[2021-05-20 17:33] Yurlungur commented on #529
100% agreed. I'd like to see that capability move into `src`

[2021-05-24 14:09] forrestglines commented on #523
It's the machines at IAS that we use for CI. Sadly, GCC 7.30 is the latest version available there.

Thanks for the suggestion! Among the fixes I tried, I did try explicitly writing the types. Unfortunately that didn't work. However, I did find that refactoring this as a for-loop instead of a lambda fixes this issue. I'll push the fix.

[2021-05-27 05:04] JoshuaSBrown commented on #470
Latest values after using hdf5 with compression we are hitting some performance issues.

![Grizzly_writerate_log](https://user-images.githubusercontent.com/4664476/119768914-bc546d00-be76-11eb-9430-a184e9289668.png)

[2021-05-27 05:05] JoshuaSBrown commented on #470
![Grizzly_total_loglog](https://user-images.githubusercontent.com/4664476/119768964-d55d1e00-be76-11eb-8572-e065b5cc17b8.png)

[2021-05-27 14:49] Yurlungur commented on #470
Interesting. Did you play with the compression level at all? I wonder if some levels of compression are better than others? Do we recover the original performance with the new code, but compression disabled?

[2021-05-27 14:55] JoshuaSBrown commented on #470
These are great suggestions, yes, I will be submitting jobs with compression turned off at some point today. There are a few other use cases I want to look at as well, but would be open to brainstorming ideas at our meeting. I can also share some of the other metrics.

[2021-05-27 17:57] #521 closed, assigned to nobody

[2021-05-27 20:30] #528 closed, assigned to nobody

[2021-05-27 21:09] JoshuaSBrown opened #533 "Bug CI if multiple pipelines are triggered at the same time Runners are not consistent within pipeline"
@Yurlungur discovered this,

the python pathenon performance metrics tools used for uploading and analyzing performance metrics are installed in outside of the parthenon repo in the first job. If a different runner picks up a subsequent job in the same pipline there is no guarantee of consistency of the python tools. For instance in some cases the tools might even be missing if a new runner is use

[2021-06-01 18:51] #523 closed, assigned to nobody

[2021-06-07 20:48] Yurlungur opened #537 "Inconsistent assumptions about coarse buffers for variables"
Currently, a coarse buffer is only created in a variable if `Metadata::FillGhost` is set. However, variables are added to mesh refinement's variables to refine based on whether or not they have `Metadata::Independent`. Given the way we currently create variables, this should probably be changed to `Metadata::FillGhost`.

[2021-06-07 21:16] Yurlungur commented on #537
See #538

[2021-06-08 23:04] Yurlungur opened #540 "Test for restarts when the size of variables in the restart file varies"
We recently encountered a bug in restart coming from the fact that not all variables have the same shape. We should test for this in regression tests. See #539 .

[2021-06-09 22:25] JoshuaSBrown opened #541 "Dependencies installed outside of repo in a CI pipeline are not guaranteed to persist between jobs"
@jonahm-LANL encountered a problem with the CI. It appears that there is no guarantee that any files created outside of a repository will persist between jobs within the same pipeline. This is problematic in instances where the python scripts are installed and then are not available in a downstream job. What needs to happen is the scripts or any other files created during a job that need to persis

[2021-06-15 21:17] JoshuaSBrown opened #544 "Failing CI Pipeline looks like cmake version needs to be updated"
https://gitlab.com/theias/hpc/jmstone/athena-parthenon/parthenon-ci-mirror/-/jobs/1349331713

[2021-06-16 10:00] pgrete commented on #544
Addressed in #476

[2021-06-16 17:24] JoshuaSBrown opened #546 "Documentation needs to be streamlined"
The markdown documentation in the docs files needs to be streamlined and standardized using Doxygen, that way the documentation can be placed in the source files and automatically generated. That will help prevent discrepencies in function call signs and code syntax as they are created automatically from working code.

[2021-06-16 18:09] Yurlungur commented on #546
I would say doxygen and the markdown documentation actually fill different needs. My experience with doxygen is that it often just shows, e.g., function signatures.

This is useful, but it doesn't really convey intent. Our markdown documentation can convey intent and design ideas, while doxygen can provide a searchable API reference.

[2021-06-17 08:03] #544 closed, assigned to pgrete

[2021-06-17 15:00] brryan opened #547 "Clean up particles implementation"
Work constraints and the size of PR #404 motivated merging the particles MPI capability into `develop` while some of the code isn't yet fully cleaned up. As @pgrete points out, some outstanding issues are

 - [x] `InitializeCommunicationMesh` should be a `Swarm` method
 - [ ] `FinalizeCommunicationMesh` should be a `Swarm` method
 - [x] `Defrag` could just be a task in `Swarm`, probably
 - [ ] `Sw

[2021-06-17 17:57] Yurlungur opened #548 "Metadata Design and Collections of Flags"
Names like `Independent` are difficult to reason about because people have different assumptions about what they mean.

Based on the regular call, we suggest splitting `Metadata::Independent` into multiple flags and adding a mechanism for having a flag mean multiple things. Related to #538 #537 .

[2021-06-17 17:59] #537 closed, assigned to Yurlungur, jlippuner, jdolence, pgrete

[2021-06-21 11:27] pgrete commented on #548
While updating the Metadata design, we should also double check the default options.
In #404 it looked like the `default` was missing `Provides` in some cases resulting in an error because no role was defined (our doc states that `Provides` is the default value).

[2021-07-07 17:41] JoshuaSBrown commented on #541
This is the issue that I brought up in our discussion.

[2021-07-10 18:21] Yurlungur opened #559 "Coverage failing"
Something is wrong with the coverage machinery:
https://gitlab.com/pgrete/parthenon/-/jobs/1414219182

@JoshuaSBrown @jlippuner @pgrete any ideas?

[2021-07-12 12:13] pgrete commented on #559
I retriggered the job. Maybe there was a version mismatch. The job log reported version "1.0.3" but when I manually downloaded the file just now the version is supposed to be "1.0.4".

[2021-07-12 12:41] jonahm-LANL commented on #559
Ah ok. Interesting. Fingers crossed then.

Sent from my phone. Please excuse typos.

From: Philipp Grete ***@***.******@***.***>>
Date: Monday, Jul 12, 2021, 6:14 AM
To: lanl/parthenon ***@***.******@***.***>>
Cc: Subscribed ***@***.******@***.***>>
Subject: [EXTERNAL] Re: [lanl/parthenon] Coverage failing (#559)

I retriggered the job. Maybe there was a version mismatch. The job log reported vers

[2021-07-12 12:41] pgrete commented on #559
Looks like this is fixed now: https://gitlab.com/pgrete/parthenon/-/jobs/1416960722
Potentially we just hit a bad moment where the script on the server was already updated but not yet the hash sums.

[2021-07-12 12:41] #559 closed, assigned to nobody

[2021-07-12 16:51] JoshuaSBrown commented on #559
@pgrete thanks for the quick check.

[2021-07-21 19:11] pgrete opened #566 "Add an enum class or similar for `Match::Any` and `Match::All`"
Comment for a future potential improvement beyond this PR: Add an enum class or similar for `Match::Any` and `Match::All` instead of the raw `bool` directly in the interface.

_Originally posted by @pgrete in https://github.com/lanl/parthenon/pull/535#discussion_r664512997_

[2021-07-21 21:19] jlippuner opened #567 "Check interaction of Vector/Tensor metadata flags with boundary conditions"
It seems that there is no distinction made between Vector and Tensor flags for reflective boundary conditions. If we have a vector or tensor variable with reflecting boundary conditions, the 1st component will be reflected in the x-direction, the 2nd in the y, and the 3rd in the z. This is probably the right thing to do for vectors (although maybe we should add a constraint that variables with the

[2021-07-22 17:48] pgrete opened #568 "Code cleanup"
- Remove old (non-cc) bval interface
- Rename StateDescriptor to Package
- Check consistent variable naming e.g., `mbd` to `rc`

[2021-07-23 15:58] Yurlungur opened #570 "Sparse interface update broke meshblockpacks"
The following code snippet now fails
[code]
with errors that look like
[code]
This function signature is obviously wrong. Somehow the `PackIndexMap` is getting passed in twice. I believe this is because the API

We didn't catch this because for `MeshBlockPack` we apparently don't test this particular call signature anywhere. This needs to change, as it is used everywhere in the downstream codes.

[2021-07-23 21:30] Yurlungur commented on #570
I notice also that it's now no longer possible to pass the `coarse` boolean through the `mesh_data` `PackVariables` machinery.

[2021-07-23 21:46] Yurlungur opened #571 "Full Regression test suite currently failing due to sparse update"
As discussed on the Parthenon call. @jlippuner to fix.

[2021-07-26 07:11] pgrete opened #573 "Flaw in output logic"
As far as I can tell, when restarting from a restart file result in the restart file being written again as well as other outputs also being immediately written (in case the `dt` match for the restart and other output).

[2021-07-26 07:13] pgrete opened #574 "Missing restart output from "time" signal"
Using `./bin -i input -t 1:0:0` result in the binary to exit after one hour, but there is no final restart output that could be used to continue the simulation nor is there a final message on the run statistics.

[2021-07-26 13:23] pgrete commented on #571
@jlippuner do you already know what's going on?
I saw that you started looking into this and I'm not sure I understand where the issue is.
On my machine the tests pass.

[2021-07-26 16:14] jlippuner commented on #571
Yes, I'm looking into it. I have a training workshop today, so might not be able to get to it until tomorrow. It's not clear to me either, what's going on. There's a difference in the "File" metadata attribute in the HDF5 file that's causing the issue. I added some verbose output in another branch to investigate further.

[2021-07-26 18:03] #570 closed, assigned to jlippuner

[2021-07-26 20:13] jlippuner commented on #571
Alright, I see the issue. The tests are run with MPI on the CI machine, which adds the following default values to the input file:
[code]
The gold files were generated without MPI and so they lack these entries.

We could just make `phdf_diff` ignore the `File` attribute and so it would not compare that the two sims were run with the same parameter file. But having that comparison may be useful. S

[2021-07-26 21:13] pgrete commented on #571
oh interesting, very subtle, that's what it passed locally (I also ran without MPI).
I'd say, let's also write those default parameters for serial runs because we can restart serial runs with MPI and vice versa. Thus, the output file should also be consistent from my point of view.

[2021-07-26 21:14] Yurlungur commented on #571
I am fine with writing them in the file. That said, I lean towards ignoring this edge case in the tests. It bothers me that the tests are so brittle to these details.

[2021-07-26 22:25] jlippuner commented on #571
Alright, I think I agree with both @pgrete and @Yurlungur. I'm changing it to always write the load balancing info, and I'm also turning off comparison of the File metadata by default. However, I've added an option to turn it on for debugging purposes (i.e. if one is trying to figure out why two files differ, one can turn on checking the input file contained in the HDF5 metadata and maybe that wil

[2021-07-27 07:24] pgrete opened #576 "Default load balancing options/behavior"
[code]
I'm kind of surprised by this logic (but it's also in Athena++).
Looks like the "default" means neither "automatic" nor "manual". So if "automatic" is not default, what is?
I'll create an issue as it is unrelated to this PR.

_Originally posted by @pgrete in https://github.com/lanl/parthenon/pull/575#discussion_r677177156_

[2021-07-27 20:12] #571 closed, assigned to jlippuner

[2021-07-30 18:17] jdolence opened #579 "Possible bug in PackVariables call on MeshData objects"
I haven't gotten to the bottom of this, but I think there might be a bug in the PackVariables machinery.  It seems like while this works:
[code]
this does not:
[code]
i.e. the call where we don't ask for a PackIndexMap back seems to be broken.  Code compiles, but the answers are wrong.  For this single variable case, the index in the map should be (and is when explicitly pulled out) just zero.  So

[2021-07-30 18:19] Yurlungur commented on #579
Oof. This might have been accidentally introduced in the recent changes to this machinery. I'll poke at it.

[2021-07-30 18:27] Yurlungur commented on #579
@jdolence  what does the erroneous code return?

[2021-07-30 18:28] jdolence commented on #579
Hard to describe.  A symptom was that a variable that was never supposed to be updated at all was changing mysteriously.

[2021-07-30 18:42] Yurlungur commented on #579
I see. That helps.

[2021-08-03 18:16] #579 closed, assigned to nobody

[2021-08-17 15:04] brryan commented on #547
I made some progress on this but there are a few sticking points at the moment:
 - I remade `InitializeCommunicationMesh` as a `Swarm` method `ResetCommunication` but I can't remake the similar `FinalizeCommunicationMesh` until #582 gets merged in.
 - The `Metadata` issue is weird. I switched to using `Metadata::None` as the brace initializer contents for `Metadata`. It's not enough to just provid

[2021-08-24 21:07] kurtsansom opened #585 "failed test: "unit_tests: Can pull variables from container based on Metadata""
I am trying to figure our why this unit test fails:

I am using a branch that has 'develop'  merged into pgrete/expose-flux-div.

Any hints would be helpful.

[code]

[2021-08-25 22:36] Yurlungur commented on #585
Hmm that's a weird one. The test that's failing is this one:
https://github.com/lanl/parthenon/blob/develop/tst/unit/test_meshblock_data_iterator.cpp#L70

But likely the error is much deeper... in the `VariablePack` or in the `Variable` machinery. It might help to print some statements in the above-mentioned function to see exactly where the error is coming from.

[2021-08-30 23:42] pgrete commented on #585
@kurtsansom I see that you're working with a  version coming from AthenaPK.
I occasionally have some hot-fixes in the `Parthenon` submodule used in `AthenaPK` (when working on adding/integrating features that require changes on both ends).
Which commit of `AthenaPK`are you working with?
I can try to reproduce tomorrow.

PS: Feel free to tag me directly for any AthenaPK related issues here.

[2021-09-12 14:20] forrestglines opened #589 "Segfault Writting HDF5 with Large Deep AMR"
I ran into an error running AthenaPK while testing a deep AMR hierarchy on a large grid with HDF5 compression turned on. After some testing was able to reproduce the error with the advection example, although it required a larger grid. This file will reproduce the segfault with the `advection-example` in Parthenon
[parthinput.deepAMR.advection.txt](https://github.com/lanl/parthenon/files/7148830/p

[2021-09-14 19:29] kurtsansom commented on #585
Apologies @pgrete for not returning to this sooner. I am working off the main athenapk branch. I was looking into the expose-flux-div branch with the upstream dev branch merged in. It looks like that branch has been updated, so I will bring in those changes to see if that changes anything.

[2021-09-14 19:43] kurtsansom commented on #585
I pulled in the latest changes to the branch and parthenon still chokes on that test.  is there a way to test where the computation is taking place? i.e. is trying to do the test on a GPU? What do you suggest to narrow it down. (e.g. tips on how to debug would be helpful, I am still relatively new to kokkos )

[2021-09-15 08:43] pgrete commented on #585
@kurtsansom would you mind sharing your full configuration, i.e., what hardware are you running on and what cmake line did you use to configure your build and what's the output of the configure step.
This can help me narrow down the issue as I was not able to reproduce the error.
I tried both builds on a CPU and builds on a GPUs and the test passes:
[code]

[2021-09-15 15:35] kurtsansom commented on #585
## Hardware/OS
 - Operating System: CentOS Linux 7 (Core)
 - CPE OS Name: cpe:/o:centos:centos:7
 - Kernel: Linux 3.10.0-1160.36.2.el7.x86_64
 - NVIDIA-SMI 470.57.02    Driver Version: 470.57.02    CUDA Version: 11.4
 -  2 Quadro RTX 5000 (Turing architecture)

## Compiler /Libraries / Environment
- gcc 10.0.3, nvcc cuda_11.4.r11.4/compiler.30188945_0
- spack: hdf5 +cxx+fortran+hl+mpi+tools, openm

[2021-09-15 15:36] kurtsansom opened #590 "Spack recipe out there?"
Is there a spack recipe for parthenon? there is not one in upstream spack, but maybe someone has made one?

[2021-09-15 16:02] Yurlungur commented on #590
I don't believe there's a recipe yet. If you were interested in building one, I think that would be of interest!

[2021-09-15 16:50] kurtsansom commented on #585
I tried running on another OS, platform and GPU and appears to also fail. will investigate and provide more detail.

[2021-09-15 17:24] kurtsansom commented on #585
here is the athenapk branch that is using parthenon. https://gitlab.com/kayarre/athenapk/-/tree/test_branch

I am testing the branch from the pull request https://github.com/lanl/parthenon/pull/558

[2021-09-15 21:14] kurtsansom commented on #585
I tried using cuda+openmpi+hdf5 all installed into a spack environment but ran into a weird gcc 10.3.0 ICE bug, will have to try again tomorrow, but here is configuration I attempted.

[code]

[code]

[2021-09-15 23:15] pgrete commented on #585
Thanks for the additional info.
Here's what I got so far (also on a CentOS machine and using a cmake line very similar to yours):

1) I was able to reproduce the internal compiler error with gcc 10.3.0  It does not show for other gcc version I tried, e.g., gcc 10.2.0 or 9.3.0.
Seems to be Kokkos related as I also seems to happen for pure Kokkos builds. I now reported this here: https://github.com/

[2021-09-16 01:41] kurtsansom commented on #585
I didn’t realize my athenapk fork was private by default, should be public now.

[2021-09-16 13:28] pgrete commented on #585
I think I found the bug.
`#include <set>` was missing in the `test_state_descriptor.cpp` header.
I assume this didn't show before because for the options we use for testing that header file is included somewhere else.
I now fixed this is the `parthenon::pgrete/expose-flux-div` branch and was also able to verify that the regression test passes.
It'd be great if you could confirm that this fix also

[2021-09-16 14:03] kurtsansom commented on #585
@pgrete thank you so much. I fiddled around with the test switches some to try and elicit what I thought was primarily important at the moment, (i.e. If the unit tests don't work, does running regression tests matter)

I generally try to keep the environment clean so I don't get myself into a bind with clashes and dependency hell. This means having to explicitly tell cmake where things are. I gene

[2021-09-17 12:04] pgrete commented on #585
I understand. My approach here is use a consistent module/spack environment, i.e., calling `module purge; module load ...` and then rely on the default that `cmake` picks up.
So far this has been working fine for me (though I see the appeal/advantages over explicitly specifying everything).

Have you seen the "machine configuration" capability of Parthenon?
For example, you can create some default

[2021-09-17 12:12] pgrete commented on #585
Oh, one more thing. We try to set some "reasonable" defaults in AthenaPK's `CMakeLists.txt` that configure Parthenon (e.g., with respect to tests or performance) so that only very few (to none) Parthenon options should be required for a typical AthenaPK build.
If you have input on whether our defaults are "reasonable" or if you'd have expected/picked sth different, let us know.

[2021-09-17 13:20] pgrete opened #591 "No capability for global reduction only called after remeshing"
We have the need to call a global reduction after mesh refinement, specifically, we are interested in the minimum `dx` (though in principle it could be recovered from parsing the entire mesh structure on each rank).
That raised the point whether this is a capability that'd also be of interested in other codes.
This would be similar to the feature we reenabled recently for "one off" call after mesh

[2021-09-17 13:39] brryan commented on #591
Very generally I'm in favor of exposing global reductions as an option throughout the code, because this isn't something that can easily be worked around by downstream developers. I *think* we (phoebus team) could make use of global reductions after mesh refinement, for example if we wanted to evaluate the average number of particles per zone after refinement.

[2021-09-17 15:28] Yurlungur commented on #591
I agree with @brryan . There's no obvious use-case that comes to my mind right now. But I think this is a good capability to have.

[2021-09-20 20:41] pgrete opened #592 "Non-MPI build partially broken"
Trying to build Parthenon without MPI (`PARTHENON_DISABLE_MPI=ON`) doesn't always[*] work:
[code]

Fail with host build and GCC 11.1 and also GCC/9.3.0 with Cuda/11.0.
Seems to work for the CI environment (which is also GCC/9.3.0), so not really sure what's going on.

Assigned/pinged @jdolence as you touched the failing pieces last.

[2021-09-20 20:53] jdolence commented on #592
yeah if this is broken I'm sure it's my fault.  Could have sworn a I tested this, though.  Weird that it works in the CI too.

[2021-09-20 21:10] jdolence commented on #592
Wondering about interactions with HDF...

[2021-09-21 18:20] jlippuner opened #593 "Add option to disable GPUDirect RDMA"
We currently require GPUDirect RDMA (we are passing device pointers directly to MPI calls). I've been trying to get GPUDirect RDMA working on my local workstation with a TITAN V. After many failures, I realized that GPUDirect RDMA is only supported on Quadro and Tesla cards, so not on consumer grade cards like TITAN, GTX, RTX, etc.

It would be nice to have a compile-time option to disable GPUDire

[2021-09-21 18:56] brryan commented on #593
I've found myself on HPC environments where the provided MPI libraries aren't compiled with RDMA support which is another motivation for this option. Presumably/hopefully there wouldn't a substantial performance degradation manually copying the views, since the data is being shuffled around similarly in both approaches (unless I'm mistaken)

[2021-09-21 20:50] pgrete commented on #593
@jlippuner could you double check your environment?
The CI environment uses a consumer GTX 1060 and works fine with buffers directly allocated on the GPU.
Here's how I build the MPI lib https://github.com/lanl/parthenon/blob/develop/scripts/docker/Dockerfile.nvcc and similarly for the CI env at the IAS https://gitlab.com/theias/hpc/jmstone/athena-parthenon/athenapk/-/blob/main/.gitlab-ci.yml#L70 (

[2021-09-21 22:19] jlippuner commented on #593
Thanks for this info. I'll investigate further

[2021-09-22 16:25] kurtsansom commented on #585
@pgrete, thank you the input about configurations. I usually just make a shell script, but I like the cmake approach. I paired down the cmake options and am currently testing out the develop branch. unit test is now passing.

[2021-09-23 00:28] Yurlungur commented on #585
Glad to hear your issue is resolved, @kurtsansom . I'm going to close this issue, but feel free to re-open it if you run into more trouble.

[2021-09-23 00:28] #585 closed, assigned to nobody

[2021-09-24 08:48] #592 closed, assigned to jdolence

[2021-09-24 08:51] #573 closed, assigned to nobody

[2021-09-30 17:42] Yurlungur opened #596 "Initialization requiring elliptic solves"
As discussed on the parthenon call, there will eventually be a need for doing an elliptic solve when initial conditions are constructed. We should keep this in mind. Perhaps the right thing is a function pointer hook in mesh initialization before the problem generator is called.

[2021-10-06 10:32] pgrete opened #599 "No error is showns when using meshblock/nx2=1 for 2D sims (and similar for 3D)"
It looks like we currently allow for simulation to run with, e.g.,
[code]

We should ensure that we have at least `nghost` number of cells per block, otherwise our ghost zones are ill-defined.

[2021-10-06 15:57] brtnfld commented on #589
Am I correct in saying that Parthenon is setting the chunk size that is the entire size of a block (nx1 x nx2  x nx3)? Could you be hitting the 4GB limit for chunk size?

[2021-10-06 16:47] jlippuner opened #600 "Properly implement rank >= 2 variables"
Currently, we support variables scalar, vector, and tensor variables (up to rank 3) in principle. However, a lot of the infrastructure assumes that we only have rank-1 variables (i.e. scalars and vectors). I'm pretty sure that tensors would not currently work. I haven't dug deep, but for example most (if not all) functions in `amr_loadbalance.cpp` just use `CellVariable::GetDim(4)` to get the numb

[2021-10-07 16:01] Yurlungur commented on #589
I think it is setting that chunk size, though I could be wrong... However, I don't think that could be the issue... a deep AMR hierarchy likely has pretty small meshblock sizes.

[2021-10-08 14:52] pgrete commented on #600
Good point. As an immediate step, shall we add sth that makes the code fail if that kind of variable is added?
Just to be sure that no one starts experimenting with downstream piece assuming everything works as is?

[2021-10-08 15:03] pgrete opened #601 "RFC: Allow modification of `dt` in `PreStepUserWorkInLoop`"
`PreStepUserWorkInLoop` is currently a `std::function<void(Mesh *, ParameterInput *, SimTime const &)>`.
Any objection to remove the `const` from the `SimTime` parameter?

The rationale is that I'm currently working on a super timestepping algorithm for parabolic terms where there's a practical "correctness" limit on the super timestep (despite not having a stability limit for the super timestep).

[2021-10-08 15:06] Yurlungur commented on #600
Please don't add such a check. We are experimenting with such machinery downstream. If we can pepper places we thinks thing will fail with warnings, that might be useful though.

[2021-10-08 15:06] Yurlungur commented on #600
Ping @lroberts36

[2021-10-08 15:07] Yurlungur commented on #601
No objections from my end. Doing this by modifying `SimTime` feels a little messy. But I don't see a better solution.

[2021-10-11 09:49] pgrete commented on #600
Even better. If some is already experimenting then this might get fixed sooner than later.

[2021-10-11 15:11] lroberts36 commented on #600
I am starting to put radiation moments into Phoebus, and this requires some variables of rank-2 (and maybe rank-3 if extended to multi-group). I haven't run into any issues yet, but the development on this just started.

[2021-10-11 18:00] forrestglines commented on #589
Sorry for the delay - postdoc application season.

I had some HPC troubles reproducing this error again. I've sorted through those issues and now have a core file. However, the core file  is 179GB. I might be able to transfer it directly to an MSU Google Drive to share it that way, but it would take some time to figure it out.

There's also a reproducer in the description of the issue i.e. try:
[c

[2021-10-11 21:03] lroberts36 commented on #600
Ok, I just ran into a problem with HDF5 output of rank-2 fields. For instance, I have a variable field defined in Phoebus that has a shape of (3, nSpecies), so naively I would expect an HDF5 dataset with dimensions (nblocks, nz, ny, nx, 3, nSpecies) or (nblocks, nz, ny, nx, 3*nSpecies). The output dataset has the dimension (nblocks, nx, ny, nx, 3).

[2021-10-11 21:12] jlippuner commented on #600
Yes, that's one of many issues. In a lot of places, we just do `GetDim(4)` and assume that dim 5 and 6 are 1. For the output, I'm actually fixing this in #586 (and it will be 3*nSpecies). But there are lots of other places in the infrastructure that don't support rank 2 and above.

[2021-10-12 15:55] pgrete opened #603 "Incorrect ghost cells for non-"base" containers in AMR simulations"
Copy&paste from Matrix:
[code]

[2021-10-19 17:58] forrestglines commented on #589
After some unrelated code changes and fixes to AthenaPK, I'm now getting segfaults while writing HDF5 without compression as well. This is on my ``forrestglines/cluster_agn_triggering`` branch from AthenaPK. I haven't reproduced this in just Parthenon though

This size of grid works:

[cluster.medium.input.txt](https://github.com/lanl/parthenon/files/7375478/cluster.medium.input.txt)

This size of

[2021-10-21 16:03] Yurlungur opened #606 "Output does not support variables with reduced rank"
@nmsriram and I recently tried to register a variable not tied to grid topology (e.g., with `Metadata::None`) and shape something like `5x1x1x1x1x1`. This *can* be registered. And for the types of things you might want this for, e.g., per-meshblock scratch space of some kind, it works fine. However, the I/O doesn't capture it. Instead, the output shape is always as if it were a cell variable.

Pro

[2021-10-21 16:03] Yurlungur commented on #600
It looks like rank < 1 also causes a problem. See #606. @jlippuner does your sparse PR fix this too?

[2021-10-21 17:52] Yurlungur opened #607 "Comments/Discussion on Sparse"
This is a discussion of @jlippuner 's sparse walkthrough #586

## Wishlist:
- [ ] Can we have packs that only pull in allocated variables on the host side?
- [ ] Currently comm buffers are all pre-allocated whether or not the variable is. This is something that we may want to change, depending on "runtime experience". There are trade-offs between computation and memory here.
- [ ] Some tensor supp

[2021-10-21 17:57] Yurlungur commented on #607
For Jonas's sparse advection example, numbers are:
- With sparse/fake sparse: ~38s
- Compile-time disabled sparse: ~34s

Implies about a 20% overhead for the sparse machinery. However this example is very artificial and essentially a worst-case scenario as far as sparse overhead imposed on the run time. Real examples probably have even less overhead

[2021-10-21 21:42] jlippuner commented on #606
Hmm, no I don't think so. Currently, the HDF5 I/O assumes that all variables written are cell variables.

[2021-10-26 15:38] #574 closed, assigned to nobody

[2021-10-27 18:20] chadmeyer commented on #607
Of the things above, my biggest concerns from a practical perspective are (in order) the pre-allocation of the communications buffers and the possibility that individual components could be falling out of sync.

The pre-allocation issue is important for components which are localized within a large simulation (especially in 3D).  That can be a huge amount of memory, and it would not seem to be a h

[2021-10-28 17:28] Yurlungur opened #610 "Change default pack size depending on hardware"
It should be automatically set to 1 on CPU

[2021-10-29 12:17] pgrete opened #611 "Derefinement counter not stored for restarts"
The de-refinement counter is reset when restarting a simulation.
Thus, a restarted simulation may evolve slightly different than a simulation being run through in once.
This is not dramatic (potentially derefining later only increases accuracy), but (from my point of view) is not correct/expected "restart" behavior.

[2021-10-29 14:05] jlippuner commented on #611
I would add that if we're going to store derefinement counters in restart files, we should also store deallocation counters (introduced in #586) in the restart files.

[2021-11-08 18:02] Yurlungur opened #612 "Can't build without HDF5 on sparse branch?"
I tried building sparse without HDF5 and got errors. I think we need the ability to build without IO for testing purposes.

[2021-11-09 14:47] pgrete commented on #612
I can confirm
[code]

[2021-11-09 17:14] Yurlungur commented on #612
I would suggest that when we fix this, we add a regression test to catch this in the future.

[2021-11-09 17:26] pgrete commented on #612
agreed

unrelated: I'm still tracing the errors we see with the sparse branch. Interestingly they only show for GPU builds and not for CPU

[2021-11-11 20:52] brtnfld commented on #589
I was able to reproduce the problem on skybridge, looking into the issue now.

[2021-11-15 17:47] brtnfld commented on #589
Which type of MPI was this with, mpich or openmpi? I'm getting failures for MPI_Allgatherv in HDF5.

[2021-11-15 18:42] forrestglines commented on #589
This was with OpenMPI/4.0.3 and HDF5/1.12.0

[2021-11-15 18:48] brtnfld commented on #589
Can you try it with 4.1? It worked for me with 4.1, but not 4.0.

[2021-11-15 19:30] brtnfld commented on #589
Actually, that was with a patch in HDF5, with no patch 4.1 still fails.

[2021-11-15 19:38] jdolence opened #615 "Dependency on Kokkos"
This is an old debate, but a couple different things have made me wonder again recently if we should be a bit more rigorous in our abstraction of Kokkos.  Over time, we've allowed raw Kokkos calls to show up in quite a few places, which means Kokkos is now a hard dependency.  Here's my current list of raw Kokkos things that show up in the code base:

- raw `Kokkos::parallel_for` and associated typ

[2021-11-16 04:10] brryan commented on #615
I'm in favor of the compatibility layer described above that makes Kokkos optional for three reasons. Kokkos does a great job with performance portability, of course, but (1) we aren't actually in charge of that project so if our interests diverge we could be locked out of new hardware. (2) One can imagine improving performance by tailoring a backend to our specific needs, like targeting vectoriza

[2021-11-16 04:19] maximumcats commented on #615
Perhaps it's worth separating out things Kokkos provides that are fundamental to how Parthenon works and things which are incidental. It's good to have the parallel for and view abstractions be strict about this because that will make it a lot easier to understand in the short term whether use of the parallel algorithms in the C++ standard is an interesting long term choice. But for convenience fu

[2021-11-16 11:24] pgrete commented on #615
I'm in favor of keeping things as they are for now for the following reasons.
- To my mind Kokkos is at the moment a rather weak dependency from the point of view that we don't use any advanced features (say graphs or atomics or LayoutTiled). Thus, the "simple" things should, in principle, be "simple" to replace, if we there's ever a need.
- I'm generally not in favor of reinventing the wheel if t

[2021-11-18 17:10] Yurlungur commented on #615
My thinking on this is we're unlikely to drop Kokkos, but I think there's a desire to experiment with non-Kokkos implementations of, e.g., OpenMP or parallel algorithms in the C++ stdlib for parallel dispatch.

So I guess my question would be similar to @maxpkatz 's question. What bits can we play with safely in that context? Perhaps the only thing we need to change is parallel dispatch, which we'

[2021-11-29 20:00] epourmal commented on #589
Just to provide an update: we confirmed that this is an issue in the HDF5 library when compression is used in parallel. We are actively working on the fix.

[2021-11-29 20:05] Yurlungur commented on #589
That's good to hear. Thanks for the update, @epourmal !

[2021-12-03 13:11] #601 closed, assigned to nobody

[2021-12-13 18:47] forrestglines opened #620 "UserHistoryOperation no_reduce"
A no-op UserHistoryOperation that skips the MPI reduction would be useful. This no-op would make the assumption that the history variable has already been reduced/is the same on all ranks/the rank that writes the history output already has the value to be written.

[2021-12-14 01:51] Yurlungur opened #621 "Const correctness in Params"
I have a heretical suggestion: `params` should not return a const reference. It should just return a reference. We are already using `params` for non-const objects, namely containers. We're fooling the `const` correctness by just hiding things behind `Kokkos::Views`. Since we're not obeying the spirit of `const`, why are we obeying the letter?

This is also relevant for things like global reductio

[2021-12-14 16:01] brryan commented on #621
In the situation where a large number of packages maintained by different developers are all interacting through the same driver, I can see the advantages of being able to set parameters to be constant (it'd be nice if this could be enforced for data in `View`s as well).

But it seems clear to me that a `params`-like bin for non-`const` data is needed. Like you say we already use it. In my mind th

[2021-12-14 17:16] Yurlungur commented on #621
Hmm this gives me an idea, @brryan . I think we can easily do both with a single object and minimal code surgery. Check out PR #623.

[2021-12-15 15:16] pgrete opened #624 "Incorrect default config for AMD GPUs/HIP backend"
We should not default to simd loops for the HIP backend:
[code]

[2021-12-16 18:43] Yurlungur opened #625 "Combine reducers and history"
As discussed in the parthenon call, we should refactor the history machinery to use the general reduction machinery.

[2021-12-17 16:41] #621 closed, assigned to nobody

[2021-12-22 11:17] pgrete opened #626 "`RestrictPhysicalBounds` in driver with `MeshData` still required?"
In the advection example, we call the `RestrictPhysicalBounds` task also for the `MeshData` version:
https://github.com/lanl/parthenon/blob/05e2f5be2a8789ceae9fdbbb565c55f804f55da4/example/advection/advection_driver.cpp#L181

Is this still required or a leftover from when restrict was not handled yet by the cell centered machinery, see, e.g.,  https://github.com/lanl/parthenon/blob/05e2f5be2a8789c

[2021-12-22 14:04] pgrete opened #627 "AMR performance 9/N: Flux correction is "per buffer" not "buffer in one""
Major: need "buffer in one" for flux correction.

Minor (short term): Flux correction currently does a deep copy rather than directly filling the target buffer on the same rank:
https://github.com/lanl/parthenon/blob/05e2f5be2a8789ceae9fdbbb565c55f804f55da4/src/bvals/bvals_var.cpp#L132
We should directly copy and also only add a fence when MPI is involved here:
https://github.com/lanl/parthenon/bl

[2022-01-02 08:36] pgrete opened #630 "Clang/Cuda/Debug build of unit tests not working"
Using Clang (clang-12 and clang-13 confirmed) for target device Cuda with build type `Debug` fails with
[code]
Not sure what's going on and/or if this is even a bug on our end.

[2022-01-02 14:24] pgrete opened #631 "`Restrict`-in-one is always called (even for uniform grids)"
This does not lead to wrong results but may have negative implications on performance (even though the kernels themselves are effectively doing nothing on uniform grids as all `restrict` vars are `false`).
We should add `multilevel` checks before the restrict calls.

[2022-01-10 16:00] pgrete commented on #626
Any quick comment on the question above? @Yurlungur @jdolence

[2022-01-10 17:42] Yurlungur commented on #626
Sorry for the delay @pgrete . I was sick last week. I will double check this now.

[2022-01-10 17:55] Yurlungur commented on #626
Ah ok. I do not believe this code can go away. If I recall, restriction has always handled restriction for communication. This always simply restricts for communication to a neighbor block. However, that's not all that's required for restriction. The physical boundary conditions must also be set on the coarse buffer. But these aren't set by the communication routines.

It's possible this could be

[2022-01-13 18:03] pgrete opened #632 "Need 2022 copyright update"

[2022-01-16 14:15] pgrete opened #633 "Unnecessary fences"
There are fences in `StartReceiving` and `ClearBoundary`, which I'm pretty sure we don't need.

[2022-01-16 14:57] pgrete opened #634 "Performance regression `Mesh::Inititalize`"
Running AMR strong scaling tests I encountered a significant slowdown on GPUs when the mesh is being rebuild, e.g.,:
[code]

Note that the walltime for AMR is ~10sec when the mesh is being rebuild.
I was able to isolate the issue to the `Mesh::Inititalize` call so it's not about copying the blocks themselves when rebuilding the hierarchy.
Moreover, I isolated the issue to the boundary comm, i.e.,

[2022-01-16 17:29] pgrete commented on #634
This may actually be a library issue.
Tried on a different system and there AMR is negligible (~0.2s total):
[code]

I'll open a ticket with OLCF.

[2022-01-17 16:39] pgrete opened #635 "SYCL build error"
Building in a `intel/oneapi-basekit` with Kokkos `develop`

[code]

ping @brryan

[2022-01-19 18:55] Yurlungur opened #636 "Even more generic reductions"
As @lroberts36 suggested, the reductions `GetSize` and `GetPtr` functions can be made more generic with something like:

This might be made more generic with
[code]

[2022-01-19 19:33] Yurlungur opened #637 "clang format version"
We are now many many versions behind on clang format. `clang-format-13` is the default on my machine now. I suggest that we at some point update clang-format and commit to a new pinned version.

[2022-01-21 16:49] pgrete commented on #637
How about addressing this in #629 ?

[2022-01-21 16:56] Yurlungur commented on #637
Works for me.

[2022-01-26 09:51] pgrete opened #638 "`AppendSparseBaseMap` breaks sparse (or is incompatible)"
In the process of getting #586 into `develop` it turns out, that the changes introduced with #616 are not compatible.

[code]

Given that I don't have access to the downstream example in which #616 was tested, I temporarily disabled `AppendSparseBaseMap(vars, pvmap);` in `variable_pack.hpp` assuming that it'll be a straightforward fix on your end as you have the code available, @jdolence  @lrobert

[2022-01-26 10:16] pgrete opened #639 "Double check refinement bounds check in advection examples"
[code]
I don't think we should check for refinement in the ghost zones.

_Originally posted by @pgrete in https://github.com/lanl/parthenon/pull/586#r716845889_

[2022-01-26 10:20] pgrete opened #640 "Need to discuss/document best-practices for license header"
In #586 the question about the "proper" license header was raised, i.e., when should "Parthenon collab" and/or "LANL" be used.
We should discuss this in one of the upcoming meetings and then document the result.

[2022-01-26 10:26] pgrete opened #641 "Allow packing by `{"advected"}` rather than using an explicit `std::vector<std::string>`"
this isn't related to this PR at all, but I hate that we have to be explicit about it being a `std::vector<std::string>` instead of just passing `{"advected"}`.  I bet we could fix this somehow by explicitly disallowing conversions between `std::string` and `MetadataFlag` (or whatever that type is).

_Originally posted by @jdolence in https://github.com/lanl/parthenon/pull/586#r715726985_

[2022-01-26 11:15] pgrete opened #642 "Sparse "buffer send" threshold is applied to dense variables"
Ping @Yurlungur and @dholladay00 as you reviewed before:

We should also check for `src_allocated` here, don't we?
Otherwise, a dense field that happens to have `0` in all ghost zones, would not be sent or does this not matter because data will always be sent and just not be processes because the the last index in the buffer will contain a 0?
In the latter case, I may be concerned that the receivi

[2022-01-26 11:16] pgrete commented on #642
I now left the following warning in the code
[code]

[2022-01-26 15:02] pgrete opened #643 "Need per-variable sparse (de)alloc thresholds"
Currently, there's only a single threshold applied to all sparse variables.
For different kinds of sparse variables, different thresholds may be useful.

[2022-01-26 16:40] pgrete opened #644 "Cleanup HDF5 ifdef logic for restart interfaces"
Currently, the restart interfaces are fully exposed even when HDF5 is not enabled.
Given that we only support restarts with HDF5 files, the code in all interfaces is guarded by `#ifdefs`.
However, this also "leaks" outside the interfaces itself as some structs defined within the restart sources are also used in other parts requiring more `#ifdefs` to handle the unknown HDF5 data types.

I think a

[2022-01-26 16:41] pgrete commented on #612
Fixed with commit d7f03b9 in #586
The fix now defines the unknown hdf5 datatypes, which does the job but is pretty ugly.
I opened #644 so that we don't forget to clean up at some point.

[2022-01-26 17:28] jdolence commented on #638
I'll take a look at this

[2022-01-27 10:28] #612 closed, assigned to nobody

[2022-02-02 14:49] jti-lanl opened #645 "TaskCollection::AddRegion() can implicitly destroy previously-allocated regions"
It seems that there is no (safe) way to pre-allocate multiple parthenon `TaskRegions`, in order to build up a sequence of sets of concurrent tasks.

In the following the intent is to create two regions, each containing a set of concurrent tasks, such that all of the tasks in `r1` will run concurrently, then all of the tasks in `r2`.  The problem is that `TaskCollection::AddRegion()` returns a refe

[2022-02-03 12:57] pgrete commented on #645
Thanks for reporting this.

@jdolence any thoughts/preferred solution?

[2022-02-03 15:30] jti-lanl commented on #645
In an experimental patch, I've gone with approach (1), adding TaskCollection::AddRegionIndexed(), so as not to interfere with the existing interface, plus an operator[] method.  Seems to work fine.

[2022-02-03 21:05] pgrete opened #647 "Clang/Thrust sort issue"
Showed up in new testing env https://github.com/lanl/parthenon/pull/629

Any clue what's going on @brryan ?

[code]

[2022-02-04 10:23] pgrete commented on #638
Closed with #586

[2022-02-04 10:23] #638 closed, assigned to nobody

[2022-02-07 11:03] pgrete opened #648 "Cannot restart without sparse data (SparseInfo) in restart file"
[code]

https://github.com/lanl/parthenon/blob/3c620221ed9a693c19a36ec4dcb9df07dd159264/src/outputs/restart.cpp#L62
https://github.com/lanl/parthenon/blob/3c620221ed9a693c19a36ec4dcb9df07dd159264/src/outputs/restart.cpp#L63

As a first guess I think that we should remove the `PARTHENON_HDF5_CHECK` here because we actually process the status afterwards.

[2022-02-11 23:38] brtnfld opened #650 "compilation failure on skybridge"
on skybridge:

Currently Loaded Modules:
  1) gnu/10.2.1   2) cmake/3.20.3   3) openmpi-gnu/4.0

I get the compilation error below with:

cmake \
-D CMAKE_C_COMPILER:PATH="mpicc" \
-D CMAKE_CXX_COMPILER:PATH="mpicxx" \
-D PARTHENON_ENABLE_TESTING=TRUE \
-D PARTHENON_IMPORT_KOKKOS=OFF \
-D PARTHENON_ENABLE_REGRESSION_TESTS=OFF \
-D PARTHENON_DISABLE_EXAMPLES=OFF \
..

/ascldap/users/brtnfld/package

[2022-02-22 13:49] pgrete commented on #650
Which version of Parthenon are you using and could you please post the full output of the configure step?

[2022-02-22 16:40] brtnfld commented on #650
I updated it again to today (2-22-22) with develop and I see the same issue.

The build script:

[code]

Currently Loaded Modules:
  1) gnu/10.2.1   2) openmpi-gnu/4.0   3) cmake/3.20.3

All the output:

[code]

[2022-02-22 16:45] Yurlungur commented on #650
Do you need the mpi wrapper? I wonder if that's interfering with Kokkos's compiler wrapper? I would have thought mpi would just get slurped up by cmake.

[2022-02-22 17:23] brtnfld commented on #650
I tried without the wrappers and did a verbose build:

[code]

[2022-02-22 18:31] Yurlungur commented on #650
@brtnfld I think I found the problem and submitted a PR. However, I can't easily reproduce on my system. Can you check on the branch in #652 and see if it resolves your problem?

[2022-02-22 18:43] brtnfld commented on #650
With the new branch:

[code]

[2022-02-22 18:48] Yurlungur commented on #650
Oops. Missing a `typename T`. Try now.

[2022-02-22 19:24] brtnfld commented on #650
[code]

[2022-02-22 19:41] Yurlungur commented on #650
Ugh sorry about that. Fixed that too. Try again?

[2022-02-22 19:45] brtnfld commented on #650
[code]

[2022-02-22 19:54] Yurlungur commented on #650
missing a typename. Hopefully the last stupid typo on my end. I fixed that one.

[2022-02-22 20:07] brtnfld commented on #650
That did it, it works with and without mpi wrappers.

[2022-02-22 20:07] Yurlungur commented on #650
Great! I'll try to pull the PR through into `develop`.

[2022-02-23 08:47] #650 closed, assigned to Yurlungur

[2022-03-03 21:47] brtnfld commented on #589
Can you try it with hdf5_1_13_1 (or develop)? It has new optimizations for parallel compression, which includes memory improvements.
With the example, I could get it to run on skybridge, but I still needed at least 64 ranks to avoid memory issues, but that was also the case with just chunked datasets (no filters).

[2022-03-04 12:36] pgrete commented on #647
This is an edge case for a temporary work around until `Kokkos::sort` is performant.
Given that this works with nvidia compiler, we won't fix this here.

[2022-03-04 18:13] brryan opened #657 "Particles don't work for one meshblock with outflow boundaries"
In this case there are zero neighbors which parthenon particles currently cannot handle (`neighbor_buffer_index` is sized to `0`)

[2022-03-04 19:15] brryan opened #658 "Only 0- and 1-D Variable output is supported"
In `outputs/parthenon_hdf5.cpp` there is an assumption that `GetDim(4) == NumComponents()` for all output variables.

[2022-03-04 20:49] #647 closed, assigned to nobody

[2022-03-24 16:10] pgrete opened #659 "Regression test fail on Spock/Crusher/Frontier/HIP"
[code]

[2022-03-24 16:17] pgrete commented on #659
All tests pass for non-MPI runs.

[2022-03-24 17:21] Yurlungur commented on #449
Reviving this issue given the discussion on the parthenon call today.

[2022-03-25 14:42] pgrete opened #660 "Are we properly incrementing `phys_id`?"
I dug deeper into the issue that was raised during yesterday's call.

Here's what I found so far:
In the original Athena++ implementation, the physical ids for "standard" variables (e.g., hydro or b-fields) were implicitly updated in the constructor of various "physics", e.g., in `meshblock.cpp`
[code]
the `Hydro` and `Field` constructors would use the *current* `next_phys_id` (private var of the

[2022-03-25 15:27] pgrete commented on #660
I dug deeper.
ids > 5 come from the non-shallow copies in the driver
[code]

So the question now is what's the right fix.
I remember that "some" time (>1 year) we talked about sharing (or not) communicators between stages.
IIRC we decided that there should only be one shared bvals object independent of the number of stages.
Is my recollection correct?
Specifically pinging @jdolence @Yurlungur @lro

[2022-03-25 15:37] Yurlungur commented on #660
Thanks for digging into this, @pgrete !

I think we only need one communicator shared between all stages. So if the communicators were shallow copied that would resolve the issue.

I think @lroberts36  has also been looking at rewriting this so we should coordinate a fix.

[2022-03-25 15:58] pgrete commented on #660
More digging:

Looks like the non-shallow copy indeed reused the original bvars
https://github.com/lanl/parthenon/blob/1d72227179ce2e34dcba9736587c0f167326d32b/src/interface/variable.cpp#L120
but only after a new bvars object has been created.

This is a bug, which should have been caught by
https://github.com/lanl/parthenon/blob/1d72227179ce2e34dcba9736587c0f167326d32b/src/interface/variable.cpp#

[2022-03-25 16:07] Yurlungur commented on #660
Whoops! Well this is a good catch. And presumably easy to fix to force a shallow copy.

[2022-03-25 16:11] pgrete commented on #660
More digging:
https://github.com/lanl/parthenon/blob/1d72227179ce2e34dcba9736587c0f167326d32b/src/interface/variable.cpp#L194
Why is this (and the following check) happening there?
`vbvar` is "allocated" in the constructor of the CellVariable itself.

[2022-03-25 16:21] Yurlungur commented on #660
I understood that at one point... If I recall, the old physical boundaries machinery was per meshblock and registered a bunch of variables to it. (We probably want to invert that logic.)

This call registers the variable to the bvars object.

[2022-03-25 16:24] Yurlungur commented on #660
Maybe I misunderrstood... but `bval` is owned by the meshblock right? And `bval` points at a list of `bvar`s. This is adding the `bvar` for the cell variable to the `bval` object of the meshblock.

It's only needed for boundary communication, which is why it's there, I think.

[2022-03-25 16:45] pgrete commented on #660
Here's a first attempt trying to be logically consistent, i.e., the vbar object is created only at a single place `AllocateFluxesAndBdryVar` (and cleaning up some dead code).
The relevant parts are:
https://github.com/lanl/parthenon/pull/661/files#diff-bc7162b12498bffe2fd41b97efd9c5e06fe7895c2c966a91180b6269da05bf1c
and
https://github.com/lanl/parthenon/pull/661/files#diff-b67052ba143139223cd63f71

[2022-03-25 19:43] lroberts36 commented on #449
Is there some reason not to create a duplicate communicator of `MPI_COMM_WORLD` for each field that has `MetaData::FillGhost` and use the tag for just identifying the `lid`s of the sending and receiving processes? It seems like the communicator limit is probably not too much of a limitation in this case. I am not aware of any use case that would have ~8000 separate fields.

[2022-03-25 21:43] Yurlungur commented on #449
I like this idea.

[2022-03-25 22:39] lroberts36 commented on #449
I am just not sure if that has any performance implications. Running some simple tests suggests that it is almost exactly the same, but the tests were pretty idealized.

[2022-04-19 15:31] Yurlungur opened #664 "HDF5 output cannot handle non-standard variable shapes"
Downstream, we have some variables which are tied to mesh blocks but not explicitly tied to cell locations and may be non-standard shapes. Our hdf5 output library chokes on this and segfaults.

[2022-04-20 15:25] brryan opened #665 "Reduce template parameters in `Swarm::AllocateBoundariesImpl_`"
#655 reduces the code duplication in assigning swarm boundary conditions, but as @pgrete points out this could probably be reduced even further by either (1) templating `BOutflow`/`BPeriodic` to an `int` or using a `constexpr if`.

[2022-04-21 18:15] brryan opened #666 "Size-1 multi-D cell-centered variables do not pack correctly"
Given a multi-D cell-centered variable, e.g. of shape `Nu x Nv x Nx3 x Nx2 x Nx1`, if `Nu = 1` at runtime when creating the variable's `Metadata` then parthenon produces a packing error when trying to get a `FlatIdx`:
[code]
It looks like `shape` isn't being propagated correctly somewhere.

(Jonah pointed out an easy fix for where we see this issue downstream so this isn't urgent)

@Yurlungur @pgr

[2022-04-26 22:32] lroberts36 opened #668 "`sparse_advection-example` unallocated sparse fluxes"
Running `example/sparse_advection/sparse_advection-example` on branch `develop` on the Darwin `shared-gpu-ampere` partition (which has an NVIDIA A100-PCIE-40GB GPU) results in a failed assert in `variable_pack.hpp` at line 436 after 384 steps when compiled in Debug mode. This occurs just after a remesh, although many (~10s) remeshes have occurred already in during the run. The assert failure occur

[2022-04-27 14:55] pgrete commented on #668
Thanks for reporting. Looks like I'm also not chasing ghosts.
When trying to debug #659 I got segaults when running on the host with `simd`
[code]
However, contrary to your experience the error went away when compiling in `Debug` mode.

Which compiler did you use?
Also could you try reproducing with #661 ? What you see may be related to the index bug in current `develop` which I fixed in that bran

[2022-04-27 17:33] lroberts36 commented on #668
On the `nv-devkit` nodes, I am compiling with NVCC 11.4.

I just ran on #661 (145cd6c) and get
[code]

I stared at this all of Monday, but did not really make any progress.

[2022-04-27 20:46] pgrete commented on #668
I can confirm on a different Ampere node that I get the same error a few cycles later:
[code]

[2022-04-27 21:47] pgrete commented on #668
Browsing through some of the packing code I am wondering if there may be an index mismatch:
[code]
`vsize` could be != `fsize` so accessing component `n` of the pack may not map to the `n`th flux component/`nth` allocation entry (and thus raising the assert).
See also
https://github.com/lanl/parthenon/blob/a4d490a7cffed25723121153d5c54bd8e3ea03e0/src/interface/variable_pack.hpp#L265
[code]

[2022-04-28 10:06] #660 closed, assigned to nobody

[2022-04-28 13:41] pgrete commented on #632
@Yurlungur @lroberts36 @brryan @jdolence
As far as I can tell the current infrastructure should pick the current year automatically
https://github.com/lanl/parthenon/blob/f3d5432c0406a421b30799d7508db639cdb0d8f2/cmake/CheckCopyrightScript.cmake#L22
Could you please confirm that the script actually works (and, if yes, close the issue)? I haven't seen this check being triggered for quite some time a

[2022-04-28 17:00] Yurlungur commented on #632
It works and all copyrights currently are up to date.

[2022-04-28 17:00] #632 closed, assigned to pgrete

[2022-04-28 23:17] Yurlungur opened #670 "`std::set<T>` instead of `std::vector<T>`?"
There are a number of places throughout Parthenon where we either use `std::vector<std::string>` or `std::vector<Metadata>`. Perhaps we should move to `std::set`, which is unique and ordered, and has a `count` method to check for existence. This would allow for validation logic like "is a particular variable string that I care about in this list of variable names?" for example.

What do people thi

[2022-05-03 23:36] lroberts36 commented on #668
Tried adding some asserts to `Update::FluxDivHelper` to better see what is going on. First, I added the methods
[code]
to `VariablePack` and
[code]
to `VariableFluxPack`. Additionally, I added the following `assert`s to the beginning of `Update::FluxDivHelper`
[code]
Running on gpu with these changes to `develop` produces
[code]
which suggests that somehow after this particular remesh the flux has

[2022-05-04 01:06] lroberts36 commented on #668
After digging some more, this issue seems to be related to `VariablePack` cacheing after remeshing.

[2022-05-04 03:32] lroberts36 commented on #668
Ok, the `sparse_advection-example` (slowly) runs all the way through when cacheing of `VariablePack`s, `VariableFluxPack`s, and `MeshBlockPack`s is turned off. The final hdf5 output agrees with the serial output to an absolute difference of better than 1.e-6 everywhere.

I also tried running with with cacheing on but clearing the caches of all of the `MeshBlockData` during step 8 of `Mesh::Redistr

[2022-05-04 17:16] brryan opened #672 "`test_unit_sort.cpp` compilation hangs on some platforms"
On power9 and another GPU node both @lroberts36 and I have experienced compilations hang on `tst/unit/test_unit_sort.cpp`. Commenting out the `GIVEN` block allows compilation to proceed.

[2022-05-05 07:56] pgrete commented on #672
Without the `GIVEN` the entire test is removed, isn't it?
Have you tried updating to the latest version of catch2?

[2022-05-05 08:00] pgrete commented on #668
Thanks for digging deeper.
When comparing CPUs to GPUs, you're using the same number of ranks, aren't you?

Also, the asserts above don't rule out the potential index issue I mentioned above, do they?

[2022-05-05 15:20] pgrete commented on #670
I think this would make sense.
It also add a kind of failsafe to not have duplicate entries by definition.

[2022-05-11 02:58] brryan opened #674 "Sort particles efficiently on device"
When updating particles we occasionally need to sort the device-side pool of particles based on where they are. For example we need to construct lists of indices of particles that should be sent to each neighboring block. This right now is done inefficiently with deep copies and needs to be updated. `par_scan` will help but there may also be some residual issues with e.g. sizing the arrays that ho

[2022-05-13 01:59] #637 closed, assigned to nobody

[2022-05-16 10:08] pgrete opened #675 "User bounds force swarm bounds"
When using user boundary function, swarm boundary function are currently enforced in Parthenon at the mesh level, e.g.,
[code]

If a downstream app/package does not make use of particles, this results in a hard fail nevertheless.

I wonder what the best solution would be, i.e., where the error handling/sanity should happen?
At the downstream code? In Parthenon (e.g., when a package enrolls particl

[2022-05-16 16:10] brryan commented on #675
Yes I see this now in our downstream code when `user` boundaries are requested but only field boundaries are provided, even if there is no swarm. Sorry! I think this is an easy fix actually, since we do already also check for swarm boundaries being non-`nullptr` in `Swarm::AllocateBoundaries()`. So we can just remove the check you highlighted and everything seems to work correctly on my end. PR is

[2022-05-17 10:18] #675 closed, assigned to nobody

[2022-05-17 16:00] #648 closed, assigned to nobody

[2022-05-31 16:47] #657 closed, assigned to brryan

[2022-06-06 16:39] lroberts36 commented on #672
@brryan @pgrete : It looks like this might be an issue with `thrust::sort` (see https://github.com/NVIDIA/cccl/issues/754). If I comment out the calls to `thrust::sort` in `sort.hpp` (which is obviously not a solution to the problem), the compile time for `test_unit_sort` is reasonable.

[2022-06-06 17:24] brryan commented on #672
Interesting, thanks for sharing -- it seems like this issue causes compile times to scale with complexity of the comparator but in the unit test it's a simple `<`. On a hunch, I tried changing the sorted `value` from `char value_[STRLEN]` to `int` and this seems to solve the compile time issue. Surprising but I think this is a reasonable fix for this annoying problem -- I'll put a PR up in a secon

[2022-06-14 02:20] lroberts36 commented on #672
Fixed in NVIDIA/thrust#680

[2022-06-14 02:20] #672 closed, assigned to nobody

[2022-06-19 21:08] pgrete opened #683 "Store arbitrary/mesh data in output"
Do we have a way to store (and restore) arbitrary data (e.g., not tied to a block) in our output files apart from abusing the "input file"?
Specifically, I need to save a (small) array of complex numbers that is identical across all ranks and blocks.

[2022-06-20 03:56] Yurlungur commented on #683
I don't think so---this is something I think we'd be interested in having too. It would be useful to be able to save, e.g., `Kokkos::View`s stored in `param`s. Maybe if we had some serialization mechanism?

[2022-06-20 08:10] pgrete commented on #683
I also thought about the `Params`. If I didn't miss anything then we currently don't read/restore `Params` from the restart file.
From my point of view, this sounds reasonable and should probably stay that way because it prevents a misalignment between the input file and the `Params` object. In other words, the "active" `Params` always relies on being (re)populated in a consistent manner during pa

[2022-06-20 19:40] pgrete opened #684 "Output component naming"
After the merge #679 reading AthenaPK data is broken because we have another edge case.

Our main variables are stored in a single field, but it's not a vector in the mathematical/physical sense.
Therefore the change introduced by the PR
[code]
results in the components being labelled as
[code]

One easy fix would be to adjust the analysis tools (e.g., `yt`) to use the new field names.
However, I'

[2022-06-20 19:43] pgrete commented on #664
Just stumbled across this, too.
As far as I can tell, the issue is that the `ib.s, ibe`, etc bounds are taken only once and from the block itself.
Therefore, the size of the variable is ignored.
I'll first look at some open PRs over the next days and then might try to fix this.

[2022-06-20 22:03] pgrete opened #687 "Check if restriction to single argument reduction is still required"
Our `parthenon::par_reduce` is currently limited to a single argument reduction (i.e., reduction to a single scalar only) by checking for `inline typename std::enable_if<sizeof...(Args) <= 1, void>::type`
This is likely related to earlier Kokkos versions.
In more recent version this restriction has been lifted and an arbitrary number of arguments can follow the lambda function each being a separat

[2022-06-20 22:46] Yurlungur commented on #683
Ah, that's possible. I know we output `Params`, but I think you may be right that we don't read from them. I'm also pretty sure this mechanism fails for `Kokkos::View`.

I don't think it should matter in principle, but you're right that we currently set them in `Initialize` every setup, so reading them again from the restart file is currently not consistent. We'd need some mechanism for preventing

[2022-06-20 23:00] Yurlungur commented on #684
The ability to automatically group vectors is useful for us downstream. What about a metadata solution, where physical vector is distinguished from a grouping as in AthenaPK?

[2022-06-21 09:10] pgrete commented on #684
Maybe I misunderstood the original issue, but I was/am only concerned about the label used in the output file (not internally).
Here's a suggested quick fix: https://github.com/lanl/parthenon/pull/688
It uses the given component labels if they are provided for all component and otherwise create compound labels from the `label` with the index.
Does this work with/fix the original issue issue in Pho

[2022-06-21 15:51] Yurlungur commented on #684
Yeah that should work fine for us I think.

[2022-06-21 17:05] #684 closed, assigned to nobody

[2022-07-07 16:20] lroberts36 commented on #418
In #663, the option to split the communication tasks into local and non-local channels is implemented. The task list would look something like
[code]

I tested it for the advection test problems and it gives correct results, but there at least it slows down performance. It is also should be easy to break down into finer grained decompositions of the communication structure.

[2022-07-07 16:23] lroberts36 commented on #415
I think this issue maybe should be closed at this point since the buffers because #493 has been merged. #663 also allocates one single large buffer and reuses previous allocations.

[2022-07-07 16:25] Yurlungur commented on #415
:+1:

[2022-07-07 16:25] #415 closed, assigned to nobody

[2022-07-19 15:00] lroberts36 opened #695 "Add concepts lite documentation"
PR #694 introduces a limited version of concepts using C++11. The code contains extensive comments but there is only a stub for markdown documentation (`doc/concepts_lite.md`). This needs to be filled out.

[2022-07-19 15:34] lroberts36 opened #696 "Pull templated set of looping utilities together into one header"
In PR #663 and in PR #692 we introduce templated looping utilities for looping over boundaries and blocks. It probably makes sense to include these sorts of utilities in a single header file. This is also somewhere were concepts probably can be used.

[2022-07-19 18:30] lroberts36 opened #697 "Add sparse pack documentation"
The sparse pack functionality in #692 needs to be documented since the type based indexing can be a little confusing at first glance. Maybe this should be added to `docs/interface/containers.md`.

[2022-08-01 15:36] pgrete opened #701 "`ParArrayGeneric` parenthesis operator broken for enum type indices?"
While reviewing the sparse comm PR I noticed that AthenaPK does not build anymore.
It looks like there's a connection to the default constructors introduced in #681
One of the error messages is:
[code]

I'm not sure where this error comes from nor why we didn't catch this in the existing tests. Using a `ParArary#D` seems like a usecase we should provide.

Any thoughts @lroberts36

(Probably indepe

[2022-08-01 16:27] Yurlungur commented on #701
These both sound like bugs to me. I'm pretty sure both generic accessors and constructors should work with both `ParArrayND` and `ParArray#D`. @lroberts36 ?

[2022-08-01 16:27] Yurlungur commented on #701
☝️ by which I mean bugs in `parthenon` obviously, not in `AthenaPK`.

[2022-08-01 18:11] lroberts36 commented on #701
Based on the error message it looks like `n_rho` and `n_pres` are `double`s. Is that actually the case? If so, the requirement that the constructor takes integral types could be relaxed in `parthenon`, although we would have to think about if this is a safe thing to do in general. @pgrete I can't find the `AthenaPK` code to look more carefully, is it available somewhere?

[2022-08-01 18:14] Yurlungur commented on #701
I'm surprised that the `double`s weren't automatically downcast?

[2022-08-01 18:14] lroberts36 commented on #701
Didn't notice the second error. I think that one can also be fixed by removing the requirement that all values passed to the accessor are integral as well. I think passing an integral `enum` should be something that is supported.

[2022-08-01 18:16] lroberts36 commented on #701
It is a template based check for integral types and I don't know when that gets resolved during compilation relative to when the compiler would perform automatic down casting. It is easy to remove these requirements on the types, although I think it is a bit dangerous to have variadic templates that just accept anything.

[2022-08-01 18:21] lroberts36 commented on #701
Maybe we should just do `std::is_integral<T>::value | std::is_enum<T>::value`. I am not convinced that we should let people initialize array bounds with `double`s, etc.

[2022-08-01 18:52] Yurlungur commented on #701
I think it's pretty safe to allow doubles. If you don't check for it, the compiler should downcast, since the template forwards it all to integer-based methods.

[2022-08-01 18:59] lroberts36 commented on #701
I think allowing `double`s can potentially result in code that can have subtle bugs due to rounding during the implicit downcast. IMO, it would be better if downstream users had to explicitly cast if they want this behavior. That being said, if this is done in many places and it is a lot of work to change, we could just allow floating point types as well.

If we want to go down that path, it is pr

[2022-08-01 20:13] pgrete commented on #701
Thanks for the quick replies!

This `double` was actually a bug on our part, doh...
https://gitlab.com/theias/hpc/jmstone/athena-parthenon/athenapk/-/blob/main/src/hydro/srcterms/tabular_cooling.cpp#L588
`const Real n_rho = pin->GetInteger("cooling", "test_n_rho");`
I only read the Get**Integer** part and assumed the front would be `auto`.
So don't mind that error.

As for the `enum`, the quick fi

[2022-08-01 20:38] lroberts36 commented on #701
I think I am pretty happy with the behavior that we got here. The initial error message from the compiler was pretty informative (at least for a template related error message)
[code]
and this pointed to a potential future bug in the downstream code (since just casting from `int` to `double` to `int` is I think guaranteed to give back the original value since the mantissa of a `double` is larger t

[2022-08-01 21:18] Yurlungur commented on #701
Fair enough. I defer to good code smells over free-wheeling flexibility. :P

[2022-08-02 16:58] #701 closed, assigned to nobody

[2022-08-03 20:53] Yurlungur opened #704 "Move prolongation/restriction and buffer info machinery to own directories"
@lroberts36 points out that it would be nice to re-organize the code to move the buffer logic and prolongation/restriction logic into its own directory higher up in the source tree. The suggested time to do this is in a reorganization step after sparse is merged in. I agree and think when we thread prolongation/restriction into userland, that might be a good opportunity.

[2022-08-04 10:01] pgrete opened #705 "Kokkos 3.6.01"
Are there any objections to bump Kokkos to 3.6.01 early next week after the new release?
This will
- improve HIP and SYCL backend (I'm actually using newer Kokkos version for the tests on Frontier)
- introduce `KOKKOS_IF_ON_{HOST/DEVICE}` macros that will be useful, for example, in #663 or in AthenaPK downstream

This
- should not have an impact on the current Parthenon codebase (apart from improv

[2022-08-04 14:47] Yurlungur commented on #705
No objections from me. I think this a good idea.

[2022-08-04 14:54] Yurlungur opened #706 "Performance best practices docs page"
As @pgrete points out we have a lot of performance knobs to turn in the code---it would be good to have some documentation on what the best practices are.

[2022-08-04 17:58] lroberts36 commented on #705
This certainly seems like a good fix for the cuda macro that is currently used in #663.

[2022-08-05 09:49] pgrete opened #709 "C++17 code in current release"
Clang tells me:
[code]

Has anyone tried with an older compiler if this actually results in an error when the compiler cannot handle this?

[2022-08-05 09:49] #705 closed, assigned to nobody

[2022-08-05 10:46] pgrete commented on #709
Nevermind. It's just a naming thing. Using `class` instead of `typename` works.

[2022-08-05 18:44] #626 closed, assigned to nobody

[2022-08-05 19:36] #418 closed, assigned to nobody

[2022-08-06 00:57] lroberts36 commented on #704
Things we might want to do as part of the cleanup:
- Rename `cc/sparse_bvals_in_one.cpp` and `cc/sparse_flux_correction_in_one.cpp` and move everything out of `cc/` directory since we likely want to unify boundary communication for different types of variables.
- Move `BndInfo` object to its own file from `cc/bvals_in_one.hpp`, since it is used in a few different places in the code. `calc_indices.

[2022-08-08 14:34] Yurlungur commented on #704
I'm in favor of all of this. But I would argue we should keep `RestrictField*` in place until @forrestglines has finished with the face stuff, as that code may be a useful reference.

[2022-08-08 18:11] lroberts36 commented on #704
Yes, keeping that in makes sense. Could always move to a `dead_code` folder if we wanted to keep it around for a while but do the cleanup sooner than later.

[2022-08-16 20:50] Yurlungur opened #714 "`GetOrAdd` should automatically add the relevant meshblock data"
At the top of the task list for the advection example, we have something like this:
[code]
This is an annoying little gotcha for new users, especially if they're working entirely within the confines of `MeshData`. We should have some way to automate this. Perhaps within the `DataCollection::GetOrAdd` method.

[2022-08-16 20:55] Yurlungur opened #715 "Incorrect assert in `ParArrayNDGeneric`"
`ParArrayNDGeneric` incorrectly asserts that all indices of a newly created `ParArrayND` are nonzero. This will fail for `ParArrayNDs` that are declared empty and then modified. It's causing me problems when running with debugging, as I need to comment this assert out.

[2022-08-17 18:37] #715 closed, assigned to nobody

[2022-08-19 22:19] Yurlungur opened #718 "`bvals_swarm` + new `ParArray*D` + host-buffers"
When building with
[code]
I now get the following error
[code]
which appears to be related to how `bvals_swarm` uses the comms buffers. Pinging @brryan and @lroberts36

[2022-08-19 22:47] Yurlungur commented on #718
It's a one-line fix. #719.

[2022-08-21 15:47] #718 closed, assigned to nobody

[2022-08-22 23:42] Yurlungur opened #720 "Kokkos Atomics in v3.6.01"
I recently discovered that on our local Cray cluster, I need to build with
[code]
or I encounter several difficulties:
- In downstream codes with relocatable device code, `Kokkos::initialize` fails immediately
- Even with no downstream RDC, with cuda-aware MPI, a code path eventually triggers, which causes an error.

In both cases, the error looks like
[code]

I've reported this issue to the Kokko

[2022-08-24 17:54] brryan opened #721 "`GetFlatIdx` may not support a variable in both `vars` and `fluxes`"
The flattened index returned by `imap.GetFlatIdx(key)` may return incorrect indices if `imap` is set by `PackVariablesAndFluxes` when `key` is included in both the variables and the fluxes but there is a mismatch in the number/ordering of other keys between variables and fluxes.

Discussed this with @lroberts36 and this issue should not appear in the upcoming `SparsePack`, but is something to be c

[2022-08-30 10:27] pgrete opened #722 "Need to check builds without optional dependencies"
Currently the "IAS CI performance" test covers a serial, no-hdf5 built.
We should include this build config in the general pool of build config (especially as the performance test will be updated soon),

[2022-08-31 08:44] pgrete opened #723 "Metrics App CI failed"
Can someone at LANL please check why current `develop` failed: https://re-git.lanl.gov/eap-oss/parthenon/-/jobs/536301
Ping @jdolence @Yurlungur @brryan @lroberts36

[2022-08-31 16:01] lroberts36 commented on #723
@pgrete It looks like the `advection_outflow` tests and the `poisson` tests are failing because of a mismatch in the `OutputFormatVersion` attribute in the hdf5 output. We could either update the gold files or ignore this attribute in the hdf5 diff, I would vote for the latter.

[2022-08-31 20:02] Yurlungur opened #726 "Kokkos instrumentation"
It would be nice to include kokkos instrumentation in automated testing. The spacetime stack for example might be useful to track with time. And this would also ensure instrumentation doesn't break.

[2022-09-01 08:07] pgrete commented on #726
I actually started working on this in #534 but it's way outdated now.
Bottom line: I'm fully in favor of this!

[2022-09-01 11:34] #723 closed, assigned to nobody

[2022-09-06 14:44] jdolence opened #727 "Developer Meeting questions/issues"
This issue is to keep track of questions, issues, problems, etc. that come up as people pick of Parthenon for the first time and try to come up to speed before the Developer Meeting.

Please post any issues you think should be addressed or you'd like discussed at the Developer Meeting.

[2022-09-13 22:49] lroberts36 commented on #709
I think this is resolved? @pgrete

[2022-09-14 16:13] pgrete commented on #709
Yes, I updated this in #710

[2022-09-14 16:13] #709 closed, assigned to nobody

[2022-09-23 17:16] BenWibking opened #728 "plans for Ascent support?"
Hi,

Are there any plans to add support for using Ascent for in-situ visualization?

Thanks,
Ben

[2022-09-26 14:38] pgrete commented on #728
In-situ viz (and analysis) is on our wish-list (and becoming more and more pressing).
We'll discuss during the developer workshop next week.
If you have specific guidance, experience, requirements,... please share so that we can take those into account.

[2022-09-26 15:05] BenWibking commented on #728
I've added Ascent support to Quokka, but the difficult part was already done in AMReX (constructing the data structures for the AMR grids). For me, the important features are slice plots, mostly to check if the simulation is still doing something reasonable (and also for making high-time-resolution movies), and outputting text files with summary statistics from VisIt-like expressions (that are JIT

[2022-09-27 14:17] pdmullen commented on #727
Getting excited for the workshop! 😄 A few notes from my first experiences with Parthenon and things I'd like to see discussed:

(1) To get up-and-running on my Mac (with HDF5), I had to make the changes in PR #613.
(2) The Wiki is a bit hard to navigate.  When I navigate to the Wiki tab, I see links to meeting notes (which are exciting to read through; thanks for including these!) and correspondin

[2022-09-27 17:21] BenWibking opened #731 "is it safe to use Kokkos_ENABLE_IMPL_CUDA_MALLOC_ASYNC?"
In AMReX, using the CUDA stream-ordered memory allocator improves performance significantly. In Kokkos, I see it is disabled by default due to a bug in UCX: https://github.com/kokkos/kokkos/issues/4228.

Is it safe to build Parthenon+Kokkos with `Kokkos_ENABLE_IMPL_CUDA_MALLOC_ASYNC` enabled? If not, is there a possible workaround to use this for temporary arrays on device that aren't used as MPI

[2022-09-27 17:22] BenWibking commented on #731
Also, is this known to work with any other MPIs, e.g. Cray?

[2022-09-28 12:19] pgrete commented on #731
These are good questions that I don't quite have the answer for.
We are aware of the issue with memory alloc/dealloc overhead and tried to work around those where possible.
For example, all comm buffer are allocated in a single View and the individual buffer are subview to that view, as subviews are effectively for free in terms of costs.

As far as I know, no one has tried/tested malloc_async yet

[2022-09-28 12:21] BenWibking commented on #731
Ah, I was thinking of the arrays used for storing the reconstructed variables at faces, fluxes, etc. I am not that familiar with Kokkos -- how does ScratchPadMemory work under the hood?

[2022-09-28 12:25] pgrete commented on #731
I see, this is exactly what we do in AthenaPK, see https://gitlab.com/theias/hpc/jmstone/athena-parthenon/athenapk/-/blob/main/src/hydro/hydro.cpp#L817
Under the hood for cuda it's "shared memory"  and for Kokkos Module 4 of the lecture https://github.com/kokkos/kokkos-tutorials/wiki/Kokkos-Lecture-Series

[2022-09-28 12:39] BenWibking commented on #731
But `cons.flux` is not in scratchpad memory, or is it?

[2022-09-28 12:43] pgrete commented on #731
Correct, we decided to always allocate flux arrays for all three dims.
This uses quite some memory but makes it straightforward to add additional physics that modifies the fluxes on top of the standard fluxes.

[2022-09-28 12:49] BenWibking commented on #731
Can you point me to where this is allocated in AthenaPK?

[2022-09-28 12:58] pgrete commented on #731
This is implicitly handled by Parthenon by specifying the "cons" variables with the `WithFluxes` MetaData, see https://gitlab.com/theias/hpc/jmstone/athena-parthenon/athenapk/-/blob/main/src/hydro/hydro.cpp#L543 and https://github.com/lanl/parthenon/blob/develop/docs/interface/Metadata.md#ghost-zones-communication-and-fluxes
The actual allocation happens here: https://github.com/lanl/parthenon/blo

[2022-09-28 13:13] BenWibking commented on #731
Thanks.

[2022-09-28 15:16] Yurlungur commented on #731
This is no longer true. We play this game for fluxes + coarse buffers, but comm buffers are now pooled.

I have run with cray-mpich, with only the complications that come with any cray machine.

[2022-09-28 15:18] Yurlungur commented on #731
In particular, there is a "pool" of comm buffers of the appropriate shape, which we pull from. Only if we run out of free buffers do we allocate more, which are allocated in some fixed batch size.

[2022-09-28 15:19] BenWibking commented on #731
Just to be clear, does `Kokkos_ENABLE_IMPL_CUDA_MALLOC_ASYNC` + cray-mpich work?

[2022-09-28 15:21] Yurlungur commented on #731
Ah sorry I misunderstood. I haven't tried this. But I assume if you are using `cray-mpich` with the OFI transport layer, not UCX, it should be ok.

[2022-09-28 16:21] Montana opened #733 "Inclusive `par_for` for raw arrays (physics kernels)"
Hey all,

I seen a topic on this earlier - was  `par_for` with exclusive end index ever implemented? One of the suggestions was to name it `par_efor` or something similar. Most of the AMR and physics kernels that the current inclusive `par_for` makes sense, but occasionally when dealing with raw arrays an exclusive `for` would be more convenient in my opinion.

[2022-09-28 16:54] Yurlungur commented on #733
No---we never implemented this, thought it would be straightforward to do so.

[2022-09-28 17:53] lroberts36 commented on #731
FWIW when the pool runs out, the new comm buffer batch is still created as a single view and then chunked into subviews.

[2022-09-28 20:00] Montana commented on #733
Thank you @Yurlungur.

[2022-10-04 16:25] pgrete commented on #727
Wish list/feature requests (in any order)

- `AnalysisDriver`
- In-situ analysis
- IO
  - Performance
    - may be slow(?)/could be further optimized
    - use separate host thread
  - Need more flexible output shapes
  - Need support for particle IO
  - Support for lossy data compression
- Face-, edge- and node-centered vars
  - needed for MHD
  - also good for dynamical spacetimes
  - possible o

[2022-10-04 18:00] Yurlungur opened #736 "Plan for face-centered fields"
From Hackathon:
- Cell vars generalized to become differently shaped fields
- Generalize "WithFluxes" to be more verbose about what kind of fluxes
- "EMF correction" implemented as "line integral correction"
- Keep in mind concern about order of operations

TODOS:
- [x] Flux correction in one (Luke)
- [x] Remove all the old face-centered stuff leftover from athena++ (Forrest) #738
- [x] Rename CC

[2022-10-05 23:07] lroberts36 opened #744 "Support for multiple types of `MeshBlockData`"
There are a number of use cases for allowing for multiple types of variables (e.g. mixed precision solvers, flagging). During the 2022 Parthenon meeting, a discussion was had about the best path for implementing this and what the needs of various users were. The consensus was that this is straightforward to implement, but it is not currently high priority. Some thoughts:

- Currently, `MeshBlockDa

[2022-10-06 14:19] brryan commented on #744
One small concern: If we require specifying types through `Metadata` then won't downstream developers be unable to enroll types that aren't already hardcoded into parthenon, for example a downstream code-specific `enum`? I think this wouldn't be a concern if we instead specifed type via a template parameter on the `AddField` function.

[2022-10-06 15:27] lroberts36 commented on #744
I was thinking that there might be some clever way to store a generic type in the metadata (not sure if this is possible? although my general belief is that all is possible in c++ at compile time), rather than doing this through metadata flags.

[2022-10-06 15:34] Yurlungur opened #745 "Names for the parthenon github project"
Drop your suggestions or vote on them with 👍 here.

[2022-10-06 15:34] Yurlungur commented on #745
My suggestion: Parthenon-AMR

[2022-10-06 15:35] Yurlungur commented on #745
Another suggestion: parthenon-project

[2022-10-06 15:39] Yurlungur opened #746 "Update to C++17"
We all agreed we should do this. The relevant TODOs:
- [ ] Update Kokkos tag
- [ ] Update CMake
- [ ] Update Readme and documentation
- [ ] Cleanup code

[2022-10-06 16:10] pgrete opened #747 "Remove support for "installing" Parthenon as a library"
Result of discussion from the 2022 dev meeting:
- no one saw a use case of installing Parthenon as a separate library
- support compile time coord system would complicate support/use of external lib
- we can remove that feature

[2022-10-06 16:18] Yurlungur opened #748 "Notes from coordinates discussion"
- [ ] Shengtai to submit PR with working code. Code not necessarily to be merged. Just to check. (Shengtai)
- [ ] Clean up/redefine uniform cartesian (@forrestglines )
- [ ] Provide one or two coordinate systems + uniform Cartesian (cylindrical, spherical)
- [ ] Modify build system so downstream codes can hook into this infrastructure. Requires including relevant external user code to define
- [ ]

[2022-10-06 16:33] Yurlungur opened #749 "Notes from I/O Shape"
- [ ] Variable shapes to be supported. Team decided on native shape
- [ ] Ben or Jonah to implement particle I/O
- [ ] phdf.py and xmdf will both need to be modified

[2022-10-06 16:49] pgrete commented on #745
parthenon-code

[2022-10-06 16:49] pgrete commented on #745
parthenon-org

[2022-10-06 16:49] pgrete commented on #745
parthenon-collaboration

[2022-10-06 20:10] pgrete commented on #745
parthenon-group

[2022-10-06 20:28] BenWibking opened #750 "recommended build settings for Crusher"
Hi,

I am not able to successfully build Parthenon on Crusher. Are there modules + CMake settings known to work?

I'm currently using
[code]

Thanks,
Ben

[2022-10-06 20:31] Yurlungur commented on #750
I haven't used crusher so I can't totally confirm. What is the error you are seeing? (Personally, I typically `module swap PrgEnv-cray PrgEnv-gnu` on cray machines.)

[2022-10-06 20:42] pgrete commented on #750
On it, PR incoming.

[2022-10-06 22:26] pgrete commented on #745
parthenon-team

[2022-10-06 22:27] jdolence commented on #745
parthenon-collab

[2022-10-06 22:28] jdolence commented on #745
parthenon-consortium

[2022-10-06 22:30] lroberts36 commented on #745
parthenon-league

[2022-10-06 22:32] jdolence commented on #745
parthenon-thread

[2022-10-06 22:32] Yurlungur commented on #745
parthenon-device-kernel

[2022-10-06 22:35] Yurlungur commented on #745
the-best-parthenon

[2022-10-06 22:36] tagardiner commented on #745
parthenon-best-of

[2022-10-06 22:37] Joseph-Weller commented on #745
parthenon-not-the-building

[2022-10-06 23:45] pgrete opened #752 "Update output `final` logic"
the `final` output names typically only make sense when the simulation stopped before reaching a limit set by the input file (such as `nlim` or `tlim`), e.g., by reaching a wallclock limit or being interrupted by a signal.
Thus, we could only use `final` in that case so that the last (intended) output automatically also gets a proper id.

[2022-10-07 15:42] c-prather opened #754 "Archival parameter dumps"
There was a request for outputting a set of all Parthenon's parameters -- this is offered for downstream codes to do, but would be useful as an optional upstream feature.  For example, in KHARMA:

[code]

This seems easy to push upstream but I'm not sure what options should be called, where this fits, etc.  Would be edifying for me to learn/see from a core dev where it should end up.

[2022-10-07 15:59] Joseph-Weller commented on #745
Parthenon-HPC-Collab

[2022-10-07 16:02] jdolence commented on #745
parthenon-hpc-lab

done

[2022-10-07 16:02] #745 closed, assigned to nobody

[2022-10-07 18:20] pgrete opened #756 "Need to document all parameters"
@forrestglines also suggested to add some names to the doc for whom to potentially contact/tag for questions

[2022-10-07 19:37] BenWibking commented on #750
The errors look like this (there are a lot):

[code]

[2022-10-07 19:45] pgrete commented on #750
Sorry this takes longer, I'm still debugging Parthenon on Crusher (there are runtime errors for the regression tests similar to #659 ).
The compile error you see, is specific to AthenaPK and fixed in a very-soon-to-be-merged branch (will reply on AthenaPK GitLab momentarily).

[2022-10-07 20:07] pgrete commented on #746
I suggest to not just go to Kokkos 3.7 yet without additional testing.

Basic pieces are updated in #758 but I a more general "cleanup" is still "tbd" (so I added it above to the checklist).

[2022-10-07 21:14] Yurlungur commented on #736
Additional note: AMR load balance is missing some logic for tensor-valued quantities to communicate tensor values accross mesh boundaries. We need to repeat what @brryan did for buffer packing.

[2022-10-07 22:09] pgrete opened #760 "Check existence of variable that go into packs"
I just "invested" some time finding a "bug" with pack indexing that boiled down to packing a variable based on string with a typo (so that the variable actually did not exist).
The current pack machinery does not check whether variables exist, but instead return a `-1` index for non-existent variables.
While there are use cases in some downstream codes for this, for others this is potentially "dan

[2022-10-07 22:11] Yurlungur commented on #727
Meeting was a success. See other issues!

[2022-10-07 22:11] #727 closed, assigned to nobody

[2022-10-07 22:12] Yurlungur commented on #48
Resolved by #451

[2022-10-07 22:12] #48 closed

[2022-10-07 22:14] #81 closed

[2022-10-07 22:14] #106 closed

[2022-10-07 22:15] Yurlungur commented on #128
Appears resolved.

[2022-10-07 22:15] #128 closed

[2022-10-07 22:16] Yurlungur commented on #141
Discussed further in #744

[2022-10-07 22:16] #141 closed

[2022-10-07 22:17] Yurlungur commented on #156
Outdated

[2022-10-07 22:17] #156 closed

[2022-10-07 22:19] Yurlungur commented on #161
Relevant for #749 but not resolved.

[2022-10-07 22:19] Yurlungur commented on #161
Could be coupled to component labels machinery.

[2022-10-07 22:24] Yurlungur commented on #182
The reconstruction methods used in parthenon are not used downstream because it makes some assumptions and is not performant. We should either clean up/optimize these methods or delete them. Which should we pursue?

[2022-10-07 22:28] Yurlungur commented on #183
See #185

[2022-10-07 22:28] #183 closed

[2022-10-07 22:28] Yurlungur commented on #185
As discussed in parthenon meeting, this capability should be re-enabled for `MeshBlockPack`s

[2022-10-07 22:29] Yurlungur commented on #189
In parthenon paper. Great work everyone.

[2022-10-07 22:29] #189 closed

[2022-10-07 22:29] Yurlungur commented on #191
Resolved.

[2022-10-07 22:29] #191 closed

[2022-10-07 22:30] #197 closed

[2022-10-07 22:30] forrestglines commented on #221
Outdated with current buffer packing

[2022-10-07 22:30] #221 closed

[2022-10-07 22:31] Yurlungur commented on #198
We roll our own performance regression tests

[2022-10-07 22:31] #198 closed

[2022-10-07 22:31] forrestglines commented on #217
Outdated since the old face centered fields were removed in preparation for the new implementation.

[2022-10-07 22:31] #217 closed

[2022-10-07 22:33] Yurlungur commented on #206
Linting is no longer a required target. You can just get it with `make lint`. Format with `make format`.

[2022-10-07 22:33] #206 closed

[2022-10-07 22:34] Yurlungur commented on #207
Not only is this possible, we're considering disabling it.

[2022-10-07 22:34] #207 closed

[2022-10-07 22:35] #208 closed

[2022-10-07 22:36] Yurlungur commented on #209
Resolved

[2022-10-07 22:36] #209 closed

[2022-10-07 22:37] Yurlungur commented on #219
Not desirable because we often want pure MPI runs.

[2022-10-07 22:37] Yurlungur commented on #219
OpenMP should be disabled by default.

[2022-10-07 22:38] #220 closed

[2022-10-07 22:38] #222 closed

[2022-10-07 22:39] #223 closed

[2022-10-07 22:39] #225 closed

[2022-10-07 22:39] #227 closed

[2022-10-07 22:40] #229 closed

[2022-10-07 22:43] Yurlungur commented on #248
Mostly resolved. CC @jdolence Trenzo Survey

[2022-10-07 22:44] Yurlungur commented on #255
Ping @pgrete (also see issue on Crusher)

[2022-10-07 22:45] #257 closed, assigned to nobody

[2022-10-07 22:45] #260 closed, assigned to nobody

[2022-10-07 22:46] Yurlungur commented on #264
Ping @jdolence open PR

[2022-10-07 22:47] Yurlungur commented on #273
Deferred given library vs in-tree build discussion #747

[2022-10-07 22:47] #273 closed, assigned to JoshuaSBrown

[2022-10-07 22:49] Yurlungur commented on #286
`[]` no longer allowed with `packages`

[2022-10-07 22:49] #286 closed, assigned to nobody

[2022-10-07 22:50] #295 closed, assigned to Yurlungur

[2022-10-07 22:50] Yurlungur commented on #297
Cannot be solved.

[2022-10-07 22:50] #297 closed, assigned to nobody

[2022-10-07 22:51] Yurlungur commented on #301
In parthenon paper

[2022-10-07 22:51] #301 closed, assigned to nobody

[2022-10-07 22:53] Yurlungur commented on #316
Code style is now to pass raw pointers, owned by smart pointers, e.g., `foo(bar.get());`

[2022-10-07 22:53] #316 closed, assigned to nobody

[2022-10-07 22:54] pgrete commented on #316
ping @pgrete review

[2022-10-07 22:55] Yurlungur commented on #318
As pointed out by @bprather and others at parthenon meeting, sliced text output could be nice.

[2022-10-07 22:55] #322 closed, assigned to nobody

[2022-10-07 22:56] #338 closed, assigned to nobody

[2022-10-07 22:57] #348 closed, assigned to JoshuaSBrown

[2022-10-07 22:57] #351 closed, assigned to AndrewGaspar

[2022-10-07 22:58] #354 closed, assigned to nobody

[2022-10-07 22:58] #357 closed, assigned to jdolence

[2022-10-07 22:58] #360 closed, assigned to nobody

[2022-10-07 22:58] #363 closed, assigned to nobody

[2022-10-08 16:10] tagardiner commented on #754
@jonahm-LANL @bprather I'd be happy to take this on as an option to add to parthenon as it will help me work through how this code starts up and begins execution.  Some simple questions:

Presumably you'd like this to be optional, hence there's a default behavior.  I'd recommend that the default behavior is to have it turned on.

In my work, I always have this on and it simply dumps to a file name

[2022-10-08 16:53] pgrete opened #761 "Pack Interface"
I just remembered the point that @bprather raised in terms of threading through strings, metadata, types, etc to the pack interface in the context of allowing to communicate a subset of variables.

How about we create a struct that can hold all kinds of packing information?

That way future pack changes would boil down to updating the struct, but not the interface itself.

Also pinging @Yurlungur

[2022-10-08 17:07] tagardiner opened #762 "Refinement & Derefinement Criteria (Infinite Loop Bug)"
From what I can tell, Parthenon has made the decision to have a refinement and derefinement tolerance.  That is,

if on the current level error > refine_tolerance then refine
and
if on the current level error < derefine_tolerance then derefine.

I've tried this in the past and have run into the following challenge with this approach.

Iteration 1:
On level L check the refine error metric, it's gre

[2022-10-08 17:23] tagardiner opened #763 "Second Order Refinement Error Criterion"
From what I can see, the default Error Criterion is order 1 difference.

In my experience, a normalized second order error criterion has very good properties for picking out sharp features, so I'd like to implement it as an optional criterion.  I'll add details on the proposed enhancement in a subsequent update.

[2022-10-09 17:49] c-prather commented on #756
I started on this in #755 -- since it adds some parameters I needed to document, I did some drive-by improvements to inputs.md.  It has a long ways to go though.

[2022-10-09 17:53] c-prather commented on #754
I have a PR open that tries to implement the basics of this, #755, but I'm not sure it's what anyone else wants and I'd welcome any input.  I stuck with a very basic "generate parthinput.archive when parthenon/job/archive_parameters is true," with an additional option "archive_parameters_timestamp" to add a timestamp.

It looks like the PR is stuck on the formatter's dislike of std::chrono for gen

[2022-10-10 14:35] Yurlungur commented on #762
Thanks for playing with this! Our solution to this refinement + derefinement loop is that we check for refinement every cycle, but derefinement only every, say, 10 cycles. The number of cycles to check is set in the input deck. That said, I like the strategy of checking 1 level up.

[2022-10-10 14:39] tagardiner commented on #762
Does this apply on initialization as well?

[2022-10-10 14:45] Yurlungur commented on #754
The `std::chrono` thing is a function of `cpplint` which has some google-specific [idiosyncrasies](https://stackoverflow.com/questions/33653326/google-style-guide-chrono-is-an-unapproved-c11-header).

This seems fine to me.

We actually either use `parthinput.*` or `*.pin`

[2022-10-10 14:45] Yurlungur commented on #754
`parthenon/job` seems perfectly reasonable to me.

[2022-10-10 16:06] Yurlungur commented on #762
Oh! On initialization no it doesn't. I see your point. Yes, this is a bug. I'll look at the initialization loop... maybe it's an easy fix.

[2022-10-11 02:43] pgrete commented on #762
My first thought here is to just disable derefinement during initialization because if a block has been refined in a previous pass then it should be refined (period)

[2022-10-11 14:50] Yurlungur commented on #762
That seems reasonable.

[2022-10-11 22:16] BenWibking commented on #750
It looks like the remaining issues are specific to AthenaPK, so I'm closing this here.

[2022-10-11 22:16] #750 closed, assigned to nobody

[2022-10-27 00:20] Yurlungur opened #770 "Badges need an update?"
Despite the CI on develop currently passing, the badges on the README indicate failing CI. Did something go wrong with them when we migrated to the new project space?

[2022-10-27 00:23] Yurlungur commented on #746
Resolved as we have updated

[2022-10-27 00:23] #746 closed, assigned to nobody

[2022-10-27 00:26] Yurlungur commented on #513
Resolved see #602

[edit] PG: Updated ref to PR [/edit]

[2022-10-27 00:26] #513 closed, assigned to nobody

[2022-10-27 06:37] pgrete commented on #770
Both tests actually failed.

The extended one because the old runner picked up the job. I now turned the old runner off.

The short one failed because of a timeout in the advection test. I'm investigating.

[2022-10-27 08:55] pgrete commented on #659
@lroberts36 I think I identified that the root cause of the issue is related to sparse variables.

When I run the regression test manually
[code]
The test will fail at random times (sometime cycles 4, sometimes 153, sometimes during init) with the following error `:0: : Device-side assertion `Advected not properly initialized.' failed.`.
(Soft) disabling sparse make the code run without problems.

[2022-10-27 09:38] pgrete commented on #770
Just confirmed on my own laptop, this is a legit bug introduced by #755 (the previous merge commit to `develop` does not run into a timeout)

[2022-10-27 09:59] pgrete commented on #770
Can someone else please look at/reproduce this, e.g., @lroberts36 or @bprather ?

With current develop following command (which is run as part of the regression tests) hangs at the final output:
[code]
using the previous version (commit 0c6a56ae93e53c2f4739d30c254d544d3c0a159e) works fine.
Note that is only hangs for MPI runs, serial runs go through fine.

If you can reproduce, how can any change

[2022-10-27 10:28] pgrete commented on #770
Found it...
[code]
As the comment in the source says, "defaults must be set across all ranks" but the default for outputting the param file was just set by rank 0, which is why the final output hang (as the params output in the hdf5 file written in parallel across ranks was out of sync).
I'll push the fix to #740, which was accidentally already merged with #755 (but with the mixed ordering of indi

[2022-10-27 14:00] Yurlungur commented on #770
Phew. Sorry for the mess here...

It looks to me like auto merge is being overzealous so we should perhaps stop using it

[2022-10-27 14:02] Yurlungur commented on #659
I wonder if this is related to a failure to identify whether or not a pack should be rebuilt. @lroberts36 and I discussed this and a solution at some point. I think there's a version in riot with the fix.

[2022-10-27 15:39] lroberts36 commented on #770
Yeah, yesterday automerge triggered way before tests had finished on the flux correction in one PR as well.

[2022-10-27 16:39] pgrete commented on #770
This should not happen any more. I just reactivated that the unit and regression tests are mandatory for a PR to (auto)merge.
Short tests work again (incl the badge) and the extended test failed because of the timing in the overlapping space instances test.
I'm in favor of removing that test as we don't need that feature at the moment and it's a leftover from the original "making buffer packing fa

[2022-10-27 16:49] Yurlungur commented on #770
Short tests work again (incl the badge) and the extended test failed because of the timing in the overlapping space instances test.

Sounds good. Thanks for the fix!

Agreed. Let's remove it.

[2022-10-31 22:04] BenWibking opened #773 "prolongation does not preserve min/max values"
It looks like the slopes for prolongation are computed independently along each direction in `ProlongateCellMinMod` (https://github.com/parthenon-hpc-lab/parthenon/blob/develop/src/mesh/mesh_refinement_ops.hpp#L173)

If this is the case, a limit on the magnitude of the slope vector is necessary to prevent new extrema, e.g. from [another code](https://github.com/AMReX-Codes/amrex/blob/735c3513153f1

[2022-10-31 22:22] Yurlungur commented on #773
Thanks for the catch---yes it's done per-direction right now. Would be straightforward (at least in this case) to limit the slope vector.

For most cycles, prolongation only happens in ghost zones, so it's probably safe. But you're right that we can straightforwardly do better here. I've marked this as a bug and I'll try to address it in the near future. (Of course a PR would always be welcome. :)

[2022-11-01 08:33] #770 closed, assigned to pgrete

[2022-11-01 17:06] c-prather opened #776 "Dependent PRs"
It seems like we pretty often open PRs that depend on other still-open PRs -- a necessary consequence of a small team working closely, I think.

It would be nice if we could mark these dependencies in a formal way, to avoid accidentally merging PRs prematurely.  Github doesn't allow this natively, but something like [dpulls](https://www.dpulls.com/) might be easy enough to set up.  It just auto-sc

[2022-11-01 17:13] Yurlungur commented on #776
This is cool. I'd be interested.

[2022-11-01 17:53] pgrete commented on #776
Yes, I also like the idea.
Is there potentially a GitHub action that could be used? (Given that we use self-hosted runners, I prefer to not give external services direct access to the repos).

[2022-11-01 18:35] lroberts36 commented on #659
Tried to reproduce on a Darwin `amd-epyc-gpu` node with an MI25 GPU. Compiled and ran using
[code]
but was unable to reproduce the issue.

[2022-11-01 18:37] pgrete commented on #659
I also tried to reproduce on Spock with MI100 and was not able to.

Now the question is whether this is an issue of performance (MI250[x] vs slower devices), libs or hardware...

[2022-11-01 18:44] lroberts36 commented on #776
This definitely seems like it would be a useful thing to have.

[2022-11-01 20:10] c-prather commented on #776
Opened #777 .  I'm not sure how the tokens for actions work, if we wanted to issue a minimal one it would only need read access to PRs and Issues.

[2022-11-01 23:23] Yurlungur commented on #776
I don't think we need to issue a token manually. I think that happens automatically. I think there was a different permissions error. Can you try again?

[2022-11-01 23:26] Yurlungur commented on #776
Ah problem solved

[2022-11-02 17:30] Yurlungur opened #779 "Do Prolongation/Restriction Need Knowledge about Other Variables?"
Related to #769 .

@bprather points out that the prolongation/restriction operators do not have information about what variables they are, or have access to other variables that have been registered. For things like "primitive prolongation" or "upwinding" this may need re-visiting.

That said that would be a deeper change, either requiring boundary packing to work on meshblockpacks explicitly or r

[2022-11-02 19:54] c-prather commented on #779
It looks like I was wrong about most UCT/AMR schemes.

The inter-variable dependencies show up only for the CT step, in calculating the EMFs.  This step depends at least on the wave speeds and fluid velocities on the face.

However, nothing so complex is needed for prolongation and restriction themselves.  Certainly, restriction is (I think) always done in the obvious way, summing fine cells.

Whe

[2022-11-02 23:50] Yurlungur commented on #779
Sounds good. Thanks for following up. I'll close this for now.

[2022-11-02 23:50] #779 closed, assigned to nobody

[2022-11-03 19:08] #763 closed, assigned to tagardiner

[2022-11-03 20:58] c-prather opened #783 "Caching writes?"
There is an HDF5 addition (virtual object layer, or VOL) to cache writes (and, though less useful, reads) on local flash storage of each node, allowing them to be copied back to slower network storage while execution continues.

Repository is [here](https://github.com/hpc-io/vol-cache)

Some clusters (Summit, Delta) have alternative solutions to this problem using flash cache at a filesystem level

[2022-11-03 21:05] Yurlungur commented on #783
I don't like depending on this automatically---i.e., we should be able to run without it. But it would be nice to run with it when available.

[2022-11-03 21:27] c-prather commented on #783
Absolutely, it should be optional, even when using HDF5.  I think the actual code changes they list in the README are small enough that it would be an easy compile-time flag to maintain, and my hope would be that the repository could just be a submodule or something, with an (optional) Parthenon-managed build.

[2022-11-03 21:28] Yurlungur commented on #783
:+1: That would be super nice! I'd be interested in such a capability.

[2022-11-03 21:50] lroberts36 commented on #761
I think that the `struct PackDescriptor` already does this to some extent for sparse packs. Right now it is not really exposed, but it would be easy enough to create a `SparsePack` factory method that takes a `PackDescriptor` as an argument.

[2022-11-03 22:03] c-prather commented on #754
Closing with merge of #755

[2022-11-03 22:03] #754 closed, assigned to nobody

[2022-11-07 22:23] c-prather commented on #776
#777 is merged.  I should have said "fixed in" so GitHub would close this.

[2022-11-07 22:23] #776 closed, assigned to nobody

[2022-11-07 23:10] c-prather commented on #752
I like this.  It was a handful of lines to put together a prototype and it feels like as a "breaking" change it should go in with the file format breaks for next release.

Should hitting nsteps be a "final" or numbered dump?  I'm inclined to say "final," since I find it much more likely that it's off-cadence with other dumps spaced evenly in simulation time.

@Yurlungur may have opinions. Not sure

[2022-11-08 08:54] pgrete commented on #783
In principle, this sounds like a nice solution.
From a practical point of view, I'm wondering how strongly we need this kind of feature.
So far I've been quite happy with the HDF5 performance given that we typically write comparatively large chunks of data per rank (even for AMR sims) versus lots of tiny writes (where caches are really helping a lot).
I'm just bringing this up as it's something we

[2022-11-08 09:12] pgrete commented on #752
I'm also inclined to say final for the same reason.
The argument could also go along "outputs are determined by a `dt` so everything with this `dt` should get numbers, the last output triggered by anything else (nlim, wallclock, signal/file) should be `final`"
This logic, of course, may change if we allow output based on `dn` for which there are use cases (but I don't need them yet).

[2022-11-08 16:02] tagardiner commented on #752
Just my 2 cents - I've only ever used numbered outputs.  It may just be me, but when I choose a dt for output, I typically choose it to be an integer fraction of the simulation run time, i.e. (tend - tstart) = n dt for n an integer.  But, as most things go with simulations, "don't give shotguns to ducks" as John Hawley would say.  This also makes sense to me from the point of restarting a simulati

[2022-11-08 16:28] brryan commented on #752
Using `final` only when the simulation is interrupted makes sense to me. We recently merged in #729 which makes the `final` labeling entirely optional (disabled by the user by setting `use_final_label = false` in any output block in the input parameter file). Maybe we could extend the `use_final_label` parameter to accept `always`, `never`, and `only_on_interrupt` options? My preference would be t

[2022-11-08 16:52] c-prather commented on #752
Agreed re: option.  An expanded naming option should be easy enough to put into the logic, and as a bonus I feel less bad not checking with every downstream before posting the PR.  I can see someone maybe running a sequence of simulations chained from the output of the last sim: starting based on the last numbered dump requires some searching, where 'final' is more reliable.

Why did I not encount

[2022-11-08 17:28] Yurlungur commented on #752
Using `final` only if the sim is interrupted also makes sense to me. I think that's my preferred modality. But I don't see a big reason to give up the flexibility of setting this in the input deck.

[2022-11-09 15:29] pgrete commented on #659
Alright, "good" news. I got one more data point. On a different machine and a different environment the test similarly fails on MI250X (so we can rule out the OLCF environment).
As before, disabling sparse makes the code work.

[2022-11-09 15:36] pgrete commented on #659
Also #699 does *not* fix the issue.

[2022-11-09 15:39] pgrete commented on #752
Agreed. I like @brryan suggestion in terms of input deck options and default vals.

[2022-11-09 16:44] c-prather commented on #779
Pinging @pgrete if he wants to reopen, since this is where the prior discussion was of (I think) a very similar enhancement need.

[2022-11-09 21:46] lroberts36 opened #785 "`Regression*_test:bvals` failing on develop"
[code]

This is the failure output I get on a Darwin `nv-devkit` node. It appears that the github CI is running into the same issue.

[2022-11-09 21:57] lroberts36 commented on #785
Test passes in `d839a8d8` but fails in the next commit `13f6720` which is the first commit of PR #784. @bprather was this passing on that branch originally?

It looks like the github CI is never running the full test suite on PRs but it is running the full test suite on develop. Is there a reason we are not at least running the full suite of serial tests on the PR CI @pgrete?

[2022-11-09 22:07] c-prather commented on #785
Wait the first commit?  That should fail, I messed up the logic.

If it fails on the second/last commit of that PR then I'm worried, changing that condition shouldn't affect output in any test context, just sometimes remove the last numbered dump when one is produced on or nearly every step.

Is there a docs page somewhere on the tests?  I've never run them manually, so it'll take me a bit to get

[2022-11-09 22:37] lroberts36 commented on #785
It also fails on `b58cdd31c1` (the current HEAD of develop). `13f6720` is the first commit it fails on, but I did not test the intervening commits.

I think if you compile with the tests enabled (which is default), you should just be able to run `ctest` in your build directory and it will run all of the tests. To just run the failing test you can run `$ ctest -V -R regression_test:bvals`.

[2022-11-09 22:39] c-prather commented on #785
Thanks, that should be all I need. I'll take a look now.

EDIT: this definitely appears to be the patch working as intended: the tests expect a last numbered output even when outputs are made very close together or every step. Is there a reason not to switch to the 'final' files (and then update the tests to use the optional backward-compatible behavior when #752 gets addressed)?

[2022-11-11 14:38] pgrete commented on #785
Yes, as mentioned during the call yesterday, we only run the short tests on every push in order to reduce the load (and thus wait times) on the CI machine.
Also, as discussed yesterday, we now enforce a successful (but manually triggered) extened cI run for each PR prior to merging.

[2022-11-16 10:16] #785 closed, assigned to Yurlungur, c-prather, forrestglines, jdolence, pgrete

[2022-11-17 17:20] Yurlungur opened #787 ""Spreading" refinement criteria"
In the Parthenon call, @jmstone and @tagardiner suggested that it can be valuable to refine blocks that are *adjacent* to blocks tagged for refinement. This appears to be valuable for some problems.

[2022-11-17 17:36] Yurlungur opened #788 "How to handle running out of memory after refinement"
@jmstone points out that one can run out of memory on GPU when mesh is refined too much. It would be nice to add guard rails, either by dumping a restart file and dying, or stopping refinement.

[2022-11-18 21:21] BenWibking opened #789 "where to find grid metadata"
I'm planning to implement basic Ascent support (i.e., cell-centered fields, no sparse variables). It looks pretty straightforward, but I'm not super familiar with how to find all the metadata for each grid in Parthenon.

Following https://llnl-conduit.readthedocs.io/en/latest/blueprint_mesh.html#coordinate-sets, for each grid, I need:
1. the location of the lower-left corner (x,y,z)
2. the grid sp

[2022-11-18 21:47] Yurlungur commented on #789
By `grid` here I assume you mean `meshblock` in Parthenon parlance? Most of this information is stored in either the `IndexShape` object or in the `Coordinates_t` object. Both are available per-meshblock. Both are available per-meshblock as the `cellbounds` and `coords` fields of the `MeshBlock` class. However, a more common, parthenon-ic way of doing this is to interact with `MeshData` and `MeshB

[2022-11-18 21:51] BenWibking commented on #789
Yes, I meant `meshblock`. I think that answers everything. I'll come back with questions if there's something else I missed.

[2022-11-19 00:26] tagardiner opened #790 "KOKKOS_DISABLE_WARNINGS=ON"
I'm finding an error on building using kokkos@3.7.00

Error: cannot convert environment variable 'KOKKOS_DISABLE_WARNINGS=ON' to a boolean. Raised by Kokkos::initialize().

Backtrace:
0 libkokkoscore.3.7.00.dylib 0x000000010112d60c                                                                 Kokkos::Impl::save_stacktrace() +  24
1 libkokkoscore.3.7.00.dylib 0x0000000101125bcc Kokkos::Impl::trac

[2022-11-21 09:49] pgrete commented on #790
This is likely related to the way we treat Kokkos within the Catch2 unit tests for test discovery, see https://github.com/parthenon-hpc-lab/parthenon/blob/72314ea5776098d82b8451dac9bc41abcbdbb1a5/tst/catch2_define.cpp#L26  from PR https://github.com/parthenon-hpc-lab/parthenon/pull/651

And related to this Kokkos change: https://github.com/kokkos/kokkos/pull/5221

If you're interested in submittin

[2022-11-21 14:36] tagardiner commented on #790
The KOKKOS unit tests indicate that it will accept the pairs (true, false) (1, 0) (yes, no) but not (on, off).

[2022-11-21 14:42] tagardiner commented on #790
And you're correct @pgrete that setting it to TRUE solves the problem.

[2022-11-21 15:15] tagardiner commented on #790
#791

[2022-11-30 13:40] pgrete opened #792 "Document `nan_payload_tags`"
no, there isn't. I thought it might be useful in some cases where sparse variables are allowed to take any floating point value (so you need some sentinel other than e.g. zero to flag that the data hasn't been initialized) and figured out how to do it, but it isn't used anywhere right now. We could take it out of the PR and introduce it later if someone starts to use it.

_Originally posted by @lr

[2022-11-30 14:21] pgrete opened #793 "Check `check_metadata` for advection_outflow and poisson test"
I was getting errors about the output versions not matching, probably better to update the gold files I guess.

_Originally posted by @lroberts36 in https://github.com/parthenon-hpc-lab/parthenon/pull/699#discussion_r1033862575_

[2022-11-30 14:26] #642 closed, assigned to nobody

[2022-11-30 14:26] #643 closed, assigned to nobody

[2022-11-30 17:20] lroberts36 opened #794 "Update sparse documentation about initialization"
All that `SetAllVariablesToInitialized` does is to set `VariableState::initialized = true` for all variables. It doesn't change anything about the values in the field.

The idea is that newly allocated fields on a block are set to zero but in some cases, users may want to set a different default value on allocation. This could be just a number other than zero or something more complicated that dep

[2022-11-30 19:08] pgrete commented on #794
More sparse doc (copying from the comments so that we have them in one place):

and on initializing only the "`interior`"

[2022-11-30 19:38] #790 closed, assigned to tagardiner